﻿@using Efes.WC
@model List<Efes.Entities.Law.Collection>

@{
    ViewBag.Title = "Hukuk Firmaları Tahsilat Listesi";
}

@if (Authentication.IsAllowedToSee("ViewLawOfficeCollectionList"))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp sbold">
                            Tahsilat Listesi
                        </span>
                    </div>
                    <div class="actions pull-left">

                    </div>
                </div>
                <div class="portlet-body">
                    <div class="form-group">
                        @using (Html.BeginForm("Index", "LawCollection", FormMethod.Get))
                        {

                            <label class="control-label  col-md-1" for="txtAdvancePaymentDate" style="font-weight: bold;">Tarih Aralığı:</label>
                            <div class="col-md-2">
                                <div class="input-group input-small date date-picker txtAdvancePaymentDate"
                                     data-date-format="dd-mm-yyyy"
                                     data-date-end-date="">
                                    <input type="text" class="form-control" readonly="" value="@(ViewBag.Date)" name="date">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group input-small date date-picker txtAdvancePaymentDate"
                                     data-date-format="dd-mm-yyyy"
                                     data-date-end-date="">
                                    <input type="text" class="form-control" readonly="" value="@(ViewBag.EDate)" name="endDate">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <button type="button" class="btn blue " id="btnShowPaymentPlan" onclick="this.form.submit()">Göster</button>
                        }
                    </div>
                    <div class="margin-bottom-10"></div>
                    @if (Model.Any())
                    {
                        <table class="table table-striped table-bordered table-hover tablePager">
                            <thead>
                                <tr>
                                    <th> Account Id </th>
                                    <th> Ödeme Tarihi </th>
                                    <th> Tutar </th>
                                    <th> Ödenen Banka </th>
                                    <th> Tahsilat Açıklaması </th>
                                    <th> Durum </th>
                                    <th> Tahsilat Sahibi </th>
                                    <th> Hukuk Bürosu </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><a href="/Obligor/Detail?accountId=@item.AccountId">@item.AccountId</a></td>
                                        <td>@item.PaymentDate.ToString("dd MMMM yyyy hh:mm")</td>
                                        <td>@item.Amount</td>
                                        <td>@item.PaymentBank</td>
                                        <td>@item.PaymentDesc</td>
                                        <td>@item.StatusText</td>
                                        <td>@item.EmployeeLoginID</td>
                                        <td>@item.LawOffice</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <strong>Bilgi: </strong> Dosya bulunamamıştır.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}