﻿@model IEnumerable<Efes.Models.ProtocolListModel>

@{
    ViewBag.Title = "Günlük Protokol Listesi";
}

<div class="row">
    <div class="col-md-12" id="fileUploadDiv">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Günlük Protokol Listesi</span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="approvementListTable" style="display: none;">
                    <thead>
                        <tr>
                            <th> Account Id </th>
                            <th> Protokol Id</th>
                            <th> Ad Soyad</th>
                            <th> Yaş</th>
                            <th> Kişi Tipi</th>
                            <th> Gönderen </th>
                            <th> Anapara </th>
                            <th> Toplam Risk </th>
                            <th> Tutar </th>
                            <th> Taksit Sayısı</th>
                            <th> Tarih</th>
                            <th> Kapama Oranı </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var prt in Model)
                            {
                                <tr data-id="@prt.Id">
                                    <td><a href="/Obligor/Detail?accountId=@(prt.Id)" target="_blank">@prt.Id</a></td>
                                    <td>@prt.ProtocolId</td>
                                    <td>@prt.NameSurname</td>
                                    <td>@prt.ObligorAge</td>
                                    <td>@prt.Relation</td>
                                    <td>@prt.CreatedBy</td>
                                    <td>@(prt.DebtPrinciple) TL</td>
                                    <td>@(prt.TotalDebtAmount) TL</td>
                                    <td>@prt.PlanAmount</td>
                                    <td>@prt.InstallmentCount</td>
                                    <td>@prt.CreateDate.ToShortDateString()</td>
                                    <td>
                                        <div class="easy-pie-chart @prt.Colour">
                                            <div class="number transactions" data-percent="@((int)(((prt.PlanAmount + prt.TotalCreditAmount)/prt.DebtPrinciple)* 100))">
                                                %<span>@((int)(((prt.PlanAmount + prt.TotalCreditAmount) / prt.DebtPrinciple) * 100))</span>
                                            </div>
                                            <a class="title" href="javascript:;">
                                                @(prt.PlanAmount + prt.TotalCreditAmount) TL / @(prt.DebtPrinciple) TL
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@Html.ValidationSummary()

@section PageScripts{
    @Scripts.Render("~/bundles/dashboard")


    <script type="text/javascript">
        $(function () {
            $(".easy-pie-chart.yellow .number.transactions").easyPieChart({
                animate: 2000,
                size: 75,
                lineWidth: 3,
                barColor: App.getBrandColor("yellow")
            });
            $(".easy-pie-chart.green .number.transactions").easyPieChart({
                animate: 2000,
                size: 75,
                lineWidth: 3,
                barColor: App.getBrandColor("green")
            });
            $(".easy-pie-chart.red .number.transactions").easyPieChart({
                animate: 2000,
                size: 75,
                lineWidth: 3,
                barColor: App.getBrandColor("red")
            });

            $("#approvementListTable").dataTable($.extend(CommonDataTablesSettings, { "order": [[1, "desc"]] })).show();

            @if (!string.IsNullOrWhiteSpace(this.ViewBag.Message) && !string.IsNullOrWhiteSpace(this.ViewBag.MessageType))
            {
                <text>
            Message.Show("@(this.ViewBag.Message)", "@(this.ViewBag.MessageType == "success" ? "Bilgilendirme" : "Hata")", @(this.ViewBag.MessageType == "success" ? "Message.ThemeType.Teal" : "Message.ThemeType.Ruby"));
            </text>
            }
        });

    </script>
}
