﻿@using Efes.WC
@model  List<Efes.Entities.Protocol.PaymentPromise>
@{
    ViewBag.Title = "Ödeme Sözü Listesi";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Ödeme Sözü Listesi</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row" style="margin-bottom: 10px;">
                    <label class="control-label col-md-1">Başlangıç Tarihi</label>

                    <div class="col-md-3">
                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                            <input type="text" class="form-control" readonly name="dateTime" id="txtStartDate" value="@ViewBag.SDate">
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <label class="control-label col-md-1">Bitiş Tarihi</label>

                    <div class="col-md-3">
                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                            <input type="text" class="form-control" readonly name="dateTime" id="txtEndDate" value="@ViewBag.EDate">
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="row col-md-4" style="margin-bottom: 10px;">

                    <div class="col-md-2">
                        <button class="btn btn-sm blue btn-block col-md-1" type="button" onclick="GetData()">
                            Ara
                        </button>
                    </div>
                </div>

                @if (Model.Any())
                {
                    <div id="tablePromiseList">
                        <table class="table table-striped table-bordered table-hover tablePager">
                            <thead>
                                <tr>
                                    <th> Account Id </th>
                                    <th> İsim </th>
                                    <th> Plan Tutarı </th>
                                    <th> Peşinat </th>
                                    <th> Taksit Sayısı </th>
                                    <th> Söz Tarihi </th>
                                    <th> Oluşturulma Tarihi </th>
                                    <th> İşlemler </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr data-row-id="@item.Id">
                                        <td><a href="/Obligor/Detail?accountId=@item.AccountId">@item.AccountId</a></td>
                                        <td>@item.Name</td>
                                        <td>@item.PlanAmount</td>
                                        <td>@item.AdvancePayment</td>
                                        <td>@item.InstallmentCount</td>
                                        <td>@item.Date </td>
                                        <td>@item.CreateDate</td>
                                        <th>
                                            @if (Authentication.IsAllowedToSee("CancelPaymentPromise")
                                                || (Authentication.IsAllowedToSee("CancelOwnPaymentPromise")
                                                && item.Name == Authentication.UserInfo.Name))
                                            {
                                                <button class="btn btn-sm blue btn-block" type="button"
                                                        onclick="Cancel('@item.Id')">
                                                    İptal Et
                                                </button>
                                            }
                                        </th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>


            @if (!Model.Any())
            {
                <div class="alert alert-info margin-top-40  ">
                    <strong>Bilgi!</strong> Ödeme sözü bulunamadı.
                </div>
            }
        </div>
    </div>
</div>
@section PageScripts{

    <script type="text/javascript">
        $(".tablePager").dataTable(
            $.extend(CommonDataTablesSettings,
                {
                    "order": [[4, "desc"]],
                    "pageLength": 20,
                    buttons: [
                        {
                            extend: 'excel',
                            exportOptions: {
                                modifier: {
                                    // DataTables core
                                    order: 'index', // 'current', 'applied',
                                    //'index', 'original'
                                    page: 'all', // 'all', 'current'
                                    search: 'none' // 'none', 'applied', 'removed'
                                },
                                columns: [0, 1, 2, 3, 4, 5, 6]
                            }
                        }
                    ]
                })
        );
        var GetData = function () {
            var sdate = $("#txtStartDate").val();
            var edate = $("#txtEndDate").val();
            location.href = "/Protocol/PaymentPromiseList?startDate=" + sdate + "&endDate=" + edate;
        }

        var Cancel = function (promiseId) {
            Core.AjaxCall({
                url: "/Protocol/CancelPaymentPromise",
                data: JSON.stringify(
                    {
                        promiseId: promiseId
                    }),
                success: function (response) {
                    if (response.isSuccess) {
                        $("tr[data-row-id='" + promiseId + "']").remove();
                        if ($(".pager tr").length === 0) {
                            $("#tablePromiseList")
                                .html(
                                '<div class="alert alert-info margin-top-40"><strong>Bilgi!</strong> Ödeme sözü bulunamadı.</div>');
                        }
                    } else {
                        alert("Hata oluştu !!");
                    }
                }
            });
        }
    </script>
}
