﻿@model  Efes.Models.UserHistoryLoginModel

@{
    ViewBag.Title = "Login History";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">User Login History</span>
                </div>
            </div>
            <form action="/Authorization/LoginHistory" method="post">
                <div class="portlet-body">
                    <div class="form-group">
                        <label class="control-label col-md-1">Kullanıcı</label>
                        <select class="control-label col-md-2" name="userId">
                            @foreach (var user in Model.UserList)
                            {
                                <option value="@user.Id" @(Model.SelectedAgent == user.Name ? "selected='selected'" : "")>@user.Name</option>
                            }

                        </select>
                        <span class="col-md-1"></span>
                        <button type="submit" class="btn btn-sm blue">Getir</button>
                    </div>

                    @if (Model.LoginHistoryList.Any())
                    {
                        <span>Login Tarihcesi</span>
                        var firstItem = Model.LoginHistoryList[0];
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet">
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.Date)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.Status)
                                                        </th>
                                                        
                                                    </tr>
                                                </thead>
                                                @foreach (var item in Model.LoginHistoryList)
                                                {
                                                    <tbody>
                                                        <tr class='@(item.Status == "Başarılı" ? "" : "danger")'>
                                                            <td>
                                                                @Html.DisplayFor(model => item.Date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.Status)
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                   
                </div>
            </form>
        </div>
    </div>
</div>
