﻿@model  List<Efes.Entities.User.Rule>

@{
    ViewBag.Title = "Yetkilendirme";
}

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    @*<i class="fa fa-tty font-blue-sharp"></i>*@
                    <span class="caption-subject font-blue-sharp sbold">Yetkiler</span>
                </div>
            </div>
            <div class="portlet-body">
                @using (Html.BeginForm("SaveOrUpdateRule", "Authorization", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-md-line-input has-info col-md-4">
                                <input type="hidden" name="Id" id="id" value="0" />
                                <input type="text" class="form-control input-sm" id="txtValue" name="Value" placeholder="">
                                <label for="txtValue">Kural</label>
                            </div>
                            <div class="form-group form-md-line-input has-info col-md-8">

                                <div class="md-checkbox has-info" id="divCb" style="display: none;">
                                    <input type="checkbox" class="md-check" id="cbIsActive" name="IsActive" value="true">
                                    <input type="hidden" value="false" name="IsActive" />
                                    <label for="cbIsActive" class="font-blue-soft">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        <div id="activeDiv">Aktif</div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8 pull-right form-actions">
                                <button id="btnNew" type="button" class="btn btn-sm green-meadow" onclick="location.reload();" style="display: none;">Yeni</button>
                                <button id="btnUpdate" type="submit" class="btn btn-sm yellow-saffron" style="display: none;">Kaydet</button>
                                <button id="btnSave" type="submit" class="btn btn-sm blue-soft">Kaydet</button>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.Any())
                {
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet">
                                <div class="portlet-body">
                                    <div>
                                        <table class="table table-striped table-bordered table-advance table-hover" id="tblRule">
                                            <thead>
                                                <tr>
                                                    <th class="col-lg-7">Yetki İsmi</th>
                                                    <th class="col-lg-2">Aktif/Pasif </th>
                                                    <th class="col-lg-2">İşlemler</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var rule in Model)
                                                {
                                                    <tr data-id="@rule.Id">
                                                        <td class="highlight" data-column="name">
                                                            <a href="javascript:Authorization.PrepareForUpdateRule(@rule.Id);"> @rule.Value </a>
                                                        </td>
                                                        <td class="highlight @(rule.IsActive ? "font-green-soft" : "font-red-haze")" data-column="isActive" data-value="@rule.IsActive">
                                                            <i class="@(rule.IsActive ? "icon-check" : "icon-close")"></i>
                                                            @(rule.IsActive ? " Aktif" : " Pasif")
                                                        </td>
                                                        <td>
                                                            <a href="javascript:Authorization.PrepareForUpdateRule(@rule.Id);" class="btn btn-outline  btn-sm yellow-gold">
                                                                <i class="fa fa-edit"></i> Düzenle
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section PageScripts{
    @Scripts.Render("~/bundles/Authorization")
    <script type="text/javascript">
        $(function () {
            Authorization.InitForRule();
        });
    </script>
}
