﻿@model  Efes.Backoffice.Models.UserRoleModel

@{
    ViewBag.Title = "Yetkilendirme";
}
<style>
    .ms-container { width: 810px !important; }
        .ms-container .ms-list { height: 600px !important; }
</style>
<link href="/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
@Styles.Render("~/Content/select2")
<div class="row">
    <div class="col-md-12">
        <div class="portlet light form-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-chambray bold uppercase">Kullanıcıya Rol Atama</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal form-row-seperated">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">@Model.User.Name</label>
                            <div class="col-md-9">
                                <input type="hidden" name="userId" id="userId" value="@Model.User.Id" />
                                <select multiple="multiple" class="multi-select" id="multiSelectUserRole" name="my_multi_select1[]">
                                    @foreach (var role in Model.AllRoles)
                                    {
                                        <option value="@role.Id" @(Model.UserRoles.Any(c => c.Id == role.Id) ? "selected" : "")>
                                            @role.Value
                                        </option>
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Listeye Geri Dön", "Index", "User")
</p>

@section PageScripts{
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/multi-select")
    <script type="text/javascript">
        $('#multiSelectUserRole').multiSelect({
            //selectableHeader: '<div class="bg-blue-chambray bg-font-blue-chambray" style="padding: 5px;"> Bütün Roller </div>',
            //selectionHeader: '<div class="bg-blue-chambray bg-font-blue-chambray" style="padding: 5px;"> Sahip Olduğu Roller </div>',
            selectableHeader: "<input type='text' class='search-input form-control' autocomplete='off' placeholder='Ara'>",
            selectionHeader: "<input type='text' class='search-input form-control' autocomplete='off' placeholder='Ara'> ",
            afterInit: function (ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                .on('keydown', function (e) {
                    if (e.which === 40) {
                        that.$selectableUl.focus();
                        return false;
                    }
                });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                .on('keydown', function (e) {
                    if (e.which == 40) {
                        that.$selectionUl.focus();
                        return false;
                    }
                });
            },
            afterSelect: function (values) {
                App.blockUI({
                    target: ".form-group",
                    boxed: true
                });
                Core.AjaxCall({
                    url: "/Authorization/InsertUserRole",
                    data: JSON.stringify({ roleId: parseInt(values[0]), userId: parseInt($('#userId').val()) }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        App.unblockUI(".form-group");

                        if (data.Result === "Success") {

                        } else if (data.Result === "Error") {

                        }
                    }
                });
            },
            afterDeselect: function (values) {
                App.blockUI({
                    target: ".form-group",
                    boxed: true
                });
                Core.AjaxCall({
                    url: "/Authorization/DeleteUserRole",
                    data: JSON.stringify({ roleId: parseInt(values[0]), userId: parseInt($('#userId').val()) }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        App.unblockUI(".form-group");

                        if (data.Result === "Success") {

                        } else if (data.Result === "Error") {

                        }
                    }
                });
            }
        });

        $(".ms-selectable").prepend("<div class='bg-blue-chambray bg-font-blue-chambray' style='padding: 5px;'> Bütün Roller </div>");
        $(".ms-selection").prepend("<div class='bg-blue-chambray bg-font-blue-chambray' style='padding: 5px;'> Sahip Olduğu Roller </div>");
    </script>
}


