﻿@model Efes.Models.SmartCalling.ByCapitalGroupModel
@{
    ViewBag.Title = "Akıllı Arama";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">
                        Anapara Grubuna Göre Dosyalarım
                    </span>
                </div>
                <div class="actions">
                    @if (Model.ByCapitalGroupList.Any())
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <select id="ddlFakePhoneList" class="form-control select2" style="width: 150px;">
                                    <option value="">Dahili</option>
                                    @if (Model.FakeNumbers.Any())
                                    {
                                        foreach (var phone in Model.FakeNumbers)
                                        {
                                            if (!string.IsNullOrWhiteSpace(phone.Number) && (phone.Number.Length >= 10))
                                            {
                                                <option value="@phone.Number.Trim()">@(phone.Number.Trim().Substring(0, 3) + " " + phone.Number.Trim().Substring(3, 3) + " " + phone.Number.Trim().Substring(6, 2) + " " + phone.Number.Trim().Substring(8, 2))</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:;" class="btn green call" onclick="SmartCalling.CallAll()">
                                    <i class="fa fa-phone"></i> Tümünü Ara
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="portlet-body">
                @if (Model.DebtGroups.Any())
                {
                    using (Html.BeginForm("ByCapitalGroup", "SmartCalling", FormMethod.Get))
                    {
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label>Anapara Grubu</label>
                                <select id="ddlDebtGroup" name="debtGroupType" class="form-control select2" onchange="this.form.submit() ">
                                    @foreach (var item in Model.DebtGroups)
                                    {
                                        <option value="@item.Key" @(Model.SelectedDebtGroup == item.Key ? "selected='selected'" : "")> @item.Value</option>
                                    }
                                    <option value="0" @(Model.SelectedDebtGroup == 0 ? "selected='selected'" : "")> Tümü </option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label>Portföy</label>
                                <select id="ddlPortfolio" name="portfolioId" class="form-control select2" onchange="this.form.submit() ">
                                    @foreach (var item in Model.Portfolios)
                                    {
                                        <option value="@item.Id" @(Model.SelectedPortfolio == item.Id ? "selected='selected'" : "")> @item.Name</option>
                                    }
                                    <option value="0" @(Model.SelectedPortfolio == 0 ? "selected='selected'" : "")> Tümü </option>
                                </select>

                            </div>
                        </div>
                    }
                }
                <div class="margin-bottom-10"></div>
                @if (Model.ByCapitalGroupList.Any())
                {

                    <table class="table table-striped table-bordered table-hover tablePager">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="chcSelectAll"></th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Account Id </th>
                                <th> Ad Soyad </th>
                                <th> Portföy </th>
                                <th> Anapara</th>
                                <th> Toplam Risk </th>
                                <th> İşlemler </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ByCapitalGroupList)
                            {
                                <tr class="@(item.IsCalledToday ? "success" : "")">

                                    <td>
                                        @if (!string.IsNullOrWhiteSpace(item.PhoneNumber))
                                        {
                                            <input type="checkbox" data-phone="@item.PhoneNumber" data-name="@item.Name" data-type="phone">
                                        }
                                    </td>
                                    <td><a href="/Obligor/Detail?accountId=@item.AccountId">@item.AccountId</a> </td>
                                    <td>@item.Name</td>
                                    <td>@item.Portfolio</td>
                                    <td>@item.DebtPrinciple</td>
                                    <td>@item.TotalDebtAmount</td>
                                    <td class="call">
                                        @if (!string.IsNullOrWhiteSpace(item.PhoneNumber))
                                        {
                                            <a href="javascript:SmartCalling.CallOne('@item.PhoneNumber.Trim()', '', '@item.Name', '@item.AccountId')" class="btn blue @(item.IsCalledToday ? "red-stripe" : "")">
                                                <i class="fa fa-phone"></i> Ara
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        <strong>Bilgi: </strong> Dosya bulunamamıştır.
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="/Content/scripts/SmarCalling.js"></script>
    <script type="text/javascript">
        SmartCalling.Init();
    </script>
}



