﻿@model Efes.Models.SmartCalling.CollectionWithoutProtocolModel
@{
    ViewBag.Title = "Akıllı Arama";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">
                        Protokolsüz Tahsilatlı Dosyalarım
                    </span>
                </div>
                <div class="actions">
                    @if (Model.CollectionWithoutProtocolList.Any())
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <select id="ddlFakePhoneList" class="form-control select2" style="width: 150px;">
                                    <option value="">Dahili</option>
                                    @if (Model.CollectionWithoutProtocolList.Any())
                                    {
                                        foreach (var phone in Model.FakeNumbers)
                                        {
                                            if (!string.IsNullOrWhiteSpace(phone.Number) && (phone.Number.Length >= 10))
                                            {
                                                <option value="@phone.Number.Trim()">@(phone.Number.Trim().Substring(0, 3) + " " + phone.Number.Trim().Substring(3, 3) + " " + phone.Number.Trim().Substring(6, 2) + " " + phone.Number.Trim().Substring(8, 2))</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:;" class="btn green call" onclick="SmartCalling.CallAll()">
                                    <i class="fa fa-phone"></i> Tümünü Ara
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="portlet-body">
                @if (Model.CollectionWithoutProtocolList.Any())
                {

                    <table class="table table-striped table-bordered table-hover tablePager">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="chcSelectAll"></th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Account Id </th>
                                <th> Ad Soyad </th>
                                <th> Banka </th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Toplam Risk </th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Anapara </th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Ödenen Tutar </th>
                                <th> Son 3 Kritik Not </th>
                                <th> Son Ödeme Tarihi </th>
                                <th> İşlemler </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CollectionWithoutProtocolList)
                            {
                                <tr class="@(item.IsCalledToday ? "success" : "")">
                                    <td>
                                        @if (!string.IsNullOrWhiteSpace(item.Phone))
                                        {
                                            <input type="checkbox" data-phone="@item.Phone" data-name="@item.AdSoyad" data-accountid="@item.AccountId" data-type="phone">
                                        }
                                    </td>
                                    <td><a href="/Obligor/Detail?accountId=@item.AccountId">@item.AccountId</a> </td>
                                    <td>@item.AdSoyad</td>
                                    <td>@item.Banka</td>
                                    <td>@item.ToplamRisk</td>
                                    <td>@item.AnaPara</td>
                                    <td>@item.OdenenTutar</td>
                                    <td>
                                        @foreach (var i in item.Son3KritikNotSplitter)
                                        {
                                            <span>Tarih: @(i)</span><br /><br />
                                        }
                                    </td>
                                    <td>@item.SonOdemeTarihiStr</td>
                                    <td class="call">
                                        @if (!string.IsNullOrWhiteSpace(item.Phone))
                                        {
                                            <a href="javascript:SmartCalling.CallOne('@item.Phone.Trim()', '', '@item.AdSoyad')" class="btn blue @(item.IsCalledToday ? "red-stripe" : "")">
                                                <i class="fa fa-phone"></i> Ara
                                            </a>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        <strong>Bilgi: </strong> Dosya bulunamamıştır.
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="/Content/scripts/SmarCalling.js"></script>
    <script type="text/javascript">
        SmartCalling.Init();
    </script>
}
