﻿@using Efes.Entities.SmartCalling
@model Efes.Models.CreateDialerModel
@Styles.Render("~/Content/fileUploadCss")

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ms-container {
        width: 695px !important;
    }

        .ms-container .ms-list {
            height: 600px !important;
        }

    .zoom {
        zoom: 133%;
    }

    .step2 {
        display: none;
    }
</style>
<link href="/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
@Styles.Render("~/Content/select2")
@Styles.Render("~/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css")
@Styles.Render("~/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css")
<div class="row">
    <div class="col-md-12" id="fileUploadDiv">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Dialer Oluşturma</span>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal">
                    <div class="form-body">
                        @if (Model.DialerStatus == DialerStatus.Passive)
                        {
                            <div class="form-group step1">
                                <div class="col-md-12">
                                    <div class="fileupload-buttonbar">
                                        <span class="btn fileinput-button bg-blue-chambray bg-font-blue-chambray">
                                            <i class="fa fa-upload"></i>
                                            <span>Yükleme yapmak için Excel dosyasını seçin </span>
                                            <input id="fileupload" type="file" name="files[]" multiple="">
                                        </span>
                                        <span class="fileupload-process"> </span>
                                    </div>
                                    <div id="progress" class="progress">
                                        <div class="progress-bar progress-bar-striped"></div>
                                    </div>
                                    <div id="files" class="files"></div>
                                </div>
                            </div>
                            <div class="form-group step2" style="display: none;">
                                <label class="col-md-3 control-label">Arama Sayısı</label>
                                <div class="col-md-9">
                                    <label class="control-label" id="lblAccountCount"/>
                                    @*<textarea id="taAccountList" 
                                              readonly="readonly" 
                                              style="margin: 0px; min-width: 695px; max-width: 695px; min-height: 150px; max-height: 150px;"></textarea>*@
                                </div>
                            </div>
                            <div class="form-group step2">
                                <label class="col-md-3 control-label">Maksimum Bekleme Süresi</label>
                                <div class="col-md-4 zoom">
                                    <input id="range_1" />
                                </div>
                            </div>
                            <div class="form-group step2">
                                <label class="col-md-3 control-label">Bant Genişliği</label>
                                <div class="col-md-4 zoom">
                                    <input id="range_2" />
                                </div>
                            </div>
                            <div class="form-group step2">
                                <label class="col-md-3 control-label">FCT Kullan</label>
                                <div class="col-md-9 zoom">
                                    <input id="chcUseFct" type="checkbox" />
                                </div>
                            </div>
                            <div class="form-group step2">
                                <label class="col-md-3 control-label">Dinamik Routing</label>
                                <div class="col-md-9 zoom">
                                    <input id="chcDynamicRouting" checked="checked" type="checkbox" />
                                </div>
                            </div>
                            <div class="form-group step2" style="display: none;">
                                <label class="control-label col-md-3">Agentlar</label>
                                <div class="col-md-9">
                                    <select multiple="multiple" class="multi-select" id="multiSelectRoleRule" name="my_multi_select1[]">
                                        @foreach (var user in Model.UnselectedUsers)
                                        {
                                            <option value="@user.LoginName">
                                                @user.Name
                                            </option>
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="alert step3" id="divResult" style="display: none;">
                                  
                            </div>
                        }
                        else if (Model.DialerStatus == DialerStatus.Active)
                        {
                            <div class="alert alert-success">
                                Şu an <strong>aktif</strong>  bir dialer çalışıyor. Yeni bir tane başlatamazsınız. Mevcut olanı bekletmek veya durdurmak için
                                <a href="/SmartCalling/DialerList" class="alert-link"> tıklayın </a>
                            </div>
                        }
                        else if (Model.DialerStatus == DialerStatus.Paused)
                        {
                            <div class="alert alert-warning">
                                Şu an <strong>beklemede</strong> bir dialer çalışıyor. Yeni bir tane başlatamazsınız. Mevcut olanı durdurmak veya tekrar başlatmak için
                                <a href="/SmartCalling/DialerList" class="alert-link"> tıklayın </a>
                            </div>
                        }
                    </div>
                    <div class="form-actions right step2" style="display: none;">
                        <div class="col-md-12">
                            <button type="button" class="btn bg-blue-chambray bg-font-blue-chambray" onclick="Dialer.StartDialer()">Dialer Başlat</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@section PageScripts{
    @Scripts.Render("~/bundles/fileupload")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/multi-select")
    @Scripts.Render("/Content/scripts/Dialer.js")
    @Scripts.Render("/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js")
    @*@Scripts.Render("~/assets/pages/scripts/components-ion-sliders.min.js")*@

    <script>
        $(function () {
            Dialer.Init();
        });
    </script>
}

