﻿@model System.Collections.Generic.List<Efes.Models.SmartCalling.DialerAgent>
<style type="text/css">
    .table-condensed > tbody > tr > td {
        padding: 1px;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Dialer Agent Listesi</span>
                </div>
               
            </div>
            <div class="portlet-body">
                @if (Model.Any())
                {
                    <table class="table table-striped table-bordered table-hover" id="dialerCallListTable">
                        <thead>
                            <tr>
                                <th> Agent </th>
                                <th> Arama Süresi </th>
                                <th> İşlemler </th>
                            </tr>
                        </thead>
                        <tbody id="tBodyDialerList">
                            @foreach (var dcl in Model)
                            {
                                <tr>
                                    <td>@dcl.AgentName</td>
                                    <td>@dcl.LastCalledDateToString</td>
                                    <td>
                                        <a href="/SmartCalling/AddDialerAgentList?agentName=@dcl.AgentName">
                                            Listeye Ekle
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        <strong>Bilgi: </strong> Kayıt bulunamadı.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
