﻿@using Efes.Entities.SmartCalling
@model  Efes.Models.SmartCalling.DialerCallModel
<style type="text/css">
    .table-condensed > tbody > tr > td {
        padding: 1px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Dialer Listesi</span>
                </div>
                <div class="actions">
                    @if (Model.DialerStatus == DialerStatus.Active || Model.DialerStatus == DialerStatus.Paused)
                    {
                        <div class="row">
                            @if (Model.DialerStatus == DialerStatus.Active)
                            {
                                <div class="col-md-6">
                                    <a href="javascript:;" class="btn yellow-gold" onclick="DialerList.ChangeStatus(2, '@(Model.DialerDetail.DialerRecId)')">
                                        Beklet
                                    </a>
                                </div>
                            }
                            else if (Model.DialerStatus == DialerStatus.Paused)
                            {
                                <div class="col-md-6">
                                    <a href="javascript:;" class="btn green" onclick="DialerList.ChangeStatus(1, '@(Model.DialerDetail.DialerRecId)')">
                                        Başlat
                                    </a>
                                </div>
                            }
                            <div class="col-md-6">
                                <a href="javascript:;" class="btn red" onclick="DialerList.ChangeStatus(0, '@(Model.DialerDetail.DialerRecId)')">
                                    Durdur
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="portlet-body">
                @if (Model.DialerStatus == DialerStatus.Active && Model.DialerCallList.Any())
                {
                    <div class="alert alert-info" id="tDialerListDetail">
                        <strong>Biten Arama Sayısı: </strong> @Model.DialerDetail.Finished <br />
                        <strong>Kalan Arama Sayısı: </strong> @Model.DialerDetail.Remain<br />
                        <strong>Toplam Arama Sayısı: </strong> @Model.DialerDetail.Total<br />
                        <strong>Dialer Başlangıç Tarihi: </strong> @Model.DialerDetail.StartDate<br />
                    </div>
                    <table class="table table-striped table-bordered table-hover" id="dialerCallListTable">
                        <thead>
                            <tr>
                                <th> Agent </th>
                                <th> Account Id</th>
                                <th> Telefon Numarasi </th>
                                <th> Arama Süresi </th>
                                <th> Durum </th>
                            </tr>
                        </thead>
                        <tbody id="tBodyDialerList">
                            @foreach (var dcl in Model.DialerCallList)
                            {
                                <tr>
                                    <td>@dcl.Agent</td>
                                    <td><a href="/Obligor/Detail?accountId=@dcl.AccountId">@dcl.AccountId</a></td>
                                    <td>@dcl.PhoneNumber</td>
                                    <td>@dcl.CallDuration</td>
                                    <td>@dcl.CallStatus</td>
                                </tr>
                            }
                        </tbody>
                    </table>



                }
                else
                {
                    <div class="alert alert-info">
                        <strong>Bilgi: </strong> Kayıt bulunamadı.
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    @Scripts.Render("/Content/scripts/Dialer.js")

    @if (Model.DialerStatus == DialerStatus.Active && Model.DialerCallList.Any())
    {
        <script>
            $(function () {
                DialerList.Init();
            });
        </script>
    }

    <script id="dialerListTemplate" type="text/html">

        {%if (Model != null){%}
        {%for ( var i = 0; i < Model.length; i++){%}

        <tr>
            <td> {{Model[i].Agent}} </td>
            <td> <a href="/Obligor/Detail?accountId={{Model[i].AccountId}}">{{Model[i].AccountId}}</a> </td>
            <td> {{Model[i].PhoneNumber}} </td>
            <td> {{Model[i].CallDuration}} </td>
            <td> {{Model[i].CallStatus}} </td>
        </tr>

        {%}%}
        {%}%}

    </script>

    <script id="dialerListDetail" type="text/html">

        {%if (Model != null){%}

        <strong>Biten Arama Sayısı: </strong> {{Model.Finished}}
        <br />
        <strong>Kalan Arama Sayısı: </strong> {{Model.Remain}}
        <br />
        <strong>Toplam Arama Sayısı: </strong> {{Model.Total}}
        <br />
        <strong>Dialer Başlangıç Tarihi: </strong> {{moment.utc(Utility.NetToJsDate(Model.StartDate)).format("D.MM.YYYY HH:mm:ss")}}
        <br />

        {%}%}

    </script>
}
