﻿@model Efes.Models.SmartCalling.NewAppointedModel
@{
    ViewBag.Title = "Akıllı Arama";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">
                        Yeni Atanan Dosyalarım
                    </span>
                </div>
                <div class="actions">
                    @if (Model.NewAppointedList.Any())
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <select id="ddlFakePhoneList" class="form-control select2" style="width: 150px;">
                                    <option value="">Dahili</option>
                                    @if (Model.FakeNumbers.Any())
                                    {
                                        foreach (var phone in Model.FakeNumbers)
                                        {
                                            if (!string.IsNullOrWhiteSpace(phone.Number) && (phone.Number.Length >= 10))
                                            {
                                                <option value="@phone.Number.Trim()">@(phone.Number.Trim().Substring(0, 3) + " " + phone.Number.Trim().Substring(3, 3) + " " + phone.Number.Trim().Substring(6, 2) + " " + phone.Number.Trim().Substring(8, 2))</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:;" class="btn green call" onclick="SmartCalling.CallAll()">
                                    <i class="fa fa-phone"></i> Tümünü Ara
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="portlet-body">

                @if (Model.NewAppointedList.Any())
                {
                    <div class="clearfix">
                        <div class="btn-group btn-group btn-group-justified">
                            <a href="@Url.Action("NewAppointed", "SmartCalling", new {type = "0"})" class="btn red"> Günlük </a>
                            <a href="@Url.Action("NewAppointed", "SmartCalling", new {type = "1"})" class="btn blue"> Haftalık </a>
                            <a href="@Url.Action("NewAppointed", "SmartCalling", new {type = "2"})" class="btn green"> Aylık </a>
                            <a href="@Url.Action("NewAppointed", "SmartCalling", new {type = "3"})" class="btn yellow-saffron"> Tümü </a>
                        </div>
                    </div>
                    <div class="clearfix margin-bottom-30"> </div>
                    <div class="clearfix">
                        <table class="table table-striped table-bordered table-hover tablePager">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="chcSelectAll"></th>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Account Id </th>
                                    <th> Ad Soyad </th>
                                    <th> Atama Tarihi </th>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Dosya Sahibi </th>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Portföy </th>
                                    <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Toplam Risk </th>
                                    <th> Anapara </th>
                                    <th> İşlemler </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.NewAppointedList)
                                {
                                    <tr class="@(item.IsCalledToday ? "success" : "")">
                                        <td>
                                            @if (!string.IsNullOrWhiteSpace(item.Phone))
                                            {
                                                <input type="checkbox" data-phone="@item.Phone" data-name="@item.AdSoyad" data-accountid="@item.AccountId" data-type="phone">
                                            }
                                        </td>
                                        <td><a href="/Obligor/Detail?accountId=@item.AccountId">@item.AccountId</a> </td>
                                        <td>@item.AdSoyad</td>
                                        <td>@item.AtamaTarihi</td>
                                        <td>@item.DosyaSahibi</td>
                                        <td>@item.Portfoy</td>
                                        <td>@item.ToplamRisk</td>
                                        <td>@item.Anapara</td>
                                        <td class="call">
                                            @if (!string.IsNullOrWhiteSpace(item.Phone))
                                            {
                                                <a href="javascript:SmartCalling.CallOne('@item.Phone.Trim()', '', '@item.AdSoyad')" class="btn blue  @(item.IsCalledToday ? "red-stripe" : "")">
                                                    <i class="fa fa-phone"></i> Ara
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        <strong>Bilgi: </strong> Dosya bulunamamıştır.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
