﻿@model  List<Efes.Models.Obligor.ReminderModel>
@{
    ViewBag.Title = "Hatırlatmalar";
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">
                        Hatırlatma Listesi
                    </span>
                </div>
                <div class="actions pull-left">

                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("Reminder", "SmartCalling", FormMethod.Get))
                        {
                            <label class="control-label" for="txtAdvancePaymentDate" style="font-weight: bold;">Hatırlatıcı Tarihi:</label>

                            <div class="input-group input-small date date-picker txtAdvancePaymentDate"
                                 data-date-format="dd-mm-yyyy"
                                 data-date-end-date="">
                                <input type="text" class="form-control" readonly="" value="@(ViewBag.Date)" id="txtDate" name="date" onchange="this.form.submit()">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <div class="margin-bottom-10"></div>
                @if (Model.Any())
                {
                    <table class="table table-striped table-bordered table-hover tablePager">
                        <thead>
                            <tr>
                                <th> Account Id </th>
                                <th> Tipi </th>
                                <th> Detay </th>
                                <th> Kullanıcı </th>
                                <th> Hatırlatma Tarihi </th>
                                <th> Oluşturulma Tarihi </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a href="/Obligor/Detail?accountId=@item.AccountId">@item.AccountId</a></td>
                                    <td>@item.TypeName</td>
                                    <td>@item.Detail</td>
                                    <td>@item.Username</td>
                                    <td>@item.RemindDate.ToString("dd MMMM yyyy hh:mm")</td>
                                    <td>@item.CreatedDate.ToString("dd MMMM yyyy hh:mm")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        <strong>Bilgi: </strong> Dosya bulunamamıştır.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section PageScripts{

    <script type="text/javascript">
        $(function () {
            $(".tablePager").dataTable($.extend(CommonDataTablesSettings, { "order": [[3, "asc"]], "pageLength": -1 }));
        });
    </script>
}

