﻿@model  Efes.Models.SmartCalling.TodayPaymentsModel
@{
    ViewBag.Title = "Akıllı Arama";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">
                        Bugün Ödemesi Olan Dosyalarım
                    </span>
                </div>
                <div class="actions">
                    @if (Model.TodayPaymentsList.Any())
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <select id="ddlFakePhoneList" class="form-control select2" style="width: 150px;">
                                    <option value="">Dahili</option>
                                    @if (Model.FakeNumbers.Any())
                                    {
                                        foreach (var phone in Model.FakeNumbers)
                                        {
                                            if (!string.IsNullOrWhiteSpace(phone.Number) && (phone.Number.Length >= 10))
                                            {
                                                <option value="@phone.Number.Trim()">@(phone.Number.Trim().Substring(0, 3) + " " + phone.Number.Trim().Substring(3, 3) + " " + phone.Number.Trim().Substring(6, 2) + " " + phone.Number.Trim().Substring(8, 2))</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:;" class="btn green call" onclick="SmartCalling.CallAll()">
                                    <i class="fa fa-phone"></i> Tümünü Ara
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="portlet-body">
                @if (Model.TodayPaymentsList.Any())
                {
                    <table class="table table-striped table-bordered table-hover tablePager">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="chcSelectAll"></th>
                                <th>Ödeme Durumu</th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Account Id </th>
                                <th> Ad Soyad </th>
                                <th> Taksit Numarası </th>
                                <th> Ödeme Tarihi </th>
                                <th> Toplam Protokol Tutarı</th>
                                <th> Ödenecek Tutar </th>
                                <th> Ödenen Tutar </th>
                                <th> Kalan Tutar </th>
                                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Ödeme Durumu </th>
                                <th> Protokol Tarihi </th>
                                <th> Protokolü Oluşturan </th>
                                <th> Gecikmedeki Taksit Adedi </th>
                                <th> İşlemler </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TodayPaymentsList)
                            {
                                <tr class="@(item.IsCalledToday ? "success" : "")">
                                    <td>
                                        @if (!string.IsNullOrWhiteSpace(item.PhoneNumber))
                                        {
                                            <input type="checkbox" data-phone="@item.PhoneNumber" data-name="@item.AdSoyad" data-accountid="@item.AccountId" data-type="phone">
                                        }
                                    </td>
                                    <td>@(item.PaymnetStatus ? "Ödendi" : "")</td>
                                    <td><a href="/Obligor/Detail?accountId=@item.AccountId">@item.AccountId</a> </td>
                                    <td>@item.AdSoyad</td>
                                    <td>@item.TaksitNumarasi</td>
                                    <td>@item.OdemeTarihiStr</td>
                                    <td>@item.ToplamProtokolTutari</td>
                                    <td>@item.OdenecekTutar</td>
                                    <td>@item.OdenenTutar</td>
                                    <td>@item.KalanTutar</td>
                                    <td>@item.OdemeDurumu</td>
                                    <td>@item.ProtokolTarihiStr</td>
                                    <td>@item.ProtokolOlusturan</td>
                                    <td>@item.GecikmadekiTaksitAdedi</td>
                                    <td class="call">
                                        @if (!string.IsNullOrWhiteSpace(item.PhoneNumber))
                                        {
                                            <a href="javascript:SmartCalling.CallOne('@item.PhoneNumber.Trim()', '', '@item.AdSoyad')" class="btn blue @(item.IsCalledToday ? "red-stripe" : "")">
                                                <i class="fa fa-phone"></i> Ara
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        <strong>Bilgi: </strong> Dosya bulunamamıştır.
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="/Content/scripts/SmarCalling.js"></script>
    <script type="text/javascript">
        SmartCalling.Init();
    </script>
}


