﻿@{
    ViewBag.Title = "Excel Veri Yükleme İşlemleri";
}

<div class="row">
    <div class="col-md-6" id="fileUploadDiv">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-tty font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp sbold">@ViewBag.Caption</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="fileupload-buttonbar">
                                <span class="btn green fileinput-button">
                                    <i class="fa fa-upload"></i>
                                    <span>Yükleme yapmak için Excel dosyasını seçin </span>
                                    <input id="fileupload" type="file" name="files[]" multiple="">
                                </span>
                                <span class="fileupload-process"> </span>
                            </div>
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                            <div id="files" class="files"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="blog-post-sm bordered blog-container">
                            <div class="blog-img-thumb">
                                <a href="javascript:;">
                                    <img src="/Content/img/@(ViewBag.Type).png">
                                </a>
                            </div>
                            <div class="blog-post-content">
                                <h2 class="blog-title blog-post-title">
                                    <a href="javascript:;">Önemli</a>
                                </h2>

                                @if (ViewBag.Type == "Address")
                                {
                                    <p class="blog-post-desc">1 - ACCOUNTID kolonunun formatı "Metin" olarak seçilmelidir.</p>
                                    <p class="blog-post-desc">2 - TCKN kolonunun formatı "Metin" olarak seçilmelidir.</p>
                                }
                                else if (ViewBag.Type == "Phone")
                                {
                                    <p class="blog-post-desc">1 - ACCOUNTID kolonunun formatı "Metin" olarak seçilmelidir.</p>
                                    <p class="blog-post-desc">2 - TCKN kolonunun formatı "Metin" olarak seçilmelidir. Kolon olmak zorundadır fakat içeriği olmak zorunda değildir.</p>
                                    <p class="blog-post-desc">3 - Telefon kolonunun formatı "Metin" olarak seçilmelidir.</p>
                                }
                                else if (ViewBag.Type == "Note")
                                {
                                    <p class="blog-post-desc">1 - ACCOUNTID kolonunun formatı "Metin" olarak seçilmelidir.</p>
                                    <p class="blog-post-desc">2 - TCKN kolonunun formatı "Metin" olarak seçilmelidir. Kolon olmak zorundadır fakat içeriği olmak zorunda değildir.</p>
                                }
                                else if (ViewBag.Type == "BulkFileAttach")
                                {
                                    <p class="blog-post-desc">1 - ACCOUNTID kolonunun formatı "Metin" olarak seçilmelidir.</p>
                                    <p class="blog-post-desc">2 - AGENT kolonunun formatı "Metin" olarak seçilmelidir.</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
