﻿@model dynamic
@Styles.Render("~/Content/fileUploadCss")

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6" id="fileUploadDiv">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Faiz ve Masraf Yükleme</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="fileupload-buttonbar">
                                    <span class="btn fileinput-button bg-blue-chambray bg-font-blue-chambray">
                                        <i class="fa fa-upload"></i>
                                        <span>Yükleme yapmak için Excel dosyasını seçin </span>
                                        <input id="fileupload" type="file" name="files[]" multiple="">
                                    </span>
                                    <span class="fileupload-process"> </span>
                                </div>
                                <div id="progress" class="progress">
                                    <div class="progress-bar progress-bar-striped"></div>
                                </div>
                                <div id="files" class="files"></div>
                            </div>
                        </div>
                        <div class="alert" id="divResult" style="display: none;">
                        </div>
                    </div>
                    <div class="form-actions right step2" style="display: none;">
                        <div class="col-md-12">
                            <button type="button" class="btn bg-blue-chambray bg-font-blue-chambray" onclick="Dialer.StartDialer()">Dialer Başlat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    @Scripts.Render("~/bundles/fileupload")
    @Scripts.Render("/Content/scripts/InterestAndCost.js")
    @Scripts.Render("/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js")

    <script>
        $(function () {
            InterestAndCost.Init();
        });
    </script>
}
