﻿@model  dynamic

@{
    ViewBag.Title = "Telefon İşlemleri";
}


<div class="row">
    <div class="col-md-6">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-tty font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp sbold">Çoklu Telefon Pasifleştirme</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p class="font-red-mint">Pasif yapmak istediğiniz telefon numaralarını aralarına virgül koyarak aşağıda ki metin kutusuna giriniz.</p>
                            <textarea id="txtPhoneList" class="form-control" id="message" rows="20" placeholder="Telefon listesini giriniz"></textarea>

                        </div>
                        <div class="form-group pull-right">
                            <button id="btnPassive" type="submit" data-loading-text="Pasifleştiriliyor..." class="demo-loading-btn btn blue-madison" onclick="Phone.PassivePhoneList($('#txtPhoneList').val(), this)">Pasifleştir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    @Scripts.Render("~/bundles/Tool")
}


