﻿@model List<Efes.Entities.Phone>

@{
    ViewBag.Title = "Telefon İşlemleri";
}


<div class="row">
    <div class="col-md-6">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-tty font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp sbold">Telefon Aktif/Pasif Yapma</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-inline">
                                <form method="POST">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <div class="input-icon">
                                                <i class="fa fa-user fa-fw"></i>
                                                <input id="newpassword" class="form-control" type="text" name="searchTerm" placeholder="Account Id Giriniz">
                                            </div>
                                            <span class="input-group-btn">
                                                <button id="genpassword" class="btn btn-success" type="submit">
                                                    <i class="fa fa-search"></i> Ara
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                @if (Model != null)
                {
                    if (Model.Any())
                    {
                        <div class="mt-element-list">
                            <div class="mt-list-head list-default font-white bg-blue-chambray">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <div class="list-head-title-container">
                                            <h3 class="list-title">Telefon Listesi</h3>
                                            <div class="list-date">Account Id: @Model.First().AccountId</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="list-head-summary-container">
                                            <div class="list-pending">
                                                <div class="list-count font-grey bg-grey-mint">@((Model.Where(c => c.IsActive)).ToList().Count)</div>
                                                <div class="list-label">Aktif</div>
                                            </div>
                                            <div class="list-done">
                                                <div class="list-count font-grey bg-grey-mint last">@((Model.Where(c => c.IsActive == false)).ToList().Count)</div>
                                                <div class="list-label">Pasif</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-list-container list-simple">

                                <ul>
                                    @foreach (var phone in Model)
                                    {
                                        <li class="mt-list-item" data-phone="@phone.Number">
                                            <div class="list-icon-container @(phone.IsActive ? "done" : "")">
                                                <i class="icon-@(phone.IsActive ? "check" : "close")"></i>
                                            </div>
                                            <div class="list-datetime" style="margin-right: 20px; margin-top: -8px">
                                                <button type="button"
                                                class="btn @(phone.IsActive ? "blue-chambray" : "red") btn-outline"
                                                onclick="Phone.ChangePhoneStatus('@phone.AccountId', '@phone.Number' , @(phone.IsActive ? "false" : "true")) ">
                                                @(phone.IsActive ? "Pasiflestir" : "Aktiflestir")</button>
                                            </div>
                                            <div class="list-item-content">
                                                <h3 class="uppercase bold">
                                                    <a href="javascript:;">@phone.Number</a>
                                                </h3>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    }
                    else
                    {
                        <span class="caption-subject font-green-sharp bold uppercase">Kayıt Bulunamadı</span>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    @Scripts.Render("~/bundles/Tool")
}
