﻿@model IEnumerable<Efes.Entities.Word>

@{
    ViewBag.Title = "Kelime Analizi";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Kelime Analizi Listesi</span>
                </div>
               
            </div>
            <div class="portlet-body">
                @if (Model.Any())
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet">
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.WordText)
                                                    </th>

                                                    <th>
                                                        @Html.DisplayNameFor(model => model.WordCount)
                                                    </th>
                                              
                                                </tr>
                                            </thead>
                                            @foreach (var item in Model)
                                            {
                                                <thead>
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.WordText)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.WordCount)
                                                        </td>
                                                       
                                                    </tr>
                                                </thead>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        Data bulunamadi.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
