﻿.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { padding-left: 1px; padding-right: 1px; }

.table .btn { margin-right: 0px; }

td .btn-sm { padding: 0px 5px; }

.table-condensed > tbody > tr > td { padding: 1px; }

.portlet { margin-bottom: 0px; }

.fill { height: 100%; }

.row { margin-left: 0px; margin-right: 0px; }

.table-condensed.elleme > tbody > tr > td { padding: 5px; }

td { text-indent: 3px; }

#txtProtocolValue {
    color: #ff0000;
    font-weight: bold;
}

.row {
    margin-top: 5px;
}