﻿@*Arama Sayıları*@
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bar-chart font-green"></i>
            <span class="caption-subject font-green bold uppercase">Arama Sayıları</span>
            <span class="caption-helper">(Aylık)</span>
        </div>
        @*<div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                    <label class="btn red btn-outline btn-circle btn-sm active">
                        <input name="options" class="toggle" id="option1" type="radio">New
                    </label>
                    <label class="btn red btn-outline btn-circle btn-sm">
                        <input name="options" class="toggle" id="option2" type="radio">Returning
                    </label>
                </div>
            </div>*@
    </div>
    <div class="portlet-body">
        <div style="display: none;" id="site_statistics_loading">
            <img src="/assets/global/img/loading.gif" alt="loading">
        </div>
        <div style="display: block;" id="site_statistics_content" class="display-none">
            <div style="padding: 0px; position: relative;" id="site_statistics" class="chart">

            </div>
        </div>
    </div>
</div>
