﻿@*Tahsilat*@
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-share font-red-sunglo hide"></i>
            <span class="caption-subject font-red-sunglo bold uppercase">Tahsilat</span>
            <span class="caption-helper">(Aylık)</span>
        </div>
        @*<div class="actions">
                <div class="btn-group">
                    <a href="" class="btn dark btn-outline btn-circle btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        Filter Range
                        <span class="fa fa-angle-down"> </span>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="javascript:;">
                                Q1 2014
                                <span class="label label-sm label-default"> past </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Q2 2014
                                <span class="label label-sm label-default"> past </span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="javascript:;">
                                Q3 2014
                                <span class="label label-sm label-success"> current </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                Q4 2014
                                <span class="label label-sm label-warning"> upcoming </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>*@
    </div>
    <div class="portlet-body">
        <div style="display: none;" id="site_activities_loading">
            <img src="/assets/global/img/loading.gif" alt="loading">
        </div>
        <div style="display: block;" id="site_activities_content" class="display-none">
            <div id="site_activities" style="height: 228px; padding: 0px; position: relative;">
            </div>
        </div>
        <div style="margin: 20px 0 10px 30px">
            <div class="row">
                <div class="col-md-4 col-sm-3 col-xs-12 text-stat">
                    <span class="label label-sm label-success"> Yıllık Toplam: </span>
                    <h3>@(Model.MoneyCollectionBottomStatictics.ContainsKey("Year") ? Model.MoneyCollectionBottomStatictics["Year"] : "-") M TL</h3>
                </div>                                                                                                       
                <div class="col-md-4 col-sm-3 col-xs-12 text-stat">
                    <span class="label label-sm label-info"> Aylık Ortalama: </span>
                    <h3>@(Model.MoneyCollectionBottomStatictics.ContainsKey("Month") ? Model.MoneyCollectionBottomStatictics["Month"] : "-") M TL</h3>
                </div>
                <div class="col-md-4 col-sm-3 col-xs-12 text-stat">
                    <span class="label label-sm label-danger"> Günlük Ortalama: </span>
                    <h3>@(Model.MoneyCollectionBottomStatictics.ContainsKey("Day") ? Model.MoneyCollectionBottomStatictics["Day"] : "-") M TL</h3>
                </div>
                @*<div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                        <span class="label label-sm label-warning"> Orders: </span>
                        <h3>235090</h3>
                    </div>*@
            </div>
        </div>
    </div>
</div>