﻿<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat blue">
        <div class="visual">
            <i class="fa fa-comments"></i>
        </div>
        <div class="details">
            <div class="number">
                <span data-counter="counterup"
                      data-value="@Model.SummaryList[0].TextValue">
                    @Model.SummaryList[0].TextValue
                </span>
            </div>
            <div class="desc">@Model.SummaryList[0].TextKey</div>
        </div>
        <a class="more" href="#">
            Detay
            <i class="m-icon-swapright m-icon-white"></i>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat purple">
        <div class="visual">
            <i class="fa fa-globe"></i>
        </div>
        <div class="details">
            <div class="number">
                +
                <span data-counter="counterup"
                      data-value="@Model.SummaryList[3].TextValue">
                    @Model.SummaryList[3].TextValue
                </span>%
            </div>
            <div class="desc"> @Model.SummaryList[3].TextKey</div>
        </div>
        <a class="more" href="javascript:;">
            Detay
            <i class="m-icon-swapright m-icon-white"></i>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat red">
        <div class="visual">
            <i class="fa fa-bar-chart-o"></i>
        </div>
        <div class="details">
            <div class="number">
                <span data-counter="counterup"
                      data-value="@Model.SummaryList[1].TextValue">
                    @Model.SummaryList[1].TextValue
                </span>
            </div>
            <div class="desc"> @Model.SummaryList[1].TextKey </div>
        </div>
        <a class="more" href="javascript:;">
            Detay
            <i class="m-icon-swapright m-icon-white"></i>
        </a>
    </div>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat green">
        <div class="visual">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="details">
            <div class="number">
                <span data-counter="counterup"
                      data-value="@Model.SummaryList[2].TextValue">
                    @Model.SummaryList[2].TextValue
                </span>
            </div>
            <div class="desc">@Model.SummaryList[2].TextKey </div>
        </div>
        <a class="more" href="javascript:;">
            Detay
            <i class="m-icon-swapright m-icon-white"></i>
        </a>
    </div>
</div>
