﻿@using Efes.Entities
@using Efes.Entities.Home
@using Efes.Utility
@*HEDEF - GERÇEKLEŞEN TAHSILAT*@
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-cursor font-purple"></i>
            <span class="caption-subject font-purple bold uppercase">Hedef - Gerçekleşen Tahsilat</span>
        </div>
        <div class="actions">
            <a href="javascript:;" class="btn btn-sm btn-circle red easy-pie-chart-reload">
                <i class="fa fa-repeat"></i> Yenile
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            @foreach (TargetAndActualCollection tac in Model.TargetAndActualCollectionList)
            {
                <div class="col-md-4">
                    <div class="easy-pie-chart">
                        <div class="number transactions" data-percent="@((tac.Actual * 100)/ tac.Target) ">
                            <span>@((tac.Actual * 100) / tac.Target) </span>% <canvas height="75" width="75"></canvas>
                        </div>
                        <a class="title" href="javascript:;">
                            @tac.TargetAndActualCollectionType.GetDescription() (@tac.Actual TL / @tac.Target TL)
                        </a>
                    </div>
                </div>
                <div class="margin-bottom-10 visible-sm"> </div>
            }
        </div>
    </div>
</div>
