﻿@model Efes.Models.DashboardModel

@if (Model != null)
{
    if (Model.SummaryList.Count == 4)
    {
        <div class="row">
            @Html.Partial("_SummaryListWidget", Model)
        </div>
    }

    <div class="clearfix"></div>
    @*if (Model.TargetAndActualCollectionList != null)
    {
        <div class="row">
            <div class="col-md-12 col-sm-12">
                @Html.Partial("_TargetAndActualCollectionWidget", Model)
            </div>
        </div>
    }

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            @Html.Partial("_CallCountWidget", Model)
        </div>
        <div class="col-md-6 col-sm-6">
            @Html.Partial("_MoneyCollectionWidget", Model)
        </div>
    </div>*@

    <div class="clearfix"></div>

    @section PageScripts{
        @Scripts.Render("~/bundles/dashboard")

        <script type="text/javascript">

            var options = {
                CallCountArray: [],
                MoneyCollectionArray: []
            };

            var tempArrayList = [];
            var tempArray = [];

            @foreach (KeyValuePair<string, int> item in Model.CallCount)
            {
                <text>
            tempArray = [];
            tempArray.push('@(item.Key)');
            tempArray.push(@(item.Value));
            tempArrayList.push(tempArray);
            </text>
            }
            options.CallCountArray = tempArrayList;

            tempArrayList = [];
            @foreach (KeyValuePair<string, int> item in Model.MoneyCollection)
            {
                <text>
            tempArray = [];
            tempArray.push('@(item.Key)');
            tempArray.push(@(item.Value));
            tempArrayList.push(tempArray);
            </text>
            }
            options.MoneyCollectionArray = tempArrayList;

            jQuery(document).ready(function () {
                Dashboard.init(options); // init metronic core componets
            });
        </script>
    }
}

