﻿@using Efes.WC
@model Efes.Models.Law.OfficeModel
@{
    ViewBag.Title = "Hukuk Bürosu Yönetimi";
}

@using (Html.BeginForm("Create", "LawOffice", FormMethod.Post, new { @class = "form-horizontal", @id = "frmLawOffice" }))
{
    @Html.AntiForgeryToken()
    if (Model != null && Authentication.IsAllowedToSee("CreateOffice"))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit bordered" id="blockPlace">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-blue-sharp sbold">Hukuk Bürosu Oluşturma</span>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="form-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @if (Model.CityList.Any())
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-2">
                                        <select id="ddlCity" name="CityId" class="form-control">
                                            <option value="0">Lütfen şehir seçin</option>
                                            @foreach (var i in Model.CityList)
                                            {
                                                <option value="@i.Id">@(i.Name)</option>
                                            }
                                        </select>
                                        @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            }

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" value="Kaydet" class="btn btn-primary pull-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <span>İşlem esnasında hata oluşmuştur.</span>
    }
}

@if (Authentication.IsAllowedToSee("ViewOfficeList"))
{
<div>
    @Html.ActionLink("Listeye geri dön", "Index", new { }, new { @class = "btn btn-sm blue-hoki btn-outline sbold" }))
</div>
}
