﻿@using Efes.WC
@model Efes.Models.Law.OfficeModel

@{
    ViewBag.Title = "Hukuk Bürosu Yönetimi";
}
@if (Model != null && Authentication.IsAllowedToSee("DeleteOffice"))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered" id="blockPlace">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp sbold">Hukuk Bürosu Silme</span>
                    </div>
                </div>
                
                <div class="portlet-body">
                    <div class="form-body">
                        <h4 >Bu hukuk bürosunu silmek istediğinize emin misiniz?</h4>
                        <div>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PhoneNumber)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CityName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CityName)
                                </dd>
                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="CityId" value="@Model.CityId" />
                                <input type="hidden" name="PhoneNumber" value="@Model.PhoneNumber" />
                                <input type="hidden" name="Name" value="@Model.Name" />
                                <div class="form-actions no-color">
                                    <input type="submit" value="Sil" class="btn btn-default" /> 
                                    @Html.ActionLink("Listeye geri dön", "Index", new {}, new { @class = "btn btn-sm blue-hoki btn-outline sbold" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Authentication.IsAllowedToSee("ViewOfficeList"))
{
    <div>
        @Html.ActionLink("Listeye geri dön", "Index", new { }, new { @class = "btn btn-sm blue-hoki btn-outline sbold" }))
    </div>
}
