﻿@using Efes.WC
@model Efes.Models.Law.OfficeModel

@{
    ViewBag.Title = "Hukuk Bürosu Yönetimi";
}
@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered" id="blockPlace">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp sbold">Hukuk Bürosu Detayı</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.PhoneNumber)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.PhoneNumber)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CityName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CityName)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}
else
{
    <span>İşlem esnasında hata oluşmuştur.</span>
}
<div>
    @if (Model != null && Authentication.IsAllowedToSee("EditOffice"))
    {
        Html.ActionLink("Düzenle |", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm yellow-gold btn-outline sbold" });
    } 
    @if (Authentication.IsAllowedToSee("ViewOfficeList"))
    {
        <div>
            @Html.ActionLink("Listeye geri dön", "Index", new { }, new { @class = "btn btn-sm blue-hoki btn-outline sbold" }))
        </div>
    }
</div>




