﻿@using Efes.WC
@model Efes.Models.Law.OfficeListModel

@{
    ViewBag.Title = "Hukuk Bürosu Yönetimi";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Hukuk Bürosu Listesi</span>
                </div>
                @if (Authentication.IsAllowedToSee("CreateOffice"))
                {
                    @Html.ActionLink("Yeni Hukuk Bürosu", "Create", "CreateNew", new { @class = "btn btn-sm green-meadow pull-right" })
                }
            </div>
            <div class="portlet-body">
                @if (Model.OfficeModelList.Any() && Authentication.IsAllowedToSee("ViewOfficeList"))
                {
                    var firstItem = Model.OfficeModelList[0];
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet">
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => firstItem.Name)
                                                    </th>

                                                    <th>
                                                        @Html.DisplayNameFor(model => firstItem.PhoneNumber)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => firstItem.CityName)
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            @foreach (var item in Model.OfficeModelList)
                                            {
                                                <thead>
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CityName)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-sm yellow-gold btn-outline sbold" })
                                                            @Html.ActionLink("Detay", "Details", new { id = item.Id }, new { @class = "btn btn-sm blue-hoki btn-outline sbold" })
                                                            @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-sm red-haze btn-outline sbold" })
                                                            @Html.ActionLink("Dosyalar", "Index", "LawOfficeAccount", new { id = item.Id }, new { @class = "btn btn-sm green-seagreen btn-outline sbold" })
                                                            @Html.ActionLink("Kullanıcılar", "Index", "LawOfficeUser", new { id = item.Id }, new { @class = "btn btn-sm blue btn-outline sbold" })
                                                        </td>
                                                    </tr>
                                                </thead>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-info">
                        <strong>Bilgi: </strong> Hukuk bürosu bulunamamıştır.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
