﻿@using Efes.WC
@model  Efes.Models.LoosePaymentModel

@{
    ViewBag.Title = "İşlenmemiş Ödemeler";
}

<style type="text/css">
    .table-condensed > tbody > tr > td {
        padding: 1px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Onay Bekleyen Protokoller</span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="paymentListTable">
                    <thead>
                        <tr>
                            <th> Ödeme Tarihi </th>
                            <th> Tutar</th>
                            <th> Ödenen Banka</th>
                            <th> Ödeme Açıklaması</th>
                            <th> DbsLine</th>
                            @*<th> Adı Soyadı </th>*@
                            <th> Tckn</th>
                            <th> Dosya Sahibi </th>
                            @*<th> Durum</th>*@
                            <th> Durum Açıklaması</th>
                            <th> Tahsilat Yevmiye No </th>
                            <th> Muhasebe Fiş No </th>
                            @*@if (Authentication.IsAllowedToSee("ApproveWaitingProtocol"))
                                {
                                    <th> </th>
                                }
                                @if (Authentication.IsAllowedToSee("CancelWaitingProtocol"))
                                {
                                    <th> </th>
                                }*@
                            <th> Detay </th>
                            <th> Kişi Eşleştir </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var prt in Model.LoosePaymentList)
                            {
                                <tr data-id="@prt.RecId">
                                    <td>@prt.PaymentDate.ToString("d")</td>
                                    <td>@prt.Amount</td>
                                    <td>@prt.PaymentBank</td>
                                    <td>@prt.PaymentDesc</td>
                                    <td>@prt.DbsLine</td>
                                    @*<td>@prt.DisplayName</td>*@
                                    <td>@prt.Tckn</td>
                                    <td>@prt.EmployeeLoginId</td>
                                    @*<td>@prt.StatusText</td>*@
                                    <td>@prt.MessageText</td>
                                    <td>@prt.TahsilatYevmiyeNo</td>
                                    <td>@prt.MuhasebeFisNo</td>
                                    <td>
                                        <button class="btn btn-danger" onclick="ShowDetail('@(prt.RecId)', '@(prt.IsRelated)')">Detay Gör</button>
                                    </td>
                                    <td>
                                        @if (!prt.IsRelated)
                                        {
                                            <button class="btn btn-info" onclick="AttachToAnAccount('@(prt.RecId)')">Kişi Eşleştir</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="viewLoosePayment" class="modal fade bs-modal-lg" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Tahsilat Detayı</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height: 300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table class="table table-condensed">
                                    <tr>
                                        <td class="bg-blue-soft bg-font-blue-soft">Tahsilat Yevmiye No</td>
                                        <td id="TahYevNo"></td>
                                        <td class="bg-blue-soft bg-font-blue-soft">Tahsilat Tarihi</td>
                                        <td id="TahTar"></td>
                                    </tr>
                                    <tr>
                                        <td class="bg-blue-soft bg-font-blue-soft">Tutar</td>
                                        <td id="Tutar"></td>
                                        <td class="bg-blue-soft bg-font-blue-soft">Durum Açıklaması</td>
                                        <td id="StatusDesc"></td>
                                    </tr>
                                    <tr>
                                        <td class="bg-blue-soft bg-font-blue-soft">Banka</td>
                                        <td id="Banka"></td>
                                        <td class="bg-blue-soft bg-font-blue-soft">Tahsilat Açıklaması</td>
                                        <td id="TahAcik"></td>
                                    </tr>
                                    <tr>
                                        <td class="bg-blue-soft bg-font-blue-soft">CID</td>
                                        <td id="CID"></td>
                                        <td class="bg-blue-soft bg-font-blue-soft">Tahsilat Anında Dosya Sahibi</td>
                                        <td id="TahAnDosSah"></td>
                                    </tr>
                                    <tr>
                                        <td class="bg-blue-soft bg-font-blue-soft">Durum</td>
                                        <td id="Status"></td>
                                        <td class="bg-blue-soft bg-font-blue-soft">Mesaj</td>
                                        <td id="Mesaj"></td>
                                    </tr>
                                    <tr>
                                        <td class="bg-blue-soft bg-font-blue-soft">Muhasebe Fiş No</td>
                                        <td id="MuhFisNo"></td>
                                        <td class="bg-blue-soft bg-font-blue-soft">Borçlu Adı Soyadı</td>
                                        <td id="BorAdSoyad"></td>
                                    </tr>
                                    <tr>
                                        <td class="bg-blue-soft bg-font-blue-soft">Efs Tahsilat Satırı</td>
                                        <td id="EfsTahSat" colspan="3"></td>
                                    </tr>
                                </table>
                                <label class="control-label" for="ddlPlanType_11" id="lblPlanType_11">Plan Tipi</label>
                                <select class="form-control input-sm" id="ddlPlanType_11"></select>
                                <label class="control-label" for="ddlPlanType_11" id="lblPlanSubType_11">Plan Alt Tipi</label>
                                <select class="form-control input-sm" id="ddlPlanSubType_11"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
                <button type="button" data-dismiss="modal" class="btn green" onclick="attachToProtocol()" id="tab11AttachP">Ödemeyi İşle</button>
            </div>
        </div>
    </div>
</div>

<div id="attachLoosePayment" class="modal fade bs-modal-lg" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Tahsilat İşle</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label for="txtNameTckn" class="control-label font-blue-madison">Account Id / Tckn</label>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <input id="txtNameTckn" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
                <button type="button" data-dismiss="modal" class="btn btn-info" onclick="UpdateRecord();">Kişi Eşleştir</button>
            </div>
        </div>
    </div>
</div>

@if (Model != null)
{
    <script type="text/javascript">
        var LoosePaymentList = @(Html.Raw(Json.Encode(Model.LoosePaymentList)));
        var paymentPlanTypes = JSON.parse('@(Html.Raw(Json.Encode(Model.PaymentPlanTypes)))');

        var ShowDetail = function(recId, isRelated) {
            var record = _.filter(LoosePaymentList, function(c) { return c.RecId === recId })[0];
            $("#TahYevNo").html(record.TahsilatYevmiyeNo);
            $("#TahTar").html(record.PaymentDateStr);
            $("#Tutar").html(record.Amount);
            $("#Banka").html(record.PaymentBank);
            $("#StatusDesc").html(record.StatusText);
            $("#TahAcik").html(record.PaymentDesc);
            $("#CID").html();
            $("#TahAnDosSah").html(record.EmployeeLoginId);
            $("#Status").html(record.StatusText);
            $("#Mesaj").html(record.MessageText);
            $("#MuhFisNo").html(record.MuhasebeFisNo);
            $("#BorAdSoyad").html(record.DisplayName);
            $("#EfsTahSat").html();
            $("#viewLoosePayment").modal("show");
            $("#viewLoosePayment").data("rec-id", recId);

            var planTypeDdl = $("#ddlPlanType_11");
            var subPlanTypeDdl = $("#ddlPlanSubType_11");
            var lblPlanType = $("#lblPlanType_11");
            var lblPlanSubType = $("#lblPlanSubType_11");

            if (!isRelated) {
                $("#tab11AttachP").hide();
                //$("#tab11DeAttachP").show();
                planTypeDdl.hide();
                lblPlanType.hide();
                subPlanTypeDdl.hide();
                lblPlanSubType.hide();
            } else {
                $("#tab11AttachP").show();
                //$("#tab11DeAttachP").hide();
                planTypeDdl.show();
                lblPlanType.show();
                subPlanTypeDdl.show();
                lblPlanSubType.show();

                $("#ddlPlanType_11").off("change").on("change", function () {
                    var key = $(this).val();
                    fillSubPlanTypes(key);
                });
                window.Utility.PopulateSelect("#ddlPlanType_11", window.paymentPlanTypes, "Id", "Value");
                fillSubPlanTypes(window.paymentPlanTypes[0].Id);
            }
        };

        var attachToProtocol = function () {
            var paymentPlanId = $("#ddlPlanType_11").val();
            var paymentSubPlanId = $("#ddlPlanSubType_11").val();
            var recId = $("#viewLoosePayment").data("rec-id");
            var obj = JSON.stringify({ paymentPlanId: paymentPlanId, paymentSubPlanId: paymentSubPlanId, recId: recId });
            $("#blockPlace").block();

            window.Core.AjaxCall({
                url: "/Obligor/AttachToProtocol",
                data: obj,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response.isSuccess) {
                    }
                },
                complete: function () {
                    $("#viewLoosePayment").modal("hide");
                    location.reload();
                },
                error: function() {
                    $("#blockPlace").unblock();
                }
            });
        }

        var fillSubPlanTypes = function (id) {
            var obj = JSON.stringify({ paymentPlanId: id });

            Core.AjaxCall({
                url: "/Obligor/GetPaymentSubPlanType",
                data: obj,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                blockDiv: "ddlPlanType_11",
                success: function (response) {
                    if (response.isSuccess) {
                        Utility.PopulateSelect("#ddlPlanSubType_11", response.paymentPlanSubType, "Id", "Value");
                    }
                },

            });
        }

        var AttachToAnAccount = function (recId) {
            $("#txtNameTckn").val("");
            $("#attachLoosePayment").data("recId", recId);
            $("#attachLoosePayment").modal("show");
        };

        var UpdateRecord = function () {
            var val = $("#txtNameTckn").val();
            var recId = $("#attachLoosePayment").data("recId");
            var obj = JSON.stringify({recId: recId, val: val});

            window.Core.AjaxCall({
                url: "/LoosePayment/UpdateProccessedPayment",
                data: obj,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                blockDiv: "paymentListTable",
                success: function (response) {
                    if (response.isSucceded) {
                        $("tr[data-id='" + recId + "']").hide();
                    } else {
                        alert("Islem yapilirken hata olustu");
                    }
                },

            });
        };


    </script>
}