﻿@using Efes.WC
@using Efes.Utility;
@{
    Layout = null;
}

<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href="@Url.Action("Dashboard", "Home")">
                <img src="/Content/img/logo.png" alt="logo" class="logo-default" style="margin: 12px 10px 0;" />
            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <div class="page-actions">

        </div>

        <div class="page-top">

            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="font-size: 27px; font-family: sans-serif; font-weight: bolder; color: #b0dde1; ">
                            @(
                                System.Configuration.ConfigurationManager.ConnectionStrings["efesCs"].ConnectionString.Base64Decode().Split(';').ToList()[0] != "Data Source=10.103.1.1" ? "Test Ortamı" : ""
                            )
                        </a>

                    </li>
                    <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-bell"></i>
                            <span class="badge badge-danger" id="notificationCount">0</span>
                        </a>
                        <ul class="dropdown-menu  extended tasks">

                            <li>
                                <ul id="notificationList" class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283"></ul>
                            </li>
                        </ul>
                    </li>
                    @if (AuthManager.IsAuthenticated)
                    {
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <span class="username username-hide-on-mobile"> @(Authentication.UserInfo.Name)</span>
                                <img alt="" class="img-circle" src="@(Authentication.UserInfo.ImagePath ?? "/Content/img/empty_user.png")">
                            </a>
                        </li>
                    }

                    <li class="dropdown dropdown-extended quick-sidebar-toggler" onclick="location.href='@Url.Action("Logout", "Account")'">
                        <i class="icon-logout"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmationModal" data-id="{Id}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{Title} - {From}</h4>
            </div>
            <div class="modal-body">{Body}</div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn green" id="btnConfirm" data-dismiss="modal">Onayla</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="informationModal" data-id="{Id}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{Title} - {From}</h4>
            </div>
            <div class="modal-body">{Body}</div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Kapat</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

