﻿@using Efes.Utility
@using Efes.WC

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>Efes Varlık Yönetim A.Ş </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/uniform/css/uniform.default.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/jquery-notific8/jquery.notific8.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/nouislider/nouislider.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/nouislider/nouislider.pips.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/css/google.open.sans.css" rel="stylesheet" />
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" />
    <link href="~/assets/layouts/css/layout.min.css" rel="stylesheet" />
    <link href="~/assets/layouts/css/themes/light.min.css" rel="stylesheet" />
    <link href="~/assets/layouts/css/custom.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <style type="text/css">
        .jquery-notific8-notification {
            height: 110px;
        }

        body {
            zoom: 75%;
        }

        table.dataTable thead .sorting:after {
            opacity: 0.2;
            content: "";
        }

        table.dataTable thead .sorting_asc:after {
            content: "";
        }

        table.dataTable thead .sorting_desc:after {
            content: "";
        }

        .noUi-handle .noUi-tooltip {
            top: -33px;
        }
    </style>

    @{
        if (System.Configuration.ConfigurationManager.ConnectionStrings["efesCs"].ConnectionString.Base64Decode().Split(';').ToList()[0] != "Data Source=10.103.1.1")
        {
            <style type="text/css">
                body {
                    background: #b0dde1 !important;
                }

                .page-header.navbar {
                    background: #007fb1;
                }
            </style>
        }
    }
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
    @{Html.RenderPartial("_header");}

    <div class="clearfix"> </div>
    <div class="page-container">
        @if (Authentication.UserInfo != null)
        {
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    @{
                        var sideMenu = CacheManager.Default.Get("sidemenu_" + Authentication.UserInfo.Id);
                        if (sideMenu == null)
                        {
                            sideMenu = Html.Partial("_sidebar").ToString();
                            CacheManager.Default.Add("sidemenu_" + Authentication.UserInfo.Id, 
                                String.IsNullOrWhiteSpace(sideMenu.ToString()) ? 
                                null : 
                                sideMenu.ToString());
                        }
                    }
                    @Html.Raw(sideMenu)
                </div>
            </div>
            <div class="page-content-wrapper">
                <div class="page-content">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
                    {
                        <div class="page-head">
                            <div class="page-title">
                                <h1>
                                    @ViewBag.Title
                                </h1>
                            </div>
                        </div>
                    }

                    @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
                    {
                        @ViewBag.Message
                        <script type="text/javascript">
                            alert("@ViewBag.Message");
                        </script>
                    }
                    @RenderBody()

                </div>
            </div>
                        }
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            @DateTime.Now.Year &copy;
            <a href="http://www.silikonakademi.com" target="_blank">Silikon Akademi</a>
        </div>
        <div class="page-footer-inner pull-right">
            <a class="btn blue-soft btn-outline" data-toggle="modal" href="#feedbackModal">Sorun bildir</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>

    <div class="modal fade" id="feedbackModal" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Sorun bildir</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" rows="6" id="txtFeedback"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn blue-soft" onclick="Feedback.InsertFeedback();">Gönder</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="searchObligorModal" tabindex="-1" role="basic" aria-hidden="true">
        <form id="frmSearchObligorModal" action="@Url.Action("SearchObligorList", "Obligor")">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="title"></h4>
                        <input type="hidden" name="searchType" id="searchTypeId" />
                    </div>
                    <div class="modal-body">
                        <input id="searchTerm" class="form-control" type="text" name="searchTerm" minlength="1">
                        <div id="noUiSliderWitchScoreSearch" class="noUi-danger"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Kapat</button>
                        <button type="submit" class="btn blue-soft" onclick=" return ($.trim($('#searchTerm').val()) === '' ? false : true) ">Ara</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    @if (Authentication.IsAllowedToSee("ChangeAccountOwner"))
    {
        <div class="modal fade" id="changeAccountOwnerModal" tabindex="-1" role="basic" aria-hidden="true" data-row-id=''>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title"> Dosya Sahibi Değiştirme</h4>
                        <input type="hidden" id="accountId" />
                    </div>
                    <div class="modal-body">
                        <select class="form-control" id="ddlUserId"></select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Kapat</button>
                        <button type="submit" data-id="btnChange" class="btn blue-soft">Değiştir</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <!--[if lt IE 9]>
            @Scripts.Render("~/bundles/ltie9")
        <![endif]-->
    @*@Scripts.Render("~/bundles/layout")*@
    @*(Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" charset=\"windows-1254\"></script>", "~/bundles/layout")*@
    <script src="/assets/global/plugins/jquery.min.js"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/global/plugins/js.cookie.min.js"></script>
    <script src="/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/global/plugins/jquery.blockui.min.js"></script>
    <script src="/assets/global/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="/assets/global/plugins/jquery-notific8/jquery.notific8.min.js"></script>
    <script src="/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.tr.js"></script>
    <script src="/assets/global/scripts/app.min.js"></script>
    <script src="/assets/layouts/scripts/layout.min.js"></script>
    <script src="/assets/layouts/scripts/demo.min.js"></script>
    <script src="/assets/layouts/global/scripts/quick-sidebar.min.js"></script>
    <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/pages/scripts/ui-notific8.min.js"></script>
    @*<script src="/assets/pages/scripts/ui-modals.min.js"></script>*@
    <script src="/assets/global/plugins/moment.min.js"></script>
    <script src="/assets/pages/scripts/components-date-time-pickers.min.js"></script>
    <script src="/assets/pages/scripts/components-date-time-pickers-tr.js"></script>
    <script src="/Scripts/underscore.min.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/modernizr-2.8.3.js"></script>
    <script src="/assets/global/plugins/datatables/datatables.min.js"></script>
    <script src="/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js"></script>
    <script src="/assets/global/plugins/datatables/plugins/datatables.moment.js"></script>
    <script src="/assets/global/plugins/jquery.pulsate.min.js"></script>
    <script src="/assets/global/plugins/nouislider/nouislider.min.js"></script>
    <script src="/assets/global/plugins/nouislider/wNumb.min.js"></script>
    <script src="/Scripts/Inputmask/inputmask.min.js"></script>
    <script src="/Scripts/Inputmask/jquery.inputmask.min.js"></script>
    <script src="/Scripts/Inputmask/inputmask.extensions.min.js"></script>
    <script src="/Scripts/Inputmask/inputmask.date.extensions.min.js"></script>
    <script src="/Scripts/Inputmask/inputmask.regex.extensions.min.js"></script>
    <script src="/Scripts/Inputmask/inputmask.numeric.extensions.min.js"></script>
    <script src="/Scripts/quicksearch.js"></script>
    <script src="/content/scripts/Site.js"></script>
    <script src="/content/scripts/Obligor.js"></script>
    <script src="/content/scripts/TemplateManager.js"></script>
    <script src="/content/scripts/Core.js"></script>;
    <script src="/content/scripts/ResponsiveUI.js"></script>;


    @RenderSection("PageScripts", false)
    @if (Authentication.UserInfo != null)
    {
        <script type="text/javascript">
            var UserRules = JSON.parse('@(Html.Raw(Json.Encode(Authentication.UserRules)))');
            var UserRoles = JSON.parse('@(Html.Raw(Json.Encode(Authentication.UserRoles)))');
        </script>
    }
    <script type="text/javascript">
            $(function () {
                Site.Init();
            });
    </script>
</body>
</html>