﻿@*TumPortfoydekiBorclari*@
<script id="tmpTab2" type="text/html">
    <table class="table table-striped table-bordered table-hover" id="tblList_2">
        <thead>
            <tr>
                <th>Account Id </th>
                <th> Görünen Ad </th>
                <th> Borç İle İlişkisi </th>
                <th> İcra Dairesi </th>
                <th> İcra Dosya </th>
                @*<th> Login İsmi </th>*@
                <th> Banka </th>
                <th> Portföy </th>
                <th> Borç Durum </th>
                @*<th> Borç Durum Detayı </th>*@
                <th> Dosya Sahibi </th>
                <th> Toplam Anapara</th>
                <th> Borç Anapara</th>
                <th> Bakiye Anapara</th>
                @*<th> Master Debt</th>*@
                @*<th> Kişi Durumu</th>*@
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td><a href="/Obligor/Detail?accountId={{Model[i].Id}}">{{Model[i].Id}}</a> </td>
                <td><a href="/Obligor/Detail?accountId={{Model[i].Id}}">{{Model[i].GorunenAd}}</a> </td>
                <td> {{Model[i].BorcIleIliskisi}} </td>
                <td> {{Model[i].IcraDairesi}} </td>
                <td> {{Model[i].IcraDosya}} </td>
                @*<td> {{Model[i].LoginIsmi}} </td>*@
                <td> {{Model[i].Banka}} </td>
                <td> {{Model[i].Portfoy}} </td>
                <td> {{Model[i].BorcDurum}} </td>
                @*<td> {{Model[i].BorcDurumDetay}} </td>*@
                <td> {{Model[i].DosyaSahibi}} </td>
                <td> {{Model[i].ToplamAnapara}} </td>
                <td> {{Model[i].BorcAnapara}} </td>
                <td> {{Model[i].BakiyeAnapara}} </td>
                @*<td> {{Model[i].MasterDept}} </td>*@
                @*<td> {{Model[i].KisiDurumu}} </td>*@
                <td>
                    <a href="/Obligor/Detail?accountId={{Model[i].Id}}" class="btn blue btn-block">Görüntüle</a>
                </td>
            </tr>
            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Notes*@
<script id="tmpTab3" type="text/html">
    <p>
        <a href="#tab3Add" data-toggle="modal" class="btn green btn-outline"><span style="text-decoration: underline;">N</span>ot Ekle</a>
    </p>
    <table id="tblList_3" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> Not Tarihi </th>
                <th class="col-lg-9 col-md-9 col-sm-9 col-xs-9"> Detay </th>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Oluşturan </th>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> İşlemler </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}" class="{%if(Model[i].IsDanger){%}danger{%}%}">
                <td> {{Model[i].NotTarihi}} </td>
                <td> {{Model[i].Detay}} </td>
                <td> {{Model[i].Olusturan}} </td>
                <td><a onclick="Note.DeleteNote('{{Model[i].Id}}')" class="btn red btn-block">Sil</a>  </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

<script id="tmpTab3Row" type="text/html">
    <tr data-id="{{Model.Id}}" class="{%if(Model.IsDanger){%}danger{%}%}">
        <td> {{Model.NotTarihi}} </td>
        <td> {{Model.Detay}} </td>
        <td> {{Model.Olusturan}} </td>
    </tr>
</script>

<div id="tab3Add" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Not Ekle</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height: 300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="detail_3">Detay</label>
                                <textarea id="detail_3" class="form-control" rows="3" placeholder="Lütfen not için açıklama girin ..." onkeyup="Utility.CountChar(this, 1000)"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="ddlType_3">Tipi</label>
                                <select class="form-control input-sm" id="ddlType_3">
                                    <option value="0" selected="selected">Normal</option>
                                    <option value="1">Kritik</option>
                                </select>
                            </div>
                            <div class="form-group col-md-offset-2">
                                <div id="noUiSliderAddNote" class="noUi-danger col-md-8"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
                <button type="submit" class="btn green" onclick=" Note.AddNote(); " id="btnSaveNote_3" disabled="disabled">Ekle</button>
            </div>
        </div>
    </div>
</div>

@*Hatirlatici*@
<div id="tabReminder" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Hatırlatıcı Ekle</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height: 450px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="mainScreenReminderType">Tipi</label>
                                <select class="form-control input-sm" id="mainScreenReminderType"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Tarih</label>
                                <div class="col-md-4">
                                    <div id="mainScreenReminderDate"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="detail_3">Detay</label>
                            <textarea id="mainScreenReminderDesc" class="form-control" rows="3" placeholder="Lütfen not girin ..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
                <button type="submit" class="btn green" onclick=" Reminder.AddReminder(); " id="btnMainScreenAddReminder" disabled="disabled">Ekle</button>
            </div>
        </div>
    </div>
</div>

@*Sms Tarihçesi*@
<script id="tmpTab4" type="text/html">
    <p>
        <a href="#tab4Add" data-toggle="modal" class="btn green btn-outline">Yeni <span style="text-decoration: underline;">S</span>MS</a>
    </p>
    <table class="table table-striped table-bordered table-hover" id="tblList_4">
        <thead>
            <tr>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Id</th>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Gönderilen Numara </th>
                @*<th> Sms Şablonu </th>*@
                <th class="col-lg-7 col-md-7 col-sm-7 col-xs-7"> Sms Metni </th>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Durum </th>
                @*<th> Hata Kodu </th>*@
                @*<th> Hata Açıklaması </th>*@
                @*<th> Gönderilecek Zaman </th>*@
                @*<th> Kuyruğa Girme Zamanı </th>*@
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Gönderim Zamanı </th>
                @*<th> Sms Durum</th>*@
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> Gönderen</th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}" data-sms-text="{{Model[i].SmsText}}" title="{{Model[i].SmsText}}">
                <td> {{Model[i].Id}} </td>
                <td> {{Model[i].Number}} </td>
                @*<td> {{Model[i].SmsTemplate}} </td>*@
                <td> {{Model[i].ShortSmsText}} </td>
                <td> {{Model[i].Status}} </td>
                @*<td> {{Model[i].ErrorCode}} </td>*@
                @*<td> {{Model[i].ErrorDesc}} </td>*@
                @*<td> {{Model[i].PlannedSendDate}} </td>
                    <td> {{Model[i].QueuedDate}} </td>*@
                <td> {{Model[i].ResultDate}} </td>
                @*<td> {{Model[i].SmsStatus}} </td>*@
                <td> {{Model[i].User}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

<div id="tab4Add" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Yeni Sms Gönder</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height:300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="ddlMobilePhone_4">Cep Telefonu</label>
                                <select class="form-control input-sm" id="ddlMobilePhone_4"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="ddlSmsTemplate_4">Şablon</label>
                                <select class="form-control input-sm" id="ddlSmsTemplate_4"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="txtSms_4">Gönderilecek Sms</label>
                                <textarea id="txtSms_4" class="form-control" rows="3" disabled="disabled"></textarea>
                                <button type="button" class="btn blue pull-right" onclick="SmsHistory.Preview();">Önizleme</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
                <button type="submit" class="btn green" onclick="SmsHistory.SendSms();" id="btnSendSms_4">Gönder</button>
            </div>
        </div>
    </div>
</div>

@*İletişim Tarihçesi*@
<script id="tmpTab5" type="text/html">
    <table class="table table-striped table-bordered table-hover" id="tblList_5">
        <thead>
            <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"> Tarih</th>
                <th> Agent</th>
                <th> Telefon </th>
                <th> Sonuç </th>
                <th> Konuşulan Kişi </th>
                <th> Konuşulan Kişi Adı </th>
                <th> Numaramı Göster </th>
                <th> Islemler </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].Tarih}} </td>
                <td> {{Model[i].Agent}} </td>
                <td> {{Model[i].Telefon}} </td>
                <td> {{Model[i].Sonuc}} </td>
                <td> {{Model[i].KonusulanKisi}} </td>
                <td> {{Model[i].KonusulanKisiAdi}} </td>
                <td> {{Model[i].NumaramiGoster}} </td>
                <td title="{{Model[i].FilePath}}">
                    {%if (Model[i].FilePath){%}
                    <audio controls="">
                        <source src="{{Model[i].ModifiedFilePath}}" type="audio/mp3">
                    </audio>

                    {%}%}
                </td>
                @*<td title="{{Model[i].FilePath}}">
                        {%if (Model[i].FilePath){%}
                        <audio controls="">
                            <source src="http://{{Model[i].FilePath}}" type="audio/mp3">
                        </audio>
                        {%}%}
                    </td>*@
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*HP Teminatlar*@
<script id="tmpTab6" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Account Id </th>
                <th> Föy No</th>
                <th> Kişi Kurum Adı </th>
                <th> Teminat Türü </th>
                <th> Teminat Cinsi </th>
                <th> Taşınır </th>
                <th> Taşınmaz </th>
                <th> Takyidat </th>
                <th> Expertiz Değeri </th>
                <th> Expertiz Tarihi </th>
                <th> Tutarı</th>
                <th> Bulunduğu Yer</th>
                <th> Derece</th>
                <th> İl</th>
                <th> KTR</th>
                <th> Maliki</th>
                <th> Marka</th>
                <th> Model</th>
                <th> Muhafaza</th>
                <th> Plaka</th>
                <th> Rehin Sözleşme Tarihi</th>
                <th> Satış Günü 1</th>
                <th> Satış Günü 2</th>
                <th> Satış Sonucu</th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].AccountId}} </td>
                <td> {{Model[i].FoyNo}} </td>
                <td> {{Model[i].KisiKurumAdi}} </td>
                <td> {{Model[i].TeminatTuru}} </td>
                <td> {{Model[i].TeminatCinsi}} </td>
                <td> {{Model[i].Tasinir}} </td>
                <td> {{Model[i].Tasinmaz}} </td>
                <td> {{Model[i].Takyidat}} </td>
                <td> {{Model[i].ExpertizDegeri}} </td>
                <td> {{Model[i].ExpertizTarihi}} </td>
                <td> {{Model[i].Tutari}} </td>
                <td> {{Model[i].BulunduguYer}} </td>
                <td> {{Model[i].Derece}} </td>
                <td> {{Model[i].Il}} </td>
                <td> {{Model[i].KTR}} </td>
                <td> {{Model[i].Maliki}} </td>
                <td> {{Model[i].Marka}} </td>
                <td> {{Model[i].Model}} </td>
                <td> {{Model[i].Muhafaza}} </td>
                <td> {{Model[i].Plaka}} </td>
                <td> {{Model[i].RehinSozlesmeTarihi}} </td>
                <td> {{Model[i].SatisGunu1}} </td>
                <td> {{Model[i].SatisGunu2}} </td>
                <td> {{Model[i].SatisSonucu}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*HP Hacizli Mal*@
<script id="tmpTab7" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Account Id </th>
                <th> Föy No</th>
                <th> Teminat Türü </th>
                <th> Teminat Cinsi </th>
                <th> Satış Günü 1</th>
                <th> Satış Günü 2</th>
                <th> Haciz Tarihi </th>
                <th> Taşınır </th>
                <th> Taşınmaz </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].AccountId}} </td>
                <td> {{Model[i].FoyNo}} </td>
                <td> {{Model[i].TeminatTuru}} </td>
                <td> {{Model[i].TeminatCinsi}} </td>
                <td> {{Model[i].SatisGunu1}} </td>
                <td> {{Model[i].SatisGunu2}} </td>
                <td> {{Model[i].HacizTarihi}} </td>
                <td> {{Model[i].Tasinir}} </td>
                <td> {{Model[i].Tasinmaz}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Protokol Tarihçesi*@
<script id="tmpTab9" type="text/html">
    <table id="tblList_9" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Plan Id </th>
                <th>Plan Tarihi </th>
                <th>Peşinat Tarihi </th>
                <th>İlk Taksit Tarihi </th>
                <th>Peşinat Tutarı </th>
                <th>Taksit Tutarı </th>
                <th>Taksit Adedi </th>
                <th>Plan Tutarı </th>
                <th>Durum </th>
                <th>Sahibi </th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].RecId}}">
                <td> {{Model[i].PayPlanId}} </td>
                <td> {{Model[i].PlanDateStr}} </td>
                <td> {{Model[i].PesinDateStr}} </td>
                <td> {{Model[i].InstallmentStartDateStr}} </td>
                <td> {{Model[i].PesinAmount}} </td>
                <td> {{Model[i].InstallmentAmount}} </td>
                <td> {{Model[i].MaxInstallmentCount}} </td>
                <td> {{Model[i].PlanAmount}} </td>
                <td> {{Model[i].StatusText}} </td>
                <td> {{Model[i].Owner}} </td>
                <td>
                    {%if(Model[i].StatusText == "Aktif"){%}
                    <a class="btn red btn-block" onclick="ProtocolHistory.ConfirmForDelete('{{Model[i].RecId}}', '{{Model[i].PayPlanId}}')">İptal</a>
                    {%}else{%}
                    <a class="btn green-seagreen btn-block" onclick="ProtocolHistory.ShowDetail('{{Model[i].RecId}}')">Detay</a>
                    {%}%}
                </td>
            </tr>
            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

<div id="tab9HistoryDetail" class="modal fade bs-modal-lg" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Protocol Detayı</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height: 300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" id="tbl9HistoryDetail">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
            </div>
        </div>
    </div>
</div>

<script id="protocolHistoryDetail" type="text/html">

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Taksit Tarihi (Vade)</th>
                <th> Taksit No</th>
                <th> Taksit Tutarı</th>
                <th> Ödenen </th>
                <th> Kalan</th>
                <th style="white-space: nowrap"> Taksit Tutarı (Vfsiz)</th>
                <th> Durum </th>
                <th> Orjinal Taksit Tarihi </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].TaksitTarihiVadeli}} </td>
                <td> {{Model[i].TaksitNo == 0 ? "Peşinat" : Model[i].TaksitNo}} </td>
                <td style="white-space: nowrap"> {{Model[i].TaksitTutari}} TL</td>
                <td style="white-space: nowrap"> {{Model[i].Odenen}} TL</td>
                <td style="white-space: nowrap"> <span>{{Model[i].Kalan}} TL</span></td>
                <td style="white-space: nowrap"> {{Model[i].TaksitTutariVfsiz}} TL</td>
                <td> {{Model[i].Durum}} </td>
                <td> {{Model[i].OrjinalTaksitTarihi}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Aktif Protokolun Taksitleri*@
<script id="tmpTab10" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Taksit Tarihi (Vade)</th>
                <th> Taksit No</th>
                <th> Taksit Tutarı</th>
                <th> Ödenen </th>
                <th> Kalan</th>
                <th> Taksit Tutarı (Vfsiz)</th>
                <th> Durum </th>
                <th> Orjinal Taksit Tarihi </th>
                <th> Taksit Degiştirme Notu </th>
                <th> Açıklama</th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].TaksitTarihiVadeli}} </td>
                <td> {{Model[i].TaksitNo}} </td>
                <td> {{Model[i].TaksitTutari}} </td>
                <td> {{Model[i].Odenen}} </td>
                <td> {{Model[i].Kalan}} </td>
                <td> {{Model[i].TaksitTutariVfsiz}} </td>
                <td> {{Model[i].Durum}} </td>
                <td> {{Model[i].OrjinalTaksitTarihi}} </td>
                <td> {{Model[i].TaksitDegistirmeNotu}} </td>
                <td> {{Model[i].Desc}} </td>
                <td>
                    @*<a class="btn green-seagreen btn-block" onclick="ProtocolHistory.OpenDetail('{{Model[i].Id}}')">Detay</a>*@
                </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Kişinin Tüm Ödemeleri*@
<script id="tmpTab11" type="text/html">
    <table class="table table-striped table-bordered table-hover" id="tblList_11">
        <thead>
            <tr>
                <th> Ödeme Tarihi</th>
                <th> Tutar</th>
                <th> Ödenen Banka</th>
                <th> Tahsilat Açıklaması </th>
                <th> Ad Soyad</th>
                <th> Durum </th>
                <th> Tahsilat Yevmiye No </th>
                <th> Muhasebe Fiş No </th>
                <th> Plan Tipi </th>
                <th> Plan Alt Tipi </th>
                @*{%if ((UserRules.indexOf("ViewChangeFileOwner") !== -1
                || UserRoles.indexOf("Admin") !== -1)
                && folderOwner !== 'system'){%}*@
                <th> İşlem 1 </th>
                @*{%}%}*@
                <th> İşlem 2 </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}
            <tr class="{{Model[i].HasProtocoled?'':'warning'}}"
                data-id="{{Model[i].Id}}"
                data-payment-date="{{Model[i].PaymentDate}}"
                data-value="{{Model[i].Value}}"
                data-bank="{{Model[i].Bank}}"
                data-cid="{{Model[i].CID}}"
                data-status="{{Model[i].Status}}"
                data-status-text="{{Model[i].StatusText}}"
                data-cjn="{{Model[i].CollectionJournalNumber}}"
                data-avn="{{Model[i].AccountingVoucherNumber}}"
                data-payment-desc="{{Model[i].CollectionDesc}}"
                data-efs="{{Model[i].EfsCollectionRow}}"
                data-message-text="{{Model[i].MessageText}}"
                data-name="{{Model[i].FullName}}"
                data-file-owner="{{Model[i].FileOwner}}"
                data-account-id="{{Model[i].AccountId}}"
                data-tads="{{Model[i].Tads}}">
                <td> {{Model[i].PaymentDate}} </td>
                <td> {{Model[i].Value}} </td>
                <td> {{Model[i].Bank}} </td>
                <td> {{Model[i].CollectionDesc}} </td>
                <td> {{Model[i].NameSurname}} </td>
                <td> {{Model[i].StatusText}} </td>
                <td> {{Model[i].CollectionJournalNumber}} </td>
                <td> {{Model[i].AccountingVoucherNumber}} </td>
                <td> {{Model[i].PlanType}} </td>
                <td> {{Model[i].PlanSubType}} </td>
                @*{%if ((UserRules.indexOf("ViewChangeFileOwner") !== -1
                || UserRoles.indexOf("Admin") !== -1)
                && folderOwner !== 'system'){%}*@
                <td data-user-rule="ViewChangeFileOwner">
                    <button id="tab11BtnChangeOwner"
                            type="button"
                            class="btn yellow btn-outline sbold"
                            onclick="Obligor.OpenAccountOwnerChangeModal('{{Model[i].AccountId}}', null, '{{Model[i].Id}}')">
                        Sahip Değiştir
                    </button>
                </td>
                @*{%}%}*@
                <td>
                    @*{%if (Model[i].HasProtocoled){%}
                        <button disabled="disabled" type="button" class="btn blue" onclick="AllPayments.OpenAttachProtocolModal('{{Model[i].Id}}')">Protokole İşle</button>
                        {%}else{%}*@
                    <button id="tab11BtnAttachProtocol" type="button" class="btn blue" onclick="AllPayments.OpenAttachProtocolModal('{{Model[i].Id}}', {{Model[i].HasProtocoled}})">Detay</button>
                    @*{%}%}*@
                </td>
            </tr>
            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

<div id="tab11AttachProtocol" class="modal fade bs-modal-lg" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Tahsilat Detayı</h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height: 300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table class="table table-condensed">
                                    <tr>
                                        <td>Tahsilat Yevmiye No</td>
                                        <td id="tab11TahYevNo"></td>
                                        <td class="bg-blue-soft bg-font-blue-soft">Tahsilat Tarihi</td>
                                        <td id="tab11TahTar"></td>
                                    </tr>
                                    <tr>
                                        <td>Tutar</td>
                                        <td id="tab11Tutar"></td>
                                        <td class="bg-blue-soft bg-font-blue-soft">Durum Açıklaması</td>
                                        <td id="tab11StatusDesc"></td>
                                    </tr>
                                    <tr>
                                        <td>Banka</td>
                                        <td id="tab11Banka"></td>
                                        <td class="bg-blue-soft bg-font-blue-soft">Tahsilat Açıklaması</td>
                                        <td id="tab11TahAcik"></td>
                                    </tr>
                                    <tr>
                                        <td>CID</td>
                                        <td id="tab11CID"></td>
                                        <td class="bg-blue-soft bg-font-blue-soft">Tahsilat Anında Dosya Sahibi</td>
                                        <td id="tab11TahAnDosSah"></td>
                                    </tr>
                                    <tr>
                                        <td>Durum</td>
                                        <td id="tab11Status"></td>
                                        <td class="bg-blue-soft bg-font-blue-soft">Mesaj</td>
                                        <td id="tab11Mesaj"></td>
                                    </tr>
                                    <tr>
                                        <td>Muhasebe Fiş No</td>
                                        <td id="tab11MuhFisNo"></td>
                                        <td class="bg-blue-soft bg-font-blue-soft">Borçlu Adı Soyadı</td>
                                        <td id="tab11BorAdSoyad"></td>
                                    </tr>
                                    <tr>
                                        <td class="bg-blue-soft bg-font-blue-soft">Efs Tahsilat Satırı</td>
                                        <td id="tab11EfsTahSat" colspan="3"></td>
                                    </tr>
                                </table>
                                <label class="control-label" for="ddlPlanType_11" id="lblPlanType_11">Plan Tipi</label>
                                <select class="form-control input-sm" id="ddlPlanType_11"></select>
                                <label class="control-label" for="ddlPlanType_11" id="lblPlanSubType_11">Plan Alt Tipi</label>
                                <select class="form-control input-sm" id="ddlPlanSubType_11"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <label class="checkbox-inline pull-left" id="lblDeAttachObligor" style="padding-left: 0px;">
                    <input type="checkbox" id="chcDeAttachObligor" /> Borçlu ile ilişkisini sil
                </label>
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
                <button type="button" data-dismiss="modal" class="btn green" onclick="AllPayments.AttachToProtocol()" id="tab11AttachP">Ödemeyi İşle</button>

                <button type="button" data-dismiss="modal" class="btn red" onclick="AllPayments.DeAttachFromProtocol()" id="tab11DeAttachP">Ödemeyi Geri Çek</button>
            </div>
        </div>
    </div>
</div>

@*Phone*@
<script id="tmpTab12" type="text/html">
    <p>
        <a href="#tab12Add" data-toggle="modal" class="btn green btn-outline"><span style="text-decoration: underline;">T</span>elefon Ekle</a>
    </p>
    <table class="table table-striped table-bordered table-hover" id="tblList_12">
        <thead>
            <tr>
                <th> Durum</th>
                <th> Tip</th>
                <th> Son Sonuç Kodu</th>
                <th> Görüşülen Kişi </th>
                <th> Görüşülen Kişi Adı</th>
                <th> Telefon</th>
                <th> Dahili </th>
                <th> Bilgi Kaynağı </th>
                <th> Yaratan Kişi </th>
                <th> Oluşturma Tarihi </th>
                <th> Son İletişim Tarihi </th>
                <th> İşlemler </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].Status}} </td>
                <td> {{Model[i].Type}} </td>
                <td> {{Model[i].LastResultCode}} </td>
                <td> {{Model[i].RelatedPerson}} </td>
                <td> {{Model[i].CalledPerson}} </td>
                <td> {{Model[i].PhoneNumber}} </td>
                <td> {{Model[i].Extension}} </td>
                <td> {{Model[i].InformationSource}} </td>
                <td> {{Model[i].Creator}} </td>
                <td> {{Model[i].CreatedDate}} </td>
                <td> {{Model[i].LastCommunicationDate}} </td>
                <td>
                    <a href="javascript:;" class="btn btn-outline btn-circle btn-sm blue-soft" onclick="Phone.GetDetails('{{Model[i].Id}}')">
                        <i class="fa fa-edit"></i> Düzenle
                    </a>
                </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

<div id="tab12Add" class="modal fade" tabindex="-1" aria-hidden="true">
    <form name="frmPhoneAdd">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Yeni Telefon Ekle</h4>
                </div>
                <div class="modal-body" style="height: 530px;">
                    <div class="scroller" style="height: 520px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="ddlStatus_12">Durum</label>
                                    <select class="form-control input-sm" id="ddlStatus_12">
                                        <option value="Gecerli" selected="selected">Geçerli</option>
                                        <option value="Gecersiz">Geçersiz</option>
                                        <option value="Bilinmiyor">Bilinmiyor</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="ddlType_12">Tip</label>
                                    <select class="form-control input-sm" id="ddlType_12">
                                        <option value="Cep" selected="selected">Cep</option>
                                        <option value="Ev">Ev</option>
                                        <option value="Is">İş</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtRelatedPerson_12">Borçlu İle Alakası</label>
                                    <input type="text" class="form-control" id="txtRelatedPerson_12" name="txtRelatedPerson_12" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtCalledPerson_12">Görüşülen Kişi</label>
                                    <input type="text" class="form-control" id="txtCalledPerson_12" name="txtCalledPerson_12" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtPhone_12">Telefon</label>
                                    <input type="text" class="form-control" id="txtPhone_12" name="txtPhone_12" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtPhoneExtension_12">Dahili</label>
                                    <input type="text" class="form-control" id="txtPhoneExtension_12" name="txtPhoneExtension_12" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtInformationSource_12">Bilgi Kaynağı</label>
                                    <input type="text" class="form-control" id="txtInformationSource_12" name="txtInformationSource_12" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
                    <button type="submit" class="btn green" onclick="Phone.Add();">Ekle</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="tab12Update" class="modal fade" tabindex="-1" aria-hidden="true">
    <form name="frmPhoneUpdate">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Telefon Kaydını Düzenle</h4>
                </div>
                <div class="modal-body" style="height: 530px;" id="mdlBody12">
                    <div class="scroller" style="height: 520px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <input type="hidden" id="idU_12" />
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="ddlStatus_12">Durum</label>
                                    <select class="form-control input-sm" id="ddlUStatus_12">
                                        <option value="Gecerli" selected="selected">Geçerli</option>
                                        <option value="Gecersiz">Geçersiz</option>
                                        <option value="Bilinmiyor">Bilinmiyor</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="ddlType_12">Tip</label>
                                    <select class="form-control input-sm" id="ddlUType_12">
                                        <option value="Cep" selected="selected">Cep</option>
                                        <option value="Ev">Ev</option>
                                        <option value="Is">İş</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtRelatedPerson_12">Borçlu İle Alakası</label>
                                    <input type="text" class="form-control" id="txtURelatedPerson_12" name="txtRelatedPerson_12" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtCalledPerson_12">Görüşülen Kişi</label>
                                    <input type="text" class="form-control" id="txtUCalledPerson_12" name="txtCalledPerson_12" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtPhone_12">Telefon</label>
                                    <input type="text" class="form-control" id="txtUPhone_12" name="txtPhone_12" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtPhoneExtension_12">Dahili</label>
                                    <input type="text" class="form-control" id="txtUPhoneExtension_12" name="txtPhoneExtension_12" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtInformationSource_12">Bilgi Kaynağı</label>
                                    <input type="text" class="form-control" id="txtUInformationSource_12" name="txtInformationSource_12" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
                    <button type="submit" class="btn green" onclick="Phone.Update();">Kaydet</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="tab12AddCallResult" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="headerCallResult_12"></h4>
            </div>
            <div class="modal-body">
                <div class="scroller" style="height: 300px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="ddlCallResult_12">Sonuç</label>
                                <select class="form-control input-sm" id="ddlCallResult_12"></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="txtCallResult_12">Diğer Sonuç</label>
                                <input type="text" class="form-control" disabled="disabled" id="txtCallResult_12" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
                <button type="submit" class="btn green" onclick="Note.AddCallResult();" id="btnSaveCallResult_12" disabled="disabled">Ekle</button>
            </div>
        </div>
    </div>
</div>

@*Address*@
<script id="tmpTab13" type="text/html">
    <p>
        <a onclick="Address.ShowModal()" data-toggle="modal" class="btn green btn-outline">
            <span style="text-decoration: underline;">A</span>dres Ekle
        </a>
    </p>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Tip</th>
                <th> Adres</th>
                <th> Ilçe</th>
                <th> Şehir </th>
                <th> Posta Kodu</th>
                <th> Ülke</th>
                <th> Oluşturan Kişi </th>
                <th> Oluşturma Tarihi </th>
                <th> Degiştiren Kişi </th>
                <th> Degiştirme Tarihi </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].Amac}} </td>
                <td> {{Model[i].Address}} </td>
                <td> {{Model[i].Ilce}} </td>
                <td> {{Model[i].Sehir}} </td>
                <td> {{Model[i].PostaKodu}} </td>
                <td> {{Model[i].Ulke}} </td>
                <td> {{Model[i].OlusturanKisi}} </td>
                <td> {{Model[i].OlusturmaTarihi}} </td>
                <td> {{Model[i].DegistirenKisi}} </td>
                <td> {{Model[i].DegistirmeTarihi}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

<div id="tab13Add" class="modal fade" tabindex="-1" aria-hidden="true">
    <form name="frmAddressAdd">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Yeni Adres Ekle</h4>
                </div>
                <div class="modal-body" style="height: 530px;">
                    <div class="scroller" style="height: 520px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label" for="ddlAddressType_13">Adres Tipi</label>
                                    <select class="form-control input-sm" id="ddlAddressType_13" name="ddlAddressType_13">
                                        <option value="Ev" selected="selected">Ev</option>
                                        <option value="Is">İş</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="ddlCity_13">Şehir</label>
                                    <select class="form-control input-sm" id="ddlCity_13" name="ddlCity_13"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="ddlCounty_13">İlçe</label>
                                    <select class="form-control input-sm" id="ddlCounty_13" name="ddlCounty_13"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtPostalCode_13">Posta Kodu</label>
                                    <input type="text" class="form-control" id="txtPostalCode_13" name="txtPostalCode_13" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="txtAddress_13">Adres</label>
                                    <textarea class="form-control" id="txtAddress_13" name="txtAddress_13"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
                    <button type="button" class="btn green" onclick=" Address.Add(); ">Ekle</button>
                </div>
            </div>
        </div>
    </form>
</div>

@*Kişi Bilgileri*@
<script id="tmpTab14" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Ünvan </th>
                <th> GörünenAd</th>
                <th> Adı</th>
                <th> Soyadı </th>
                <th> Doğum Tarihi</th>
                <th> Kişi Tipi Tanımı</th>
                <th> Birey Kurum </th>
                <th> Portföy No </th>
                <th> Tc Kimlik Numarası </th>
                <th> Vergi No </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].Unvan}} </td>
                <td> {{Model[i].GorunenAd}} </td>
                <td> {{Model[i].Adi}} </td>
                <td> {{Model[i].Soyadi}} </td>
                <td> {{Model[i].DogumTarihi}} </td>
                <td> {{Model[i].KisiTipiTanimi}} </td>
                <td> {{Model[i].BireyKurum}} </td>
                <td> {{Model[i].PortfoyNo}} </td>
                <td> {{Model[i].TcKimlikNo}} </td>
                <td> {{Model[i].VergiNo}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Borçlar*@
<script id="tmpTab15" type="text/html">
    <table id="tblList_15" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Account Id </th>
                <th> Borç Tipi</th>
                <th> Toplam Risk </th>
                <th> Anapara </th>
                <th> Faiz</th>
                <th> Masraflar</th>
                <th> Temerrüt Tarihi </th>
                <th> Devir Tarihi </th>
                <th> Durum </th>
                <th> İcra Daire No </th>
                <th> İcra Dosyası Id </th>
                <th> Masraf </th>
                <th> Föy No </th>
                <th> Borç No </th>
                <th> Kredi Kart No </th>
                <th> İşlemler </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-rec-id="{{Model[i].RecId}}">
                <td> {{Model[i].AccountId}} </td>
                <td> {{Model[i].BorcTipi}} </td>
                <td> {{Model[i].ToplamRisk}} </td>
                <td> {{Model[i].Anapara}} </td>
                <td> {{Model[i].Faiz}} </td>
                <td> {{Model[i].Masraflar}} </td>
                <td> {{Model[i].TemerrutTarihiStr}} </td>
                <td> {{Model[i].DevirTarihiStr}} </td>
                <td> {{Model[i].Durum}} </td>
                <td> {{Model[i].IcraDaireNo}} </td>
                <td> {{Model[i].IcraFileId}} </td>
                <td> {{Model[i].Masraf}} </td>
                <td> {{Model[i].FoyNo}} </td>
                <td> {{Model[i].BorcNo}} </td>
                <td> {{Model[i].KrediKartNo}} </td>
                <td>
                    <a class="btn blue btn-block" onclick="Debit.ShowExecutionConfirmation('{{Model[i].RecId}}')">İnfaz Et</a>
                </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Dosya Ekleri*@
<script id="tmpTab16" type="text/html">
    <p>
        <a href="#tab16Add" data-toggle="modal" class="btn green btn-outline" onclick="FileAttachment.OpenModal()">Dosya Ekle</a>
    </p>
    <table class="table table-striped table-bordered table-hover" id="tblList_16">
        <thead>
            <tr>
                @*<th> Dosya Adı </th>*@
                <th> Açıklaması </th>
                <th> Oluşturan </th>
                <th> Oluşturma Tarihi </th>
                <th> İşlem 1 </th>
                <th> İşlem 2 </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].RecId}}">

                @*<td> {{Model[i].DosyaAdi}} </td>*@
                <td> {{Model[i].DosyaAciklamasi}} </td>
                <td> {{Model[i].Olusturan}} </td>
                <td> {{Model[i].OlusturmaTarihi}} </td>
                <th>
                    <a href="{{Model[i].AttachmentPath}}" target="_blank" class="btn blue btn-block">Görüntüle</a>
                </th>
                <th>
                    <button onclick="FileAttachment.RemoveFile('{{Model[i].RecId}}')" target="_blank" class="btn red btn-block">Sil</button>
                </th>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

<div id="tmp16FileUpload" class="modal fade" tabindex="-1" aria-hidden="true">
    <form name="frmFileUpload" action="/Obligor/UploadFile" method="POST" enctype="multipart/form-data">
        <div class="modal-dialog" id="fileUploadModal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Dosya Ekle</h4>
                </div>
                <div class="modal-body" style="height: 530px;">
                    <div class="scroller" style="height: 520px" data-always-visible="1" data-rail-visible1="1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <div class="fileinput fileinput-new" data-provides="fileinput" name="file">
                                        <input type="hidden" id="tmp16ObligorId" name="obligorId" />
                                        <div class="input-group input-large">
                                            <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                <span class="fileinput-filename"> </span>
                                            </div>
                                            <span class="input-group-addon btn default btn-file">
                                                <span class="fileinput-new"> Dosya Seç </span>
                                                <span class="fileinput-exists"> Değiştir </span>
                                                <input type="file" name="..." id="tmp16File">
                                            </span>
                                            <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Sil </a>
                                        </div>
                                    </div>
                                    @*<input type="file" name="file" id="tmp16file">*@
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control" id="tmp16FileDesc" name="fileDesc" rows="3" maxlength="500" placeholder="Lütfen açıklama girin ..."></textarea>
                                </div>
                                <div class="col-md-3 margin-top-15">
                                    <label class="checkbox-inline" style="padding-left: 0px;">
                                        <input type="checkbox" id="tmp16IsGkf"> GKF mi?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
                    <button type="button" class="btn green" onclick="FileAttachment.FileUpload()">Ekle</button>
                </div>
            </div>
        </div>
    </form>
</div>

@*İşlem Tarihçesi*@
<script id="tmpTab17" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Görevlendirme Tarihi </th>
                <th> Üstlenme Tarihi </th>
                <th> Tamamlama Tarihi </th>
                <th> Amaç </th>
                <th> Sonuç </th>
                <th> Sorumlu Ekip </th>
                <th> Uzman </th>
                <th> Durum </th>
                <th> Önceki Uzman </th>
                <th> Önceki Ekip </th>
                <th> Önceki Sonuç </th>
                <th> Önceki Sonuç Kodu </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].GorevlendirmeTarihi}} </td>
                <td> {{Model[i].UstlenmeTarihi}} </td>
                <td> {{Model[i].TamamlamaTarihi}} </td>
                <td> {{Model[i].Amac}} </td>
                <td> {{Model[i].Sonuc}} </td>
                <td> {{Model[i].SorumluEkip}} </td>
                <td> {{Model[i].Uzman}} </td>
                <td> {{Model[i].Durum}} </td>
                <td> {{Model[i].OncekiUzman}} </td>
                <td> {{Model[i].OncekiEkip}} </td>
                <td> {{Model[i].OncekiSonuc}} </td>
                <td> {{Model[i].OncekiSonucKodu}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*TL Aksiyonları*@
<script id="tmpTab18" type="text/html">
    Aksiyonlar
    <input type="button" value="Bu Borcu İnfaz Et !" />
    Bu düğmeye dşkkatle basınız, yukarıda gördüğünüz Borç Takip ID altında takip edilen tek borç infaz edilecektir. Eğer bu borç kişinin tek borcu ise Dosyası da infaz edilecektir.
    <input type="button" value="00-Sahıp Ata" />
    Bu düğmeye dşkkatle basınız, yukarıda gördüğünüz Dosya sahibi değişecektir. Düğmeye bastıktan sonra yenı dosya sahibini seçmeniz istenecektir. Dosya sahipliği değişiklikleri Tahsilat Sahipli Tarihçesi sekmesinden gözlenebilir.
</script>

@*Yapılacak İşler (Admin)*@
<script id="tmpTab21" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Önceki Sonuç </th>
                <th> Yapılacak İş </th>
                <th> Sorumlu Ekip </th>
                <th> Sorumlu Kişi </th>
                <th> Görevlendirme Tarihi </th>
                <th> Üstlenme Tarihi </th>
                <th> Hedef Tarihi </th>
                <th> Durum </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].OncekiSonuc}} </td>
                <td> {{Model[i].YapilacakIsDesc}} </td>
                <td> {{Model[i].SorumluEkip}} </td>
                <td> {{Model[i].SorumluKisi}} </td>
                <td> {{Model[i].GorevlendirmeTarihi}} </td>
                <td> {{Model[i].UstlenmeTarihi}} </td>
                <td> {{Model[i].HedefTarihi}} </td>
                <td> {{Model[i].Durum}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Dosya Bilgileri*@
<script id="tmpTab23" type="text/html">
</script>

@*Avukat Bilgileri*@
<script id="tmpTab24" type="text/html">
</script>

@*Avukat Telefon*@
<script id="tmpTab25" type="text/html">
</script>

@*HP Hukuk İşleri*@
<script id="tmpTab26" type="text/html">
</script>

@*HP'e Gönderilen İşler*@
<script id="tmpTab27" type="text/html">
</script>

@*Avukat Masrafları*@
<script id="tmpTab28" type="text/html">
</script>

@*Kişinin Bu Portföyde İlişkili Olduğu Tüm Borçlar*@
<script id="tmpTab29" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Öncelik Grubu </th>
                <th> Borç İle İlişkisi </th>
                <th> En Buyuk Borç </th>
                <th> Aktif Task Sayısı </th>
                <th> Pasif Task Sayısı </th>
                <th> Görünen Ad </th>
                <th> Önceki Aksiyon Sonucu </th>
                <th> Account Id </th>
                <th> Tc Kimlik Numarası </th>
                <th> İcra Dairesi </th>
                <th> İcra Dosya Numarası </th>
                <th> Banka </th>
                <th> Portföy </th>
                <th> Borç Durum </th>
                <th> Borç Durum Detay </th>
                <th> Dosya Sahibi </th>
                <th> Borç Anapara </th>
                <th> Bakiye Anapara </th>
                <th> Vergi No </th>
                <th> Baba Adı </th>
                <th> Kişi Durumu </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].PriorutyGroup}} </td>
                <td> {{Model[i].BorcIleIliskisi}} </td>
                <td> {{Model[i].EnBuyukBorc}} </td>
                <td> {{Model[i].AktifTaskSayisi}} </td>
                <td> {{Model[i].PasifTaskSayisi}} </td>
                <td> {{Model[i].GorunenAd}} </td>
                <td> {{Model[i].OncekiAksiyonSonucu}} </td>
                <td> {{Model[i].AccountId}} </td>
                <td> {{Model[i].ContactTcknNo}} </td>
                <td> {{Model[i].IcraDairesi}} </td>
                <td> {{Model[i].IcraDosyaNumarasi}} </td>
                <td> {{Model[i].Banka}} </td>
                <td> {{Model[i].Portfoy}} </td>
                <td> {{Model[i].BorcDurum}} </td>
                <td> {{Model[i].BorcDurumDetay}} </td>
                <td> {{Model[i].DosyaSahibi}} </td>
                <td> {{Model[i].BorcAnapara}} </td>
                <td> {{Model[i].BakiyeAnapara}} </td>
                <td> {{Model[i].VergiNo}} </td>
                <td> {{Model[i].BabaAdi}} </td>
                <td> {{Model[i].KisiDurumu}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Borcun İlişkili Olduğu Tüm Kişiler*@
<script id="tmpTab30" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Görünen Ad </th>
                <th> Contact Tipi</th>
                <th> Sorumlu Olduğu Borç Miktarı </th>
                <th> İcra Dairesi </th>
                <th> İcra Dosya Numarası </th>
                <th> Balance Amount </th>
                <th> Kaynak </th>
                <th> Kaynak Seti </th>
                <th> Kişi Durumu </th>

            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].GorunenAd}} </td>
                <td> {{Model[i].ContactTypeText}} </td>
                <td> {{Model[i].SorumluOlduguBorcMiktari}} </td>
                <td> {{Model[i].IcraDairesi}} </td>
                <td> {{Model[i].IcraDosyaNumarasi}} </td>
                <td> {{Model[i].BalanceAmount}} </td>
                <td> {{Model[i].SourceText}} </td>
                <td> {{Model[i].SourceSet}} </td>
                <td> {{Model[i].KisiDurumu}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Kişinin İlişkili Olduğu Yapılacak İşler*@
<script id="tmpTab31" type="text/html">
</script>

@*Borcun İlişkili Olduğu Yapılacak İşler*@
<script id="tmpTab32" type="text/html">
</script>

@*Dosya Sahiplik Tarihçesi*@
<script id="tmpTab33" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Sıra </th>
                <th> Ad Soyad </th>
                <th> Login Id </th>
                <th> Oluşturan </th>
                <th> Oluşturma Tarih </th>
                <th> Değiştiren </th>
                <th> Değiştirme Tarih </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].RecId}}" class="{{Model[i].Order == 1 ? 'success': ''}}">
                <td> {{Model[i].Order}} </td>
                <td> {{Model[i].AdSoyad}} </td>
                <td> {{Model[i].LoginId}} </td>
                <td> {{Model[i].Olusturan}} </td>
                <td> {{Model[i].OlusturanTarih}} </td>
                <td> {{Model[i].Degistiren}} </td>
                <td> {{Model[i].DegistirenTarih}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Posta Gönderileri*@
<script id="tmpTab34" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Account Id </th>
                <th> Ad Soyad </th>
                <th> Gönderi Tipi </th>
                <th> Adres </th>
                <th> İl </th>
                <th> İlçe </th>
                <th> Oluşturan Kişi </th>
                <th> Oluşturulan Tarih </th>
                <th> Doküman </th>
                <th> İşlemler </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].AccountId}} </td>
                <td> {{Model[i].AdSoyad}} </td>
                <td> {{Model[i].GonderiTipi}} </td>
                <td> {{Model[i].Adres}} </td>
                <td> {{Model[i].Il}} </td>
                <td> {{Model[i].Ilce}} </td>
                <td> {{Model[i].CreatedBy}} </td>
                <td> {{Model[i].CreatedDateTime}} </td>
                <th>
                    <a href="{{Model[i].ReportPage}}" target="_blank" class="btn blue btn-block">Görüntüle</a>
                </th>
                <th>
                    {%if (!Model[i].IsSendToOperation){%}
                    <a href="javascript: PostDelivery.SendToOperation('{{Model[i].Id}}')" id="sendOperation_{{Model[i].Id}}" class="btn red btn-block">Operasyona Gönder</a>
                    {%}%}
                </th>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Priority Group Tracking*@
<script id="tmpTab35" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Değiştiren </th>
                <th> Oluşturulma Tarihi </th>
                <th> Şimdiki Öncelik </th>
                <th> Öncelik Grubu </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].Degistiren}} </td>
                <td> {{Model[i].CreatedDateTime}} </td>
                <td> {{Model[i].CurrentPriority}} </td>
                <td> {{Model[i].PriorityGroup}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Priority Group Tracking*@
<script id="tmpTab37" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Sıra </th>
                <th> Oluşturan </th>
                <th> Oluşturma Tarihi </th>
                <th> İşlem </th>
                <th> İşlem Alt kodu </th>
                <th> Açıklama </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="{{Model[i].Id}}">
                <td> {{Model[i].Order}} </td>
                <td> {{Model[i].Creator}} </td>
                <td> {{moment(Utility.NetToJsDate(Model[i].CreatedDatetime)).format("DD MMMM YYYY")}} </td>
                <td> {{Model[i].Process}} </td>
                <td> {{Model[i].ProcessSubCode}} </td>
                <td> {{Model[i].Desc}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

<div id="mdlPaymentPlan" class="modal fade" tabindex="-1" aria-hidden="true" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content" style="width: 700px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Ödeme Planı</h4>
            </div>
            <div class="modal-body" style="height: 530px;">
                <div class="scroller" style="height: 520px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" id="mppTable">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <span class="label label-success pull-left" id="prtResult"> </span>
                <button id="btnArrangeOnLastInst" class="btn green-meadow" title="Hesabi son taksitte duzeltir." style="display:none;" onclick="Protocol.Arrange();">Eşitle</button>
                <button type="submit" class="btn yellow-gold" onclick="Protocol.Save();">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<script id="paymentPlan" type="text/html">

    {%if (Model != null && Model.length > 0){%}
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Ay </th>
                <th> Tutar </th>
                <th> Tarih </th>
                <th> Açıklama </th>
            </tr>
        </thead>
        <tbody>

            {%for ( var i = 0; i < Model.length; i++){%}
            <tr data-id="{{i}}" data-month="{{Model[i].Month}}" data-description="{{Model[i].Description}}" data-payment-date="{{Model[i].PaymentDate}}" data-desc="{{Model[i].Desc}}">
                <td> {{Model[i].Month}} </td>
                <td>
                    <input type="text"
                           class="form-control input-small input-inline protocolInput"
                           value="{{Model[i].Value}}" />
                </td>
                <td>
                    <div class="input-group input-small date date-picker"
                         data-date-format="dd-mm-yyyy"
                         data-date-start-date="+0d">
                        <input type="text"
                               class="form-control"
                               readonly=""
                               value="{{Model[i].PaymentDate}}"
                               id="installmentDate_{{i}}">
                        <span class="input-group-btn">
                            <button class="btn default" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </td>
                <td class="desc">{{Model[i].Desc}}</td>
            </tr>
            {%}%}
        </tbody>
    </table>
    {%}else{%}
    <span>Peşinat tutarı protokol tutarına eşit olduğu için veya taksit seç<span style="text-decoration: underline;">me</span>diğiniz için taksit hesaplanmamıştır.</span>
    {%}%}

</script>

<div id="mdlPaymentPlanApprovement" class="modal fade bs-modal-lg" tabindex="-1" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Protokol Önizleme</h4>
            </div>
            <div class="modal-body" style="height: 530px;">
                <div class="scroller" style="height: 520px" data-always-visible="1" data-rail-visible1="1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" id="mppTableApprovement">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">Kapat</button>
                <button type="submit" class="btn red" onclick="Protocol.InsertProtocol(true); " id="mdlbtnSendApprovement">Onaya Gönder</button>
                <button type="submit" class="btn green" onclick="Protocol.InsertProtocol(false); " id="mdlbtnApprove">Protokol Oluştur</button>
            </div>
        </div>
    </div>
</div>

<script id="paymentPlanApprovement" type="text/html">
    <table class="table table-advance table-condensed table-hover">
        <tr class="warning">
            <td>Anapara</td>
            <td>:</td>
            <td><b>{{Model.MainMoney}}</b></td>
        </tr>
        <tr class="warning">
            <td>Toplam Risk Tutarı</td>
            <td>:</td>
            <td><b>{{Model.TotalRisk}}</b></td>
        </tr>
        <tr>
            <td>Peşinat</td>
            <td>:</td>
            <td><b>{{Model.AdvancePayment == "0.00 TL" ? "Yok" : Model.AdvancePayment }}</b></td>
        </tr>
        <tr>
            <td>Peşinat Tarihi</td>
            <td>:</td>
            <td><b>{{Model.AdvancePaymentDate == "" ? "Yok" : Model.AdvancePaymentDate }}</b></td>
        </tr>
        <tr>
            <td>Taksitlerin Toplam Tutarı</td>
            <td>:</td>
            <td><b>{{Model.TotalInstallment}}</b></td>
        </tr>
        <tr>
            <td>Toplam Ödenecek Tutar</td>
            <td>:</td>
            <td><b>{{Model.TotalDebt}}</b></td>
        </tr>
        <tr class="success">
            <td>Sms ile hatırlatma istiyor musunuz?</td>
            <td>:</td>
            <td><input type="checkbox" id="smsProtocolReminder" /></td>
        </tr>
        <tr class="success">
            <td>Ödeme planı gönderilsin mi?</td>
            <td>:</td>
            <td><input type="checkbox" id="sendPaymentPlanToObligor" /></td>
        </tr>
        <tr class="success" id="installmentContractDiv">
            <td>Taksit sözleşmesi hazırlansın mı?</td>
            <td>:</td>
            <td><input type="checkbox" id="sendInstallmentContract" /></td>
        </tr>
        <tr class="success" id="sulhContractDiv">
            <td>Sulh sözleşmesi hazırlansın mı?</td>
            <td>:</td>
            <td><input type="checkbox" id="sendSulhContract" /></td>
        </tr>
        <tr id="paymentPlanNote">
            <td>Not</td>
            <td>:</td>
            <td><textarea class="form-control" rows="3" maxlength="500" id="txtProtocolNote"></textarea></td>
        </tr>
        @*<tr class="TotalMoneyWithDiscount">
                <td>İndirimli Borç</td>
                <td>:</td>
                <td class="font-red-sunglo"><b>{{Model.TotalMoneyWithDiscount}}</b></td>
            </tr>*@
    </table>
    {%if (Model != null && Model.Installments.length > 0){%}

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> Ay </th>
                <th> Tutar</th>
                <th> Tarih </th>
                <th> Açıklama </th>
            </tr>
        </thead>
        <tbody>
            {%for ( var i = 0; i < Model.Installments.length; i++){%}

            <tr>
                <td> {{Model.Installments[i].Month}} </td>
                <td> {{Model.Installments[i].Value}}</td>
                <td> {{Model.Installments[i].PaymentDate}}</td>
                <td> {{Model.Installments[i].Desc}}</td>
            </tr>

            {%}%}
        </tbody>
    </table>
    {%}else{%}
    <span>Peşinat tutarı protokol tutarına eşit olduğu için taksit hesaplanmamıştır.</span>
    {%}%}
</script>

@*Posta Gönderileri*@
<script id="tmpTab36" type="text/html">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th> TCKN </th>
                <th> KKB Skoru </th>
                <th> KKB Sorgu Tarihi </th>
                <th> Toplam Hesap Limiti </th>
                <th> Toplam Hesap Bakiyesi </th>
                <th> Son Kanuni Takip Tarihi </th>
                <th> Toplam Kanuni Takip Bakiyesi </th>
                <th> Kanuni Takip Limiti </th>
                <th> Toplam Takip Bakiyesi </th>
                <th> Son Kredi Veriliş Tarihi </th>
            </tr>
        </thead>
        <tbody>
            {%if (Model != null){%}
            {%for ( var i = 0; i < Model.length; i++){%}

            <tr data-id="">
                <td> {{Model[i].TckNo}} </td>
                <td> {{Model[i].KkbSkoru}} </td>
                <td> {{moment(Utility.NetToJsDate(Model[i].KkbSorguTarihi)).format("DD MMMM YYYY")}} </td>
                <td> {{Model[i].ToplamHesapLimit}} </td>
                <td> {{Model[i].ToplamHesapBakiye}} </td>
                <td> {{moment(Utility.NetToJsDate(Model[i].KkbSonKanuniTakipTarihi)).format("DD MMMM YYYY")}} </td>
                <td> {{Model[i].ToplamKanuniTakipBakiye}} </td>
                <td> {{Model[i].KanunTakipLimiti}} </td>
                <td> {{Model[i].ToplamTakipBakiyesi}} </td>
                <td> {{moment(Utility.NetToJsDate(Model[i].SonKrediVerilisTarihi)).format("DD MMMM YYYY")}} </td>
            </tr>

            {%}%}
            {%}%}
        </tbody>
    </table>
</script>

@*Odeme Sahibi Degistirme Confirm box aciklama*@
<script id="tmpChangeAccountOwnerDesc" type="text/html">
    <strong>{{Model.AccountId}}</strong>’li dosyanın <strong>{{Model.PaymentDate}}</strong> tarihli <strong>{{Model.PaymentValue}} TL</strong> 
    tutarlı ödemesinin <strong>{{Model.OldOwner}}</strong> olan sahibini <strong>{{Model.NewOwner}}</strong> olarak değiştiriyorsunuz!
</script>

