﻿@model  List<Efes.Entities.Fgs.MissedCall>
@{
    ViewBag.Title = "Kayıp Çağrılar";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Kayıp Çağrılar Listesi</span>
                </div>
            </div>
            <div class="portlet-body">
                @if (Model.Any())
                {

                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> Çağrı Zamanı </th>
                                <th> Çağrı Id </th>
                                <th> Arayan Numara</th>
                                <th> Aranan Numara </th>
                                <th> Kapanma Nedeni </th>
                                <th> Kullanıcı Kodu </th>
                                <th> Kullanıcı Adı </th>
                                <th> Dahili Numara </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="">
                                    <td>@item.CallTime</td>
                                    <td>@item.CallId</td>
                                    <td><a href="/Obligor/SearchObligorList?searchType=2&searchTerm=@item.CallingNumber" target="_blank">@item.CallingNumber</a> </td>
                                    <td>@item.CalledNumber</td>
                                    <td>@item.ClosingReason</td>
                                    <td>@item.UserCode</td>
                                    <td>@item.UserName</td>
                                    <td>@item.Number</td>
                                    <td class="call">
                                        @if (!string.IsNullOrWhiteSpace(item.CallingNumber))
                                        {
                                            <a href="javascript:SmartCalling.CallOne('@item.CallingNumber.Trim()', '', '', '')" class="btn blue">
                                                <i class="fa fa-phone"></i> Ara
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-info">
                        <strong>Bilgi!</strong> Kayıp çağrı bulunmamaktadır.
                    </div>
                }
            </div>
        </div>
    </div>
</div>

