﻿@model dynamic

@{
    ViewBag.Title = "Sms İşlemleri";
}

@Styles.Render("~/Content/fileUploadCss")

<div class="row">
    <div class="col-md-6" id="fileUploadDiv">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Çoklu Sms Gönderimi</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row" id="fileuploadRow">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Dosya Tipi</label>
                            <div class="radio-list">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optAccountId" value="option1" checked> Account Id
                                </label>
                                @*<label>
                                        <input type="radio" name="optionsRadios" id="optTckn" value="option2"> Tckn
                                    </label>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Elenecek Listesi</label>
                            <div class="checkbox-list">
                                <label>
                                    <input type="checkbox" name="aktifProtocol" id="aktifProtocol"> Aktif Protokolü Olanlar
                                </label>
                                <label>
                                    <input type="checkbox" name="protocolOnay" id="protocolOnay"> Protokol Onayı Bekleyenler
                                </label>
                                <label>
                                    <input type="checkbox" name="infaz" id="infaz"> İnfaz Dosyalar
                                </label>
                                <label>
                                    <input type="checkbox" name="maas" id="maas"> Maaş Haczi Olanlar
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="blog-post-sm bordered blog-container">
                            <div class="blog-img-thumb">
                                <a href="javascript:;">
                                    <img src="/Content/img/SmsExcel.png">
                                </a>
                            </div>
                            <div class="blog-post-content">
                                <h2 class="blog-title blog-post-title">
                                    <a href="javascript:;">Önemli</a>
                                </h2>

                                <p class="blog-post-desc">1 - AccountId kolonunun formatı "Metin" olarak seçilmelidir.</p>
                                <p class="blog-post-desc">2 - Message kolonunun formatı "Metin" olarak seçilmelidir.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="fileupload-buttonbar">
                                <span class="btn blue-chambray fileinput-button">
                                    <i class="fa fa-upload"></i>
                                    <span>SMS göndermek için excel dosyasını seçin </span>
                                    <input id="fileupload" type="file" name="files[]" multiple="">
                                </span>
                                <span class="fileupload-process"> </span>
                            </div>
                            <div id="progress" class="progress">
                                <div class="progress-bar progress-bar-success"></div>
                            </div>
                            <div id="files" class="files"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="alert alert-success" id="infoBoxSuccess" style="display: none;">
                        <strong id="spnRecordCount"></strong> Kayıt veritabanına atıldı.
                    </div>
                    <div class="alert alert-danger" id="infoBoxError" style="display: none;">
                        <strong id="spnErrorMessage"></strong>
                    </div>
                    <button type="button" id="btnSendSms" class="btn blue-hoki btn-outline sbold uppercase pull-right" style="display: none;" onclick="SMS.SendSms();">Gönder</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section PageScripts{
    @Scripts.Render("~/bundles/fileupload")
    <script src="/Content/scripts/SMS.js"></script>
    <script>
        $(function () {
            SMS.Init();
        }
        );
    </script>
}


