﻿@using Efes.WC
@model IEnumerable<Efes.Entities.Approvement.ChangePaymentOwner>

@{
    ViewBag.Title = "Onay Ekranları";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                @if (Authentication.IsAllowedToSee("ViewMultipleLoads"))
                {
                    <span>
                        @Html.ActionLink(
                            "Toplu YÜkleme Onay Sayfası",
                            "MultipleLoadsIndex",
                            new { },
                            new { @class = "btn dark btn-outline sbold uppercase" }
                            )
                    </span>
                }
                @if (Authentication.IsAllowedToSee("ViewSpecialExecution"))
                {
                    <span>
                        @Html.ActionLink(
                            "Özel İnfaz Onay Sayfası",
                            "ChangeSpecialExecution",
                            new { },
                            new { @class = "btn dark btn-outline sbold uppercase" }
                            )
                    </span>
                }
                @if (Authentication.IsAllowedToSee("ViewWaitingLandRegister"))
                {
                    <span>
                        @Html.ActionLink(
                            "Tapu Kaydı Onay Sayfası",
                            "WaitingLandRegister",
                            new { },
                            new { @class = "btn dark btn-outline sbold uppercase" }
                            )
                    </span>
                }
                @if (Authentication.IsAllowedToSee("ViewWaitingSalaryDistraint"))
                {
                    <span>
                        @Html.ActionLink(
                        "Maaş Haczi Onay Sayfası",
                        "AprroveSalaryDistraint",
                        new { },
                        new { @class = "btn dark btn-outline sbold uppercase" }
                        );
                    </span>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Ödeme Sahibi Değiştirme Onay Listesi</span>
                </div>
            </div>
            <div class="portlet-body">

                @if (Model.Any())
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet">
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FileId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.PaymentDate)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.PaymentAmount)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.OldOwner)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.NewOwner)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Changer)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.ChangeDate)
                                                    </th>
                                                    @if (Authentication.IsAllowedToSee("ApproveChangePaymentOwner") &&
Authentication.IsAllowedToSee("DenyChangePaymentOwner"))
                                                    {
                                                        <th></th>
                                                    }
                                                </tr>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FileId)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.PaymentDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.PaymentAmount)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.OldOwner)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.NewOwner)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Changer)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ChangeDate)
                                                        </td>
                                                        @if (Authentication.IsAllowedToSee("ApproveChangePaymentOwner") &&
Authentication.IsAllowedToSee("DenyChangePaymentOwner"))
                                                        {
                                                            <td>
                                                                @Html.ActionLink(
                                                                "Onay",
                                                                "AprroveChangePaymentOwner",
                                                                new { recId = item.RecId, id = item.Id },
                                                                new { @class = "btn btn-sm green btn-outline sbold" }
                                                                )

                                                                <button class="btn btn-sm red btn-outline sbold"
                                                                        onclick="ChangePaymentOwner.DenyDesc('@item.RecId', '@item.Id')">
                                                                    Red
                                                                </button>

                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="denyDesc" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Red Açıklaması</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control"
                               id="txtRedDesc"
                               type="text" maxlength="100" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">İptal</button>
                <button type="button" id="debitExecutionModalOk" class="btn green" onclick="ChangePaymentOwner.Deny()">Evet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section PageScripts{

    <script type="text/javascript">
        $(function () {
            $("#denyDesc").on("shown.bs.modal", function () {
                $("#txtRedDesc").val("").focus();
            });
        });

        var ChangePaymentOwner = (function () {
            var denyDesc = function (recId, id) {
                $("#denyDesc").modal("show");
                $("#denyDesc").data("rec-id", recId);
                $("#denyDesc").data("id", id);
            }

            var deny = function () {
                var id = $("#denyDesc").data("id");
                var recId = $("#denyDesc").data("rec-id");
                var desc = $("#txtRedDesc").val();
                var length = desc.trim().length;
                if (length < 15 || length > 100) {
                    Message.Show("Açıklama en az 15 en çok 100 karakter olmalıdır.", "Hata", Message.ThemeType.Ruby);
                    $("#denyDesc").focus();
                    return;
                }
                Core.AjaxCall({
                    url: "/Approvement/DenyChangePaymentOwner",
                    data: JSON.stringify(
                        {
                            id: id,
                            recId: recId,
                            desc: desc
                        }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        if (response) {
                            if (response.IsSuccess) {
                                location.reload();
                            } else {
                                Message.Show("Red işlemi gerçekleştirilemedi.",
                                    "Hata",
                                    Message.ThemeType.Ruby);
                            }
                        } else {
                            Message.Show("Red işlemi gerçekleştirilemedi.",
                                "Hata",
                                Message.ThemeType.Ruby);
                        }
                        $("#denyDesc").modal("hide");
                    }
                });
            };
            return {
                Deny: deny,
                DenyDesc: denyDesc
            };
        })();
    </script>
}


