﻿@using Efes.WC
@model IEnumerable<Efes.Entities.Approvement.SpecialExecution>

@{
    ViewBag.Title = "Onay Ekranları";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                @if (Authentication.IsAllowedToSee("ViewChangePaymentOwner"))
                {
                    <span>

                        @Html.ActionLink(
                            "Ödeme Sahibi Değiştirme Onay Sayfası",
                            "ChangePaymentOwner",
                            new { },
                            new { @class = "btn dark btn-outline sbold uppercase" }
                            )
                    </span>
                }
                @if (Authentication.IsAllowedToSee("ViewMultipleLoads"))
                {
                    <span>
                        @Html.ActionLink(
                            "Toplu YÜkleme Onay Sayfası",
                            "MultipleLoadsIndex",
                            new { },
                            new { @class = "btn dark btn-outline sbold uppercase" }
                            )
                    </span>
                }
                @if (Authentication.IsAllowedToSee("ViewWaitingLandRegister"))
                {
                    <span>
                        @Html.ActionLink(
                            "Tapu Kaydı Onay Sayfası",
                            "WaitingLandRegister",
                            new { },
                            new { @class = "btn dark btn-outline sbold uppercase" }
                            )
                    </span>
                }
                @if (Authentication.IsAllowedToSee("ViewWaitingSalaryDistraint"))
                {
                    <span>
                        @Html.ActionLink(
                        "Maaş Haczi Onay Sayfası",
                        "AprroveSalaryDistraint",
                        new { },
                        new { @class = "btn dark btn-outline sbold uppercase" }
                        );
                    </span>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Özel İnfaz Onay Listesi</span>
                </div>
            </div>
            <div class="portlet-body">
                
                @if (Model.Any())
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet">
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.AccountId)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FullName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.TotalDebtAmount)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DebtPrinciple)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CreditPrinciple)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Reason)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                                </th>
                                                @if (Authentication.IsAllowedToSee("ApproveSpecialExecution") && 
                                                     Authentication.IsAllowedToSee("DenySpecialExecution"))
                                                {
                                                    <th></th>
                                                }
                                            </tr>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AccountId)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FullName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TotalDebtAmount)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DebtPrinciple)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CreditPrinciple)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Reason)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CreatedBy)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                                    </td>
                                                    @if (Authentication.IsAllowedToSee("ApproveSpecialExecution") && 
                                                         Authentication.IsAllowedToSee("DenySpecialExecution"))
                                                    {
                                                        <td>
                                                            @Html.ActionLink(
                                                                "Onay",
                                                                "AprroveSpecialExecution",
                                                                new {  id = item.Id, accountId = item.AccountId },
                                                                new { @class = "btn btn-sm green btn-outline sbold" }
                                                                )
                                                            
                                                            <button class="btn btn-sm red btn-outline sbold"
                                                                    onclick="SpecialExecution.DenyDesc('@item.Id')">
                                                                Red
                                                            </button>
                                                               
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="denyDesc" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Red Açıklaması</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input class="form-control"
                               id="txtRedDesc"
                               type="text" maxlength="100"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">İptal</button>
                <button type="button" id="debitSpecialExecutionOk" class="btn green" onclick="SpecialExecution.Deny()">Evet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
    
@section PageScripts{

    <script type="text/javascript">
        $(function() {
            $("#denyDesc").on("shown.bs.modal", function () {
                $("#txtRedDesc").val("").focus();
            });
        });

        var SpecialExecution = (function() {
            var denyDesc = function(id) {
                $("#denyDesc").modal("show");
                $("#denyDesc").data("id", id);
            }

            var deny = function() {
                var id=$("#denyDesc").data("id");
                var desc = $("#txtRedDesc").val();
                var length = desc.trim().length;
                if (length < 15 || length > 100) {
                    Message.Show("Açıklama en az 15 en çok 100 karakter olmalıdır.", "Hata", Message.ThemeType.Ruby);
                    $("#denyDesc").focus();
                    return;
                }
                Core.AjaxCall({
                    url: "/Approvement/DenySpecialExecution",
                    data: JSON.stringify(
                        {
                            id: id,
                            desc: desc
                        }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(response) {
                        if (response) {
                            if (response.IsSuccess) {
                                location.reload();
                            }else{
                                Message.Show("Red işlemi gerçekleştirilemedi.",
                                    "Hata",
                                    Message.ThemeType.Ruby);
                            }
                        } else {
                            Message.Show("Red işlemi gerçekleştirilemedi.",
                                "Hata",
                                Message.ThemeType.Ruby);
                        }
                        $("#denyDesc").modal("hide");
                    }
                });
            };
            return { 
                Deny: deny,
                DenyDesc: denyDesc 
            };
        })();
    </script>
}


