﻿@using Efes.WC
@model IEnumerable<Efes.Entities.Approvement.UploadApprovement>

@{
    ViewBag.Title = "Onay Ekranları";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                @if (Authentication.IsAllowedToSee("ViewChangePaymentOwner"))
                {
                    <span>

                        @Html.ActionLink(
                            "Ödeme Sahibi Değiştirme Onay Sayfası",
                            "ChangePaymentOwner",
                            new { },
                            new { @class = "btn dark btn-outline sbold uppercase" }
                            )
                    </span>
                }
                @if (Authentication.IsAllowedToSee("ViewSpecialExecution"))
                {
                    <span>
                        @Html.ActionLink(
                            "Özel İnfaz Onay Sayfası",
                            "ChangeSpecialExecution",
                            new { },
                            new { @class = "btn dark btn-outline sbold uppercase" }
                            )
                    </span>
                }
                @if (Authentication.IsAllowedToSee("ViewWaitingLandRegister"))
                {
                    <span>
                        @Html.ActionLink(
                            "Tapu Kaydı Onay Sayfası",
                            "WaitingLandRegister",
                            new { },
                            new { @class = "btn dark btn-outline sbold uppercase" }
                            )
                    </span>
                }
                @if (Authentication.IsAllowedToSee("ViewWaitingSalaryDistraint"))
                {
                    <span>
                        @Html.ActionLink(
                        "Maaş Haczi Onay Sayfası",
                        "AprroveSalaryDistraint",
                        new { },
                        new { @class = "btn dark btn-outline sbold uppercase" }
                        )
                    </span>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Toplu Yükleme Onay Listesi</span>
                </div>
            </div>
            <div class="portlet-body">

                @if (Model.Any())
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet">
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Desc)
                                                    </th>
                                                    @*<th>
                                                        @Html.DisplayNameFor(model => model.BulkId)
                                                    </th>*@
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Type)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.UserName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TotalCount)
                                                    </th>
                                                    
                                                    @if (Authentication.IsAllowedToSee("ApproveMultipleLoads"))
                                                    {<th></th>}
                                                </tr>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Desc)
                                                        </td>
                                                        @*<td>
                                                            @Html.DisplayFor(modelItem => item.BulkId)
                                                        </td>*@
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Type)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.UserName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TotalCount)
                                                        </td>
                                                        @if (Authentication.IsAllowedToSee("ApproveMultipleLoads"))
                                                        {
                                                            <td>

                                                                @Html.ActionLink("Onayla", "ApproveMultipleLoads", new { id = item.BulkId }, new { @class = "btn btn-sm yellow btn-outline sbold" })
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
