﻿@using Efes.WC
@model IEnumerable<Efes.Entities.Approvement.LandRegister>

@{
    ViewBag.Title = "Onay Ekranları";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-body">
                @if (Authentication.IsAllowedToSee("ViewChangePaymentOwner"))
                {
                    <span>

                        @Html.ActionLink(
                            "Ödeme Sahibi Değiştirme Onay Sayfası",
                            "ChangePaymentOwner",
                            new { },
                            new { @class = "btn dark btn-outline sbold uppercase" }
                            )
                    </span>
                }
                @if (Authentication.IsAllowedToSee("ViewMultipleLoads"))
                {
                    <span>
                        @Html.ActionLink(
                            "Toplu YÜkleme Onay Sayfası",
                            "MultipleLoadsIndex",
                            new { },
                            new { @class = "btn dark btn-outline sbold uppercase" }
                            )
                    </span>
                }
                @if (Authentication.IsAllowedToSee("ViewSpecialExecution"))
                {
                    <span>
                        @Html.ActionLink(
                            "Özel İnfaz Onay Sayfası",
                            "ChangeSpecialExecution",
                            new { },
                            new { @class = "btn dark btn-outline sbold uppercase" }
                            )
                    </span>
                }
                @if (Authentication.IsAllowedToSee("ViewWaitingSalaryDistraint"))
                {
                    <span>
                        @Html.ActionLink(
                        "Maaş Haczi Onay Sayfası",
                        "AprroveSalaryDistraint",
                        new { },
                        new { @class = "btn dark btn-outline sbold uppercase" }
                        );
                    </span>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Tapu Kaydı Onay Listesi</span>
                </div>
            </div>
            <div class="portlet-body">

                @if (Model.Any())
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet">
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FileName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FileDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.RecordCount)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.StarterLoadingId)
                                                </th>
                                                    
                                                @if (Authentication.IsAllowedToSee("ApproveLandRegister") &&
                                                     Authentication.IsAllowedToSee("DenyLandRegister"))
                                                {
                                                    <th></th>
                                                }
                                            </tr>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FileName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.FileDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RecordCount)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.StarterLoadingId)
                                                    </td>
                                                    @if (Authentication.IsAllowedToSee("ApproveLandRegister") &&
                                                         Authentication.IsAllowedToSee("DenyLandRegister"))
                                                    {
                                                        <td>
                                                            @Html.ActionLink(
                                                                "Onay",
                                                                "AprroveLandRegister",
                                                                new { id = item.Id },
                                                                new { @class = "btn btn-sm green btn-outline sbold" }
                                                                )
                                                            @Html.ActionLink(
                                                                "Red",
                                                                "DenyLandRegister",
                                                                new { id = item.Id },
                                                                new { @class = "btn btn-sm red btn-outline sbold" }
                                                                )
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
