﻿@using Efes.WC
@model Efes.Entities.Law.OfficeAccount

@{
    ViewBag.Title = "Hukuk Bürosu Dosya Yönetimi";
}

@if (Authentication.IsAllowedToSee("CreateOfficeAccount")) { 
using (Html.BeginForm("Create", "LawOfficeAccount", FormMethod.Post, new { @class = "form-horizontal", @id = "frmLawOffice" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered" id="blockPlace">
                <input type="hidden" name="LawOfficeId" value="@Model.LawOfficeId" />

                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp sbold">Hukuk Bürosu Oluşturma</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.AccountId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" value="Kaydet" class="btn btn-primary pull-right" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
}
@if (Authentication.IsAllowedToSee("ViewOfficeAccountList"))
{
    <div>
        @Html.ActionLink("Listeye geri dön", "Index", new { id = Model.LawOfficeId }, new { @class = "btn btn-sm blue-hoki btn-outline sbold" })
    </div>
}

