﻿@using Efes.WC
@model Efes.Models.Law.OfficeAccountModel

@{
    ViewBag.Title = "Hukuk Bürosu Dosya Yönetimi";
}
@if (Model != null && Authentication.IsAllowedToSee("DeleteOfficeAccount"))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered" id="blockPlace">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp sbold">Hukuk Bürosu Dosyası Silme</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <h4>Bu hukuk bürosu dosyasını silmek istediğinize emin misiniz?</h4>
                        <div>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.AccountId)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.AccountId)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CreatedDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedByName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CreatedByName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedByName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedByName)
                                </dd>

                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <input type="hidden" name="Id" value="@Model.Id" />
                                <input type="hidden" name="LawOfficeId" value="@Model.LawOfficeId" />
                                <div class="form-actions no-color">
                                    <input type="submit" value="Sil" class="btn btn-default" />
                                    @if (Authentication.IsAllowedToSee("ViewOfficeAccountList"))
                                    {
                                        Html.ActionLink("Listeye geri dön", "Index", new { id = Model.LawOfficeId }, new { @class = "btn btn-sm blue-hoki btn-outline sbold" });
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}