﻿@using Efes.WC
@model Efes.Models.Law.OfficeAccountModel

@{
    ViewBag.Title = "Hukuk Bürosu Dosya Yönetimi";
}
@if (Model != null && Authentication.IsAllowedToSee("ViewOfficeAccountDetails"))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered" id="blockPlace">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp sbold">Hukuk Bürosu Detayı</span>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="form-body">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.AccountId)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.AccountId)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CreatedDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CreatedByName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CreatedByName)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedDate)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedDate)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.UpdatedByName)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.UpdatedByName)
                                </dd>

                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <span>İşlem esnasında hata oluşmuştur.</span>
}

<div>
    @if (Authentication.IsAllowedToSee("EditOfficeAccount"))
    {
        Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm yellow-gold btn-outline sbold" });
    }
    @if (Authentication.IsAllowedToSee("ViewOfficeAccountList"))
    {
        Html.ActionLink("Listeye geri dön", "Index", new { id = Model.LawOfficeId }, new { @class = "btn btn-sm blue-hoki btn-outline sbold" });
    }
</div>
