﻿@using Efes.WC
@model Efes.Models.Law.OfficeAccountModel

@{
    ViewBag.Title = "Hukuk Bürosu Dosya Yönetimi";
}

@using (Html.BeginForm("Edit", "LawOfficeAccount", FormMethod.Post, new { @class = "form-horizontal", @id = "frmLawOffice" }))
{
    @Html.AntiForgeryToken()
    if (Model != null && Authentication.IsAllowedToSee("EditOfficeAccount"))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit bordered" id="blockPlace">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-blue-sharp sbold">Hukuk Bürosu Dosya Düzenleme</span>
                        </div>
                    </div>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="LawOfficeId" value="@Model.LawOfficeId" />
                    <div class="portlet-body">
                        <div class="form-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.AccountId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AccountId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" value="Kaydet" class="btn btn-primary pull-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <span>İşlem esnasında hata oluşmuştur.</span>
    }
}
@if (Authentication.IsAllowedToSee("ViewOfficeAccountList"))
{
<div>
    @Html.ActionLink("Listeye geri dön", "Index", new { id = Model.LawOfficeId }, new { @class = "btn btn-sm blue-hoki btn-outline sbold" })
</div>
}
