﻿@using Efes.WC
@model  Efes.Models.Law.OfficeAccountListModel

@{
    ViewBag.Title = "Hukuk Bürosu Dosya Yönetimi";
}
@if (Authentication.IsAllowedToSee("ViewOfficeAccountList"))
{
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit bordered" id="blockPlace">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp sbold">"@(Model.OfficeName)" Dosya Listesi</span>
                    </div>
                    @if (Authentication.IsAllowedToSee("CreateOfficeAccount"))
                    {
                        Html.ActionLink("Yeni Dosya Ekle", "Create", new { id = Model.OfficeId }, new { @class = "btn btn-sm green-meadow pull-right" });
                    }
                    <span> </span>
                    @if (Authentication.IsAllowedToSee("ViewOfficeAccountList"))
                    {
                        Html.ActionLink("Excel'e Aktar", "Create", new { id = Model.OfficeId }, new { @class = "btn btn-sm blue pull-right" });
                    }
                </div>
                <input type="hidden" name="OfficeId" value="@Model.OfficeId" />
                <div class="portlet-body">
                    @if (Model.OfficeAccountModelList.Any())
                    {
                        var firstItem = Model.OfficeAccountModelList[0];
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet">
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-advance table-hover" id="lawOfficeAccountTable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.AccountId)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.AccountOwner)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.CreatedByName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.CreatedDate)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.UpdatedByName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.UpdatedDate)
                                                        </th>
                                                        @if (Authentication.IsAllowedToSee("EditOfficeAccount") || Authentication.IsAllowedToSee("ViewOfficeAccountDetails") || Authentication.IsAllowedToSee("DeleteOfficeAccount"))
                                                        {
                                                            <th></th>}
                                                    </tr>
                                                </thead>
                                                @foreach (var item in Model.OfficeAccountModelList)
                                                {
                                                    <tr data-account-id="@(item.AccountId)">
                                                        <td>
                                                            <a href="/Obligor/Detail?accountId=@item.AccountId" target="_blank">@item.AccountId</a>
                                                        </td>
                                                        <td class="accaount-owner-name">
                                                            @Html.DisplayFor(modelItem => item.AccountOwner)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CreatedByName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.UpdatedByName)
                                                        </td>
                                                        <td>
                                                            @(item.UpdatedDate.ToString() == "1.01.0001 00:00:00" ? "" : item.UpdatedDate.ToString())
                                                        </td>
                                                        <td>
                                                            @if (Authentication.IsAllowedToSee("EditOfficeAccount"))
                                                            {
                                                                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-sm yellow-gold btn-outline sbold" })
                                                            }
                                                            @if (Authentication.IsAllowedToSee("ViewOfficeAccountDetails"))
                                                            {
                                                                @Html.ActionLink("Detay", "Details", new { id = item.Id }, new { @class = "btn btn-sm blue-hoki btn-outline sbold" })
                                                            }
                                                            @if (Authentication.IsAllowedToSee("DeleteOfficeAccount"))
                                                            {
                                                                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-sm red-haze btn-outline sbold" })
                                                            }
                                                            @if (Authentication.IsAllowedToSee("ChangeAccountOwner"))
                                                            {
                                                                <a href="javascript:void(0)" onclick="Obligor.OpenAccountOwnerChangeModal('@(item.AccountId)', onSuccessForChangingAccountOwner)" class="btn btn-sm yellow btn-outline sbold">Dosya Sahibini Değiştir</a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- END SAMPLE TABLE PORTLET-->
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <strong>Bilgi: </strong> Hukuk bürosuna ait dosya bulunamamıştır.
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    if (Authentication.IsAllowedToSee("ViewOfficeList"))
    {
        <div>
            @Html.ActionLink("Hukuk Bürosu listesine geri dön", "Index", "LawOffice", new { }, new { @class = "btn btn-sm blue-hoki btn-outline sbold" })
        </div>
    }

    @section PageScripts{
        <script type="text/javascript">
            function onSuccessForChangingAccountOwner(accountId, loginName) {
                $("#lawOfficeAccountTable tr[data-account-id='" + accountId + "'] .accaount-owner-name").html(loginName);
            }
        </script>
    }

}
