﻿@model  Efes.Models.ProtocolCampaignModel

@{
    ViewBag.Title = "Protokol Kampanya Yönetimi";
}

@using (Html.BeginForm("Create", "ProtocolCampaign", FormMethod.Post, new { @class = "form-horizontal", @id = "frmProtocolCampaign" }))
{
    @Html.AntiForgeryToken()
    if (Model != null)
    {
        <input type="hidden" name="ProtocolCampaignType" id="selectedCampaignType" value="0" />
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light portlet-fit bordered" id="blockPlace">
                    <div class="portlet-title">
                        <div class="caption">
                            <span class="caption-subject font-blue-sharp sbold">Kampanya Oluşturma</span>
                        </div>
                    </div>
                    @if (Model.Details.Any())
                    {
                        <div class="portlet-body form">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="divCampaignType">Kampanya Oluşturma Tipi</label>
                                    <div class="btn-group col-md-10" data-toggle="buttons" id="divCampaignType">
                                        <label class="btn blue active">
                                            <input  type="radio" class="toggle form-control" data-type="0"> Borçlu Listesi
                                        </label>
                                        <label class="btn blue">
                                            <input type="radio" class="toggle form-control" data-type="1"> Yaş ve Portföy
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" id="divObligorList" >
                                    <label class="control-label col-md-2" for="obligorList">Borçlu Listesi (Account Id)</label>
                                    <div class="col-md-2">
                                        <textarea class="form-control" cols="80" rows="10" name="ObligorList" id="obligorList" maxlength="5000" data-rule-required="true"></textarea>
                                    </div>
                                </div>
                                <div class="form-group" id="divAge" style="display: none;">
                                    <label class="control-label col-md-2" for="age">Yaş</label>
                                    <div class="col-md-1">
                                        <input type="text" class="form-control" name="Age" id="age" data-inputmask="'alias': 'integer', 'repeat': '3'" />
                                    </div>
                                </div>
                                <div class="form-group" id="divPortfolio" style="display: none;">
                                    <label class="control-label col-md-2" for="portfolio">Portföy</label>
                                    <div class="col-md-2">
                                        <select id="ddlPortfolio" name="PortfolioId" class="form-control">
                                            <option value="0">Tüm Portföyler</option>
                                            @foreach (var i in Model.Portfolios)
                                            {
                                                <option value="@i.Id">@(i.Name)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="description">Açıklama</label>
                                    <div class="col-md-2">
                                        <textarea class="form-control" cols="80" rows="5" maxlength="5000" name="Description" id="description" data-rule-required="true"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="maxAdvancePaymentDay">Max Peşinat Gün Sayısı</label>
                                    <div class="col-md-1">
                                        <input name="MaxAdvancePaymentDay" class="form-control" id="maxAdvancePaymentDay" data-inputmask="'alias': 'integer', 'repeat': '3'" data-rule-required="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="maxInstallmentDay">Max Taksit Gün Sayısı</label>
                                    <div class="col-md-1">
                                        <input name="MaxInstallmentDay" class="form-control" id="maxInstallmentDay" data-inputmask="'alias': 'integer', 'repeat': '3'" data-rule-required="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="minAmount">Minumum Tutar</label>
                                    <div class="col-md-1">
                                        <input name="MinAmount" class="form-control" id="minAmount" data-inputmask="'alias': 'decimal'" data-rule-required="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="maxAmount">Maksimum Tutar</label>
                                    <div class="col-md-1">
                                        <input name="MaxAmount" class="form-control" id="maxAmount" data-inputmask="'alias': 'decimal'" data-rule-required="true" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="startDate">Başlangıç Tarihi</label>
                                    <div class="col-md-1">
                                        <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                            <input type="text" class="form-control" readonly="" name="StartDate" id="startDate" data-rule-required="true">
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="endDate">Bitiş Tarihi</label>
                                    <div class="col-md-10">
                                        <div class="input-group input-small date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d" >
                                            <input type="text" class="form-control" readonly="" name="EndDate" id="endDate" data-rule-required="true">
                                            <span class="input-group-btn">
                                                <button class="btn default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Detaylar</label>
                                    <div class="col-md-10">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Rol</th>
                                                    <th colspan="2">Boçlu</th>
                                                    <th colspan="2">Kefil</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="5">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>İndirim Oranı</th>
                                                                    <th>Maksimum Taksit Sayısı</th>
                                                                    <th>İndirim Oranı</th>
                                                                    <th>Maksimum Taksit Sayısı</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var i in Model.Details)
                                                                {
                                                                    <tr>
                                                                        <td>@i.RoleName</td>
                                                                        <td class="form-group"><input type="text" class="form-control" name="@("o_discountPercentage" + i.RoleId)" id='@("o_discountPercentage" + i.RoleId)' data-id="@i.RoleId" data-inputmask="'mask':'% 9[9]'" data-rule-required="true" data-msg-required="Bu alan zorunludur." /></td> @*ornek*@
                                                                        <td class="form-group"><input type="text" class="form-control" name="@("o_maxInstallmentCount" + i.RoleId)" id='@("o_maxInstallmentCount" + i.RoleId)' data-id="@i.RoleId" data-rule-required="true" /></td>
                                                                        <td class="form-group"><input type="text" class="form-control" name="@("p_discountPercentage" + i.RoleId)" id='@("p_discountPercentage" + i.RoleId)' data-id="@i.RoleId" data-inputmask="'mask':'% 9[9]'" data-rule-required="true" /></td>
                                                                        <td class="form-group"><input type="text" class="form-control" name="@("p_maxInstallmentCount" + i.RoleId)" id='@("p_maxInstallmentCount" + i.RoleId)' data-id="@i.RoleId" data-rule-required="true" /></td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="col-md-offset-3 col-md-9 ">
                                        <input type="submit" value="Kaydet" class="btn btn-primary pull-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div>Kampanya yapma yetkisine sahip herhangi bir kullanıcı grubu yoktur.</div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <span>İşlem esnasında hata oluşmuştur.</span>
    }
}

<script type="text/javascript">
    var ProtocolCampaign = (function () {
        var toggleCampaignType = function (type) {

            var $obligorListDiv = $("#divObligorList");
            var $agetDiv = $("#divAge");
            var $portfolioDiv = $("#divPortfolio");
            $obligorListDiv.hide();
            $obligorListDiv.data("rule-required", false);
            $agetDiv.hide();
            $portfolioDiv.hide();

            if (type === 0) //obligorList
            {
                $obligorListDiv.show();
                $obligorListDiv.data("rule-required", true);
            }
            else if (type === 1) {
                $agetDiv.show();
                $portfolioDiv.show();
            }

            $("#selectedCampaignType").val(type);
        }
        var init = function () {
            $("#divCampaignType .btn").on("click", function (e) {
                var clickedradio = $(this).find("input");
                var type = $(clickedradio).data("type");
                $("#selectedCampaignType").val(type);
                toggleCampaignType(type);
            });

            $("form#frmProtocolCampaign").submit(function (e) {
                var maxInsDay = parseInt($("#maxInstallmentDay").val());
                var maxAdvancedPaymentDay = parseInt($("#maxAdvancePaymentDay").val());
                if (maxInsDay <= maxAdvancedPaymentDay) {
                    alert("'Maksimum Taksit Gün Sayısı', 'Maksimum Peşinat Gün Sayısından küçük yada eşit olamaz'");
                    e.preventDefault();
                } else {
                    jQuery("input#hiddeninput").val("somevalue");
                }
            });

            $("form#frmProtocolCampaign").validate({
                highlight: function (element) {
                    $(element).closest(".form-group").addClass("has-error");
                },
                unhighlight: function (element) {
                    $(element).closest(".form-group").removeClass("has-error");
                },
                errorElement: "span",
                errorClass: "help-block",
                errorPlacement: function (error, element) {
                    error.insertAfter(element);
                }
            });
            //$("frmProtocolCampaign").validate({
            //    rules: {
            //        fruit: {
            //            required: true
            //        }
            //    }
            //});

            //$("#description").val("aciklama");
            //$("#maxInstallmentDay").val("60");
            //$("#maxAdvancePaymentDay").val("12");
            //$("#minAmount").val("1000");
            //$("#maxAmount").val("5000");
            //$("#startDate").val("01-09-2016");
            //$("#endDate").val("01-10-2016");
            //$("#o_discountPercentage2").val("10");
            //$("#o_discountPercentage6").val("15");
            //$("#o_discountPercentage8").val("20");
            //$("#o_discountPercentage10").val("20");
            //$("#o_maxInstallmentCount2").val("12");
            //$("#o_maxInstallmentCount6").val("24");
            //$("#o_maxInstallmentCount8").val("59");
            //$("#o_maxInstallmentCount10").val("59");
            //$("#p_discountPercentage2").val("5");
            //$("#p_discountPercentage6").val("7");
            //$("#p_discountPercentage8").val("10");
            //$("#p_discountPercentage10").val("10");
            //$("#p_maxInstallmentCount2").val("6");
            //$("#p_maxInstallmentCount6").val("12");
            //$("#p_maxInstallmentCount8").val("30");
            //$("#p_maxInstallmentCount10").val("30");
            //$("#age").val("46");
            //$("#portfolio").val("Is Bankasi-001");
            //$("#obligorList").val("312312331237\r\n124141212442\r\n121241242414\r\n532353245235\r\n643324124234");

        };
        return {
            ToggleCampaignType: toggleCampaignType,
            Init: init
        };
    })();

</script>

<div>
    @Html.ActionLink("Listeye geri dön", "Index")
</div>

@section PageScripts{

    @*@Scripts.Render("~/Content/scripts/ProtocolCampaign.js")*@
    <script type="text/javascript">
        $(function () {
            ProtocolCampaign.Init();
        });
    </script>
}
