﻿@using Efes.WC
@model IEnumerable<Efes.Models.ProtocolCampaignModel>

@{
    ViewBag.Title = "Protokol Kampanya Yönetimi";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Protokol Kampanya Listesi</span>
                </div>
                @if (Authentication.IsAllowedToSee("AddProtocolCampaign"))
                {
                    @Html.ActionLink("Yeni Kampanya", "Create", "CreateNew", new { @class = "btn btn-sm green-meadow pull-right" })
                }
            </div>
            <div class="portlet-body">

                @if (Model.Any())
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet">
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover">
                                            <tbody>
                                                <tr>
                                                    <th>
                                                        Kampanya Tanımı
                                                    </th>
                                                    @*<th>
                                                            Indirim Orani
                                                        </th>*@
                                                    <th>
                                                        Yararlanan Borçlu Sayısı
                                                    </th>
                                                    <th>
                                                        Başlangıç Tarihi
                                                    </th>
                                                    <th>
                                                        Bitiş Tarihi
                                                    </th>
                                                    <th>
                                                        Oluşturan
                                                    </th>
                                                    <th>
                                                        Değiştiren
                                                    </th>
                                                    <th>
                                                        Portföy 
                                                    </th>
                                                    <th>
                                                        Kampanya Başarı Oranı
                                                    </th>
                                                    @*<th>İşlemler</th>*@
                                                </tr>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Description)
                                                        </td>
                                                        @*<td>
                                                                @Html.DisplayFor(modelItem => item.DiscountPercentage)
                                                            </td>*@
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.ObligorCount)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.StartDateView)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.EndDateView)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Creator)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Updater)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Portfolio)
                                                        </td>
                                                        <td>
                                                           % @Html.DisplayFor(modelItem => item.CampaignSuccessRate)
                                                        </td>
                                                        @*<td>
                                                                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-sm yellow-gold btn-outline sbold" })
                                                                @Html.ActionLink("Görüntüle", "Details", new { id = item.Id }, new { @class = "btn btn-sm blue-hoki btn-outline sbold" })
                                                                @Html.ActionLink("Rol Ekle/Çıkar", "UserRoles", "Authorization", new { id = item.Id }, new { @class = "btn btn-sm red-haze btn-outline sbold" })
                                                            </td>*@
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<p>
    @if (Authentication.IsAllowedToSee("AddProtocolCampaign"))
    {
        @Html.ActionLink("Yeni Kampanya", "Create", "CreateNew", new { @class = "btn btn-sm green-meadow pull-right" })
    }
</p>
