﻿@model Efes.Models.AgentKarnesiModel

@{
    ViewBag.Title = "Agent Karnesi";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Agent Karnesi</span>
                </div>
            </div>
            <form action="/Report/AgentKarnesi" method="post">
                <div class="portlet-body">
                    <div class="form-group">
                        <label class="control-label col-md-1">Ay</label>
                        <select class="control-label col-md-1" name="month">
                            @for (int i = 1; i < 13; i++)
                            {
                                <option value="@i" @(Model.SelectedMonth == i ? "selected='selected'" : "")>@i</option>
                            }
                        </select>
                        <label class="control-label col-md-1">Yıl</label>
                        <select class="control-label col-md-1" name="year">
                            @foreach (var year in Model.Years)
                            {
                                <option value="@year" @(Model.SelectedYear == year ? "selected='selected'" : "")>@year</option>
                            }
                        </select>
                        <label class="control-label col-md-1">Kullanıcı</label>
                        <select class="control-label col-md-2" name="userId">
                            @foreach (var user in Model.UserList)
                            {
                                <option value="@user.Id" @(Model.SelectedAgent == user.Id ? "selected='selected'" : "")>@user.Name</option>
                            }

                        </select>
                        <span class="col-md-1"></span>
                        <button type="submit" class="btn btn-sm blue">Getir</button>
                    </div>

                    @if (Model.BeklentiTahsilatList.Any())
                    {
                        <span>BEKLENTİLER TAHSİLAT</span>
                        var firstItem = Model.BeklentiTahsilatList[0];
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet">
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.Date)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.Beklenti)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.Tahsilat)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.CagriSayisi)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.Ulasilan)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.Protokol)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.HattaKalma)
                                                        </th>
                                                    </tr>
                                                </thead>
                                                @foreach (var item in Model.BeklentiTahsilatList)
                                                {
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(model => item.Date)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.Beklenti) TL
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.Tahsilat) TL
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.CagriSayisi)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.Ulasilan)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.Protokol)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.HattaKalma) sn.
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                }
                                                <tfoot>
                                                    <tr>
                                                        <td>
                                                            Toplam
                                                        </td>
                                                        <td>
                                                            @Model.BeklentiTahsilatList.Sum(a => a.Beklenti) TL
                                                        </td>
                                                        <td>
                                                            @Model.BeklentiTahsilatList.Sum(a => a.Tahsilat) TL
                                                        </td>
                                                        <td>
                                                            @Model.BeklentiTahsilatList.Sum(a => a.CagriSayisi)
                                                        </td>
                                                        <td>
                                                            @Model.BeklentiTahsilatList.Sum(a => a.Ulasilan)
                                                        </td>
                                                        <td>
                                                            @Model.BeklentiTahsilatList.Sum(a => a.Protokol)
                                                        </td>
                                                        <td>
                                                            @Model.BeklentiTahsilatList.Sum(a => a.HattaKalma) sn.
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.TahsilatList.Any())
                    {
                        <span>Anapara Grubu</span>
                        var firstItem = Model.TahsilatList[0];
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet">
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>

                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.TahsilatAdedi)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.TahsilatTutar)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => firstItem.Anapara)
                                                        </th>
                                                    </tr>
                                                </thead>
                                                @foreach (var item in Model.TahsilatList)
                                                {
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(model => item.AnaparaGrubu)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.TahsilatAdedi)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.TahsilatTutar) TL
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(model => item.Anapara) TL
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                }
                                                <tfoot>
                                                    <tr>
                                                        <td>
                                                            Toplam
                                                        </td>
                                                        <td>
                                                            @Model.TahsilatList.Sum(a => a.TahsilatAdedi)
                                                        </td>
                                                        <td>
                                                            @Model.TahsilatList.Sum(a => a.TahsilatTutar) TL
                                                        </td>
                                                        <td>
                                                            @Model.TahsilatList.Sum(a => a.Anapara) TL
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.CikarilanGKF != null)
                    {
                        <span>ÇIKARILAN GENEL KABUL FORMLARI</span>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet">
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.CikarilanGKF.Adet)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.CikarilanGKF.AnaparaToplami)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.CikarilanGKF.KapamaBakiyesi)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.CikarilanGKF.Yuzdesi)
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(model => model.CikarilanGKF.Adet)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(model => model.CikarilanGKF.AnaparaToplami) TL
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(model => model.CikarilanGKF.KapamaBakiyesi) TL
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(model => model.CikarilanGKF.Yuzdesi) %
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>