﻿@model  Efes.Entities.Portfolio.Portfolio
@{
    ViewBag.Title = "Portföy Yükleme";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Portföy Detayı</span>
                </div>
            </div>
            @if (Model == null || string.IsNullOrWhiteSpace(Model.BankName) || string.IsNullOrWhiteSpace(Model.Name))
            {
                <div class="alert alert-info margin-top-40  ">
                    <strong>Bilgi!</strong> Ödeme sözü bulunamadı.
                </div>
            }
            else
            {
                <div class="portlet-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-md-1">@Html.DisplayNameFor(model => model.BankName)</label>
                        <div class="col-md-3">
                            <span>@Html.DisplayFor(model => model.BankName)</span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-md-1">@Html.DisplayNameFor(model => model.Name)</label>
                        <div class="col-md-3">
                            <span>@Html.DisplayFor(model => model.Name)</span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-md-1">@Html.DisplayNameFor(model => model.BorcluSayisi)</label>
                        <div class="col-md-3">
                            <span>@Html.DisplayFor(model => model.BorcluSayisi)</span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-md-1">@Html.DisplayNameFor(model => model.KefilSayisi)</label>
                        <div class="col-md-3">
                            <span>@Html.DisplayFor(model => model.KefilSayisi)</span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-md-1">@Html.DisplayNameFor(model => model.BorcSayisi)</label>
                        <div class="col-md-3">
                            <span>@Html.DisplayFor(model => model.BorcSayisi)</span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-md-1">@Html.DisplayNameFor(model => model.AdresSayisi)</label>
                        <div class="col-md-3">
                            <span>@Html.DisplayFor(model => model.AdresSayisi)</span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-md-1">@Html.DisplayNameFor(model => model.TelefonSayisi)</label>
                        <div class="col-md-3">
                            <span>@Html.DisplayFor(model => model.TelefonSayisi)</span>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-1 control-label" for="title"></label>
                        <div class="col-md-3">
                            <a href="javascript:StartLoading();" class="btn green btn-outline" id="alert_show" @(Model.IsActive ? "": "disabled")> Onayla </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section PageScripts{

    <script type="text/javascript">

        var data = JSON.stringify(
            {
                bankName: '@Model.BankName',
                portfolioName: '@Model.Name'
            });

        var commonAjaxCall = function(opt) {
            window.Core.AjaxCall({
                url: "/Portfolio/" + opt.methodName,
                data: opt.data ? opt.data : data,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    if (response) {
                        if (response.IsSuccess) {
                            setTimeout(function() {
                                    App.blockUI({
                                        target: ".portlet-body",
                                        boxed: true,
                                        message: opt.waitingMessage
                                    });
                                    opt.callBackFunc();
                                },
                                3000);
                        } else {
                            Message.Show("Işlem tamamlanamadi.",
                                "Hata",
                                Message.ThemeType.Ruby);
                        }
                    } else {
                        Message.Show("Işlem tamamlanamadi.",
                            "Hata",
                            Message.ThemeType.Ruby);
                    }
                },
                error: function() {
                    alert("Hata ile karsilasildi");
                }
            });
        };

        var CallBackFunc1 = function() {
            var opt = {
                methodName: "SourceAndSourceset",
                callBackFunc: CallBackFunc2,
                waitingMessage: "SourceAndSourceset bitti",
            };

            commonAjaxCall(opt);
        };

        var CallBackFunc2 = function() {
            var opt = {
                methodName: "ContactUpdate",
                callBackFunc: CallBackFunc3,
                waitingMessage: "ContactUpdate bitti",
            };

            commonAjaxCall(opt);
        };

        var CallBackFunc3 = function() {
            var opt = {
                methodName: "UpdateAccount",
                callBackFunc: CallBackFunc4,
                waitingMessage: "UpdateAccount bitti",
            };

            commonAjaxCall(opt);
        };

        var CallBackFunc4 = function() {
            var opt = {
                methodName: "PhoneTable",
                callBackFunc: CallBackFunc5,
                waitingMessage: "PhoneTable bitti",
            };

            commonAjaxCall(opt);
        };

        var CallBackFunc5 = function() {
            var opt = {
                methodName: "AddressTable",
                callBackFunc: CallBackFunc6,
                waitingMessage: "AddressTable bitti",
            };

            commonAjaxCall(opt);
        };

        var CallBackFunc6 = function() {
            var opt = {
                methodName: "NormalizePhoneNumbers",
                callBackFunc: CallBackFunc7,
                waitingMessage: "NormalizePhoneNumbers bitti",
                data: JSON.stringify({})
            };

            commonAjaxCall(opt);
        };

        var CallBackFunc7 = function() {
            var opt = {
                methodName: "DebtDetailTable",
                callBackFunc: CallBackFunc8,
                waitingMessage: "DebtDetailTable bitti",
            };

            commonAjaxCall(opt);
        };

        var CallBackFunc8 = function() {
            var opt = {
                methodName: "MoneyDebtDetailsToAccount",
                callBackFunc: CallBackFunc9,
                waitingMessage: "MoneyDebtDetailsToAccount bitti",
                data: JSON.stringify({})
            };

            commonAjaxCall(opt);
        };

        var CallBackFunc9 = function() {
            var opt = {
                methodName: "ContactRelationsTable",
                callBackFunc: CallBackFunc10,
                waitingMessage: "ContactRelationsTable bitti",
            };

            commonAjaxCall(opt);
        };

        var CallBackFunc10 = function() {
            var opt = {
                methodName: "DataToTable",
                callBackFunc: CallBackFunc11,
                waitingMessage: "DataToTable bitti",
                data: JSON.stringify(
                    {
                        portfolioName: '@Model.Name'
                    })
            };

            commonAjaxCall(opt);
        };

        var CallBackFunc11 = function() {
            var opt = {
                methodName: "ReleaseData",
                callBackFunc: CallBackFunc12,
                waitingMessage: "ReleaseData bitti",
                data: JSON.stringify(
                    {
                        portfolioName: '@Model.Name'
                    })
            };

            commonAjaxCall(opt);
        };

        var CallBackFunc12 = function() {
            var opt = {
                methodName: "AddressActive",
                callBackFunc: CallBackFunc13,
                waitingMessage: "AddressActive bitti",
            };

            commonAjaxCall(opt);
        };

        var CallBackFunc13 = function() {
            var opt = {
                methodName: "CreateBop",
                callBackFunc: function () {
                    App.unblockUI(".portlet-body");
                    alert("Bitti");
                },
                waitingMessage: "CreateBop bitti",
                data: JSON.stringify(
                    {
                        portfolioName: '@Model.Name'
                    })
            };

            commonAjaxCall(opt);
        };

        var StartLoading = function() {
            App.blockUI({
                target: ".portlet-body",
                boxed: true,
                message: "Yükleme Başladı."
            });

            var opt = {
                methodName: "WorkTables",
                callBackFunc: CallBackFunc1,
                waitingMessage: "WorkTables bitti",
            };

            commonAjaxCall(opt);

        };
    </script>
}
