﻿@model Efes.Models.Obligor.ObligorModel
@using Efes.UIPC
@using Efes.Utility
@using Efes.WC

@Styles.Render("~/Content/obligor_css")
@Styles.Render("~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css")
@if (Model != null)
{
    <input type="hidden" value="@Model.Id" id="obligorId" />
    <input type="hidden" value="@Model.DosyaNo" id="accountId" />
    <input type="hidden" value="@Model.Kisi" id="customerName" />
    <div class="row" style="display:none;">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        Arama Sonucu
                        &nbsp;
                        @if (Model.Status)
                        {
                        <span class="badge badge-success pull-right" style="background-color: #36d393 !important; font-size: 16px !important; height: 23px !important; padding: 3px 23px !important;">Aktif</span>
                        }
                        else
                        {
                        <span class="badge badge-danger pull-right" style="font-size: 16px !important; height: 23px !important; padding: 3px 23px !important;">Pasif</span>
                        }
                        &nbsp;
                    </div>
                    <div class="tools">
                        <span class="badge" style="background-color: @(Model.ScoreColorCode) !important; font-size: 16px !important; height: 23px !important; padding: 3px 23px !important;font-weight: bold;">Skor : @(Model.Score)</span>
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable" style="margin-bottom: 0px!important;">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td class="col-lg-6 col-md-4 col-sm-6 col-xs-6">Kişi</td>
                                    <td class="col-lg-6 col-md-8 col-sm-6 col-xs-6">@Model.Kisi</td>
                                </tr>
                                <tr>
                                    <td>
                                        İcra Daire/Dosya No
                                    </td>
                                    <td>
                                        @Model.IcraDaireDosya
                                    </td>
                                </tr>
                                <tr>
                                    <td>Dosya No</td>
                                    <td>@Model.DosyaNo</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Banka Adı</td>
                                    <td>@Model.BankaAdi</td>
                                </tr>
                                <tr>
                                    <td>Portföy</td>
                                    <td>@Model.Portfoy</td>
                                </tr>
                                <tr>
                                    <td>Dosya Sahibi</td>
                                    <td class="blue-soft">
                                    <b id="bAccountOwner">@(Model.DosyaSahibi + "  ")</b>
                                    @if (Model.Status && Authentication.IsAllowedToSee("ChangeAccountOwner") && Model.DosyaSahibi.Trim() != "system")
                                    {
                                        <a href="javascript:void(0)" onclick="Obligor.OpenAccountOwnerChangeModal('@(Model.DosyaNo)', ObligorDetail.OnSuccessForChangingAccountOwner)" class="btn btn-sm yellow btn-outline sbold">Değiştir</a>}
                                    <td>
                                </tr>
                                <tr class="canHide">
                                    <td>Tapu Kaydı</td>
                                    <td>
                                        <span class="font-green bold">@(Model.TapuKaydi ? "Var": "")</span>
                                    </td>
                                </tr>
                                <tr class="canHide">
                                    <td>Maaş Haczi</td>
                                    <td>
                                        <span class="font-red bold">@(Model.MaasHaczi ? "Var": "")</span>
                                    </td>
                                </tr>
                                <tr class="canHide">
                                    <td>Dosya Vekili</td>
                                    <td>@Model.DosyaVekili                               
                                </tr>
                                <tr class="canHide">
                                    <td>Borç Takip Id</td>
                                    <td>@Model.BorcTakipId</td>
                                </tr>
                                <tr class="canHide">
                                    <td class="col-lg-6 col-md-4 col-sm-6 col-xs-6">Kişi Durumu </td>
                                    <td class="col-lg-6 col-md-8 col-sm-6 col-xs-6">@Model.KisiDurumu</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Banka Müşteri No </td>
                                    <td>@Model.BankaMusteriNo</td>
                                </tr>
                                <tr class="canHide">
                                    <td>TCKN / VKN</td>
                                    <td>@Model.TcNo</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Cinsiyet </td>
                                    <td>@Model.Cinsiyet</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Dogum Tarihi </td>
                                    <td>@(Model.DogumTarihi.Convert<DateTime>().ToString("dd MMMM yyyy"))</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Anne Kızlık Soyadı </td>
                                    <td>@Model.AnneKizlikSoyadi</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Baba Adı </td>
                                    <td>@Model.BabaAdi</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Eşinin Adı </td>
                                    <td>@Model.EsininAdi</td>
                                </tr>
                                <tr class="canHide">
                                    <td>İlk Soyadı </td>
                                    <td>@Model.IlkSoyadi</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Medeni Durumu </td>
                                    <td>@Model.MedeniDurumu</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Aktif Protokol No</td>
                                    <td>@Model.AktifProtokolNo</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Protokol Toplam</td>
                                    <td>@Model.ProtokolToplam</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Son Tahsilat Tarihi</td>
                                    <td>@Model.SonTahsilatTarihi</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Atanan Hukuk Bürosu</td>
                                    <td>@Model.AtananHukukBurosu</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Atanma Tarihi</td>
                                    <td>@Model.AtanmaTarihi</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Temlik Düzeltme Tarihi</td>
                                    <td>@Model.TemlikDuzeltmeTarihi</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Borç Tipi</td>
                                    <td>@Model.BorcTipi</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Devir Tarihi</td>
                                    <td>@Model.DevirTarihi.ToShortDateString()</td>
                                </tr>
                                <tr class="canHide">
                                    <td>Kontakt Karnesi</td>
                                    <td><a href="http://efesdb/ReportServer/Pages/ReportViewer.aspx?%2fTahsilatOperasyon%2fBas%c4%b1labilir+Dokumanlar%2fKontakKarnesi&rc:parameters=false&rs:Command=Render&ConRelRecID=@(Model.ConRelRecID)" target="_blank">Göster</a> </td>
                                </tr>
                                <tr class="canHide">
                                    <td>Ödeme Sözü</td>
                                    <td>
                                        <span>@(Model.HasPaymentPromise ?
                                                "Var" + " / " + Model.PromiseDate + 
                                                " / " + Model.PromiseCreator  : "")
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="javascript:;" class="btn btn-sm blue-soft btn-block btn-outline showButton" style="height: 29px" onclick=" ObligorDetail.ShowHiddenFieldsInCurrentScope(this); ">
                            Ayrıntıları Göster
                        </a>
                        <a href="javascript:;" class="btn btn-sm blue-soft btn-block btn-outline hideButton" style="display: none; height: 29px;" onclick=" ObligorDetail.HideShownFieldsInCurrentScope(this); ">
                            Ayrıntıları Gizle
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="portlet box blue-soft">
                @*<div class="portlet light bordered">*@
                <div class="portlet-title">
                    <div class="caption">
                        Devir Alınan Borç
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td class="col-lg-6 col-md-4 col-sm-6 col-xs-6">Toplam</td>
                                    <td class="col-lg-6 col-md-8 col-sm-6 col-xs-6">@Model.DabToplam</td>
                                </tr>
                                <tr>
                                    <td>Anapara</td>
                                    <td>@Model.DabAnapara</td>
                                </tr>
                                <tr>
                                    <td>Faiz</td>
                                    <td>@Model.DabFaiz</td>
                                </tr>
                                <tr>
                                    <td>Masraf</td>
                                    <td>@Model.DabMasraf</td>
                                </tr>
                                <tr>
                                    <td>Ek Masraflar +</td>
                                    <td>@Model.DabEkMasraflar</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="portlet box blue-soft">
                @*<div class="portlet light bordered">*@
                <div class="portlet-title">
                    <div class="caption">
                        Tahsil Edilen
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td class="col-lg-6 col-md-4 col-sm-6 col-xs-6">Toplam</td>
                                    <td class="col-lg-6 col-md-8 col-sm-6 col-xs-6">@Model.TeToplam</td>
                                </tr>
                                <tr>
                                    <td>Anapara</td>
                                    <td>@Model.TeAnapara</td>
                                </tr>
                                <tr>
                                    <td>Faiz</td>
                                    <td>@Model.TeFaiz</td>
                                </tr>
                                <tr>
                                    <td>Masraf</td>
                                    <td>@Model.TeMasraf</td>
                                </tr>
                                <tr>
                                    <td>Son Tahsilat Trh.</td>
                                    <td>@Model.TeSonTahsilatTarihi</td>
                                </tr>
                                <tr>
                                    <td>İade Anapara</td>
                                    <td>@Model.TeIadeAnapara</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        Bakiye
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td class="col-lg-6 col-md-4  col-sm-6 col-xs-6">Toplam</td>
                                    <td class="col-lg-6 col-md-8  col-sm-6 col-xs-6">@Model.BToplam</td>
                                </tr>
                                <tr>
                                    <td>Anapara</td>
                                    <td>@Model.BAnapara</td>
                                </tr>
                                <tr>
                                    <td>Faiz</td>
                                    <td>@Model.BFaiz</td>
                                </tr>
                                <tr>
                                    <td>Masraf</td>
                                    <td>@Model.BMasraf</td>
                                </tr>
                                <tr>
                                    <td>Hes. Faiz</td>
                                    <td>@Model.BHesFaiz</td>
                                </tr>
                                <tr>
                                    <td>Hes. Faiz Trh.</td>
                                    <td>@Model.BHesFaizTarihi</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="display:none;">
        @if (Authentication.IsAllowedToSee("AddProtocol"))
        {
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" id="protocolWidget">
                <div class="portlet box blue-soft">
                    <div class="portlet-title">
                        <div class="caption">
                            Protokol
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        @if (!Model.Status)
                        {
                            <div class="alert alert-info">
                                <strong>Dosya kapalı olduğu için protol yapamazsanız.</strong>
                            </div>
                            <span></span>
                        }
                        else if (Model.HasActiveProtocol || Model.HasWaitingProtocol)
                        {
                            <div class="alert alert-info" style="margin-bottom: 0px;">
                                @if (Model.HasActiveProtocol)
                                {
                                    <strong>Borçlunun aktif protokolu var.</strong> <br /><br />

                                }
                                else
                                {
                                    <strong>Borçlunun onaya gönderilmiş protokolu var.</strong><br /><br />
                                }
                                <strong>Protokol tutarı @(Model.ProtocolValue) TL</strong>
                            </div>
                            <span></span>
                            if (Model.IsClosable && Authentication.IsAllowedToSee("CloseAccount"))
                            {
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <button id="btnMainScreenCloseAccount" data-toggle="modal" class="btn red-sunglo btn-block btn-md" onclick="File.CloseAccount()">Bu Dosyayı İnfaz Et</button>
                                    </div>
                                </div>
                            }
                        }
                        else if (!Model.HasActiveProtocol)
                        {
                            <form id="frmCreateProtocol" name="frmCreateProtocol">
                                <div class="form-body">
                                    <table class="table">
                                        <tr>
                                            <td class="col-md-5"><label class="control-label" for="txtProtocolValue" style="font-weight: bold;">Plan Tutarı:</label></td>
                                            <td class="col-md-7">
                                                <input id="txtProtocolValue"
                                                       name="txtProtocolValue"
                                                       type="text"
                                                       class="form-control"
                                                       value="@(Model.BAnapara.Replace(",", "."))"
                                                       data-value="@(Model.BAnapara.Replace(",", "."))"
                                                       data-min-value="@(Model.BAnapara.Replace(",", "."))"
                                                       data-max-value="@(Model.BToplam.Replace(",", "."))"
                                                       data-original-value="@(Model.BAnapara.Replace(",", "."))"
                                                       data-inputmask="'alias': 'decimal'" style="text-align:right;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="control-label" for="ddlProtocolCampigns" style="font-weight: bold;">Tanımlanan Kampanyalar:</label>
                                            </td>
                                            <td>
                                                <select id="ddlProtocolCampaigns" class="form-control">
                                                    <option data-discount-percentage="0"
                                                            data-max-installment-count="72"
                                                            data-first-advance-payment-day="30"
                                                            data-first-installment-day="72"
                                                            value="0"
                                                            selected="selected">
                                                        Kampanya Yok
                                                    </option>
                                                    @if (Model.ProtocolCampaignModelList.Any())
                                                    {
                                                        foreach (var pc in Model.ProtocolCampaignModelList)
                                                        {
                                                            if (pc.Details.Any())
                                                            {
                                                                <option data-discount-percentage="@(pc.DiscountPercentage)"
                                                                        data-max-installment-count="@(pc.MaxInstallmentCount)"
                                                                        data-first-advance-payment-day="@(pc.MaxAdvancePaymentDay)"
                                                                        data-first-installment-day="@(pc.MaxInstallmentDay)"
                                                                        data-cash-closing-amount="@pc.CashClosingAmount"
                                                                        data-role-id="@(pc.RoleMakingProtocol)"
                                                                        title="@(pc.StartDateView + " - " + pc.EndDateView + " arasi")"
                                                                        value="@(pc.Id)">
                                                                    @(pc.Description + (pc.DiscountPercentage > 0 ? " (%" + pc.DiscountPercentage + ")" : ""))
                                                                </option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td>
                                                <span class="col-md-1" id="spCampaignSelectedValue"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label" for="txtAdvancePayment" style="font-weight: bold;">Peşinat:</label></td>
                                            <td class="form-group">
                                                <input id="txtAdvancePayment"
                                                       name="txtadvancepayment"
                                                       type="text"
                                                       class="form-control lowerThan"
                                                       value="0.00"
                                                       data-inputmask="'alias': 'decimal'"
                                                       data-max="txtProtocolValue"
                                                       style="text-align:right;">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label" for="txtAdvancePaymentDate" style="font-weight: bold;">Peşinat Tarihi:</label></td>
                                            <td>
                                                <div class="input-group input-small date date-picker txtAdvancePaymentDate"
                                                     data-date-format="dd-mm-yyyy"
                                                     data-date-start-date="+0d"
                                                     data-date-end-date="">
                                                    <input type="text" class="form-control" readonly="" value="" id="txtAdvancePaymentDate">
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label" for="ddlInstallment" style="font-weight: bold;">Taksit Sayısı:</label></td>
                                            <td>
                                                <select id="ddlInstallment" class="form-control">
                                                    <option value="0">Taksit Yok</option>
                                                    @for (int i = 1; i <= 72; i++)
                                                    {
                                                        <option value="@i">@i taksit</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        @if (Authentication.IsAllowedToSee("HukukDisBuro"))
                                        {
                                            <tr>
                                                <td><label class="control-label" for="txtAgencyFee" style="font-weight: bold;">Vekalet Ücreti:</label></td>
                                                <td>
                                                    <input type="text" class="form-control" value="@(((Model.BAnapara.Convert<decimal>() * 12 / 100) >330 ? (Model.BAnapara.Convert<decimal>() * 12 / 100) : 330).ToString("0.##").Replace(",", "."))" data-inputmask="'alias': 'decimal'" id="txtAgencyFee">
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                                <div class="form-actions right">
                                    @if (Authentication.IsAllowedToSee("ViewSpecialExecution"))
                                    {
                                        <button type="button" class="btn red-sunglo" id="btnSpecialExecution" onclick="Debit.ShowExecutionModal()">Özel İnfaz</button>
                                    }
                                    @if (!Model.HasPaymentPromise)
                                    {
                                        <button type="button" class="btn yellow-gold" id="btnPaymentPromise" onclick="PaymentPromise.ShowDialog('@Model.BAnapara')">Ödeme Sözü</button>
                                    }
                                    <button type="button" class="btn blue" id="btnShowPaymentPlan">Ödeme Planı</button>
                                    <button type="button" class="btn red" id="btnSendApprovement" style="display: none;">Onaya Gönder</button>
                                    <button type="button" class="btn green-seagreen " id="btnApprove">Protokol Oluştur</button>
                                </div>
                            </form>

                        }

                    </div>
                </div>
            </div>
        }
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="portlet box blue-soft">
                <div class="portlet-title">
                    <div class="caption">
                        Hızlı İşlemler
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button data-toggle="modal" class="btn red-mint btn-block btn-md" onclick="Reminder.ShowModal()">
                                <span style="text-decoration: underline;">H</span>atırlatıcı Ekle
                            </button>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button data-toggle="modal" class="btn yellow-gold btn-block btn-md" onclick="SmsHistory.ShortSms()">
                                Yeni
                                <span style="text-decoration: underline;">S</span>MS Gönder
                            </button>

                        </div>
                    </div>

                    <div class="margin-top-5"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="select2-button-addons-single-input-group-sm" class="control-label font-blue-madison">Aranacak Numara</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="select2-button-addons-single-input-group-sm" class="control-label font-blue-madison">Gözüken Numara</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div id="mainCallButton" class="input-group input-group-md select2-bootstrap-prepend">
                                <span class="input-group-btn">
                                    <button data-toggle="modal" class="btn yellow-crusta btn-block btn-md" onclick=" Phone.Call() ">
                                        <span style="text-decoration: underline;">A</span>ra
                                    </button>
                                </span>
                                <select id="ddlPhoneList" class="form-control select2">
                                    @if (Model.Phones.Any())
                                    {
                                        foreach (var phone in Model.Phones)
                                        {
                                            if (!string.IsNullOrWhiteSpace(phone.Number) && (phone.Number.Trim().Length >= 10))
                                            {
                                                <option value="@phone.Number.Trim()">
                                                    @(phone.NumberText)
                                                </option>
                                            }
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="input-group input-group-md select2-bootstrap-prepend col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <select id="ddlFakePhoneList" class="form-control select2">
                                    <option value="">Dahili</option>
                                    @if (Model.FakeNumbers.Any())
                                    {
                                        foreach (var phone in Model.FakeNumbers)
                                        {
                                            if (!string.IsNullOrWhiteSpace(phone.Number) && (phone.Number.Trim().Length >= 10))
                                            {
                                                <option value="@phone.Number.Trim()">@(phone.Number.Trim().Substring(0, 3) + " " + phone.Number.Trim().Substring(3, 3) + " " + phone.Number.Trim().Substring(6, 2) + " " + phone.Number.Trim().Substring(8, 2))</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="margin-top-15"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="select2-button-addons-single-input-group-sm" class="control-label font-blue-madison">Not Tipi</label>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label for="select2-button-addons-single-input-group-sm" class="control-label font-blue-madison">Not Derecesi</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <select id="ddlMainScreenNoteType" class="form-control col-md-12">
                                <option value="0" selected="selected">Normal</option>
                                <option value="1">Kritik</option>
                            </select>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <select id="ddlMainScreenNoteRate" class="form-control col-md-12">
                                <option value="-1" selected="selected"></option>
                                <option value="0">0 Puan: ULAŞIM YOK</option>
                                <option value="1">1 Puan: TAHSİLAT KABİLİYETİ YOK</option>
                                <option value="2">2 Puan: UZUN VADEDE TAHSİLAT EDİLEBİLİR (6 ay ve üzeri)</option>
                                <option value="3">3 Puan: KISA VADEDE TAHSİLAT EDİLEBİLİR (6 aya kadar)</option>
                                <option value="4">4 Puan: İNDİRİMLE TAHSİL EDİLEBİLİR (Hemen)</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <textarea id="txtMainScreenNote" class="form-control" rows="3" placeholder="Lütfen not için açıklama girin ..." onkeyup="Utility.CountChar(this, 1000)"></textarea>
                    </div>
                    <div class="margin-top-10"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button id="btnMainScreenAddNote" data-toggle="modal" class="btn green-seagreen btn-block btn-md" onclick="Note.AddMainScreenNote()" disabled="disabled">Not Ekle</button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button id="btnShowCallResultScreen" data-toggle="modal" class="btn purple-intense btn-block btn-md" onclick="Note.ShowCallResultScreen()">Sonuç Gir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="portlet box blue-soft">
            <div class="portlet-title">
                <div class="caption">
                    Son 5 Kritik Not
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="clearfix">
                        <table class="table table-condensed table-bordered table-striped elleme" style="margin-bottom: 0px;" id="divLast5CriticNote">
                            @for (int i = 0; i < Model.Last5ImportantNotes.Count; i++)
                            {
                                var note = Model.Last5ImportantNotes[i];
                                if (note.Type == 0)
                                {
                                    <tr>
                                        <td title="@Model.Last5ImportantNotes[i].Text">
                                            <span class="label label label-danger"> @Model.Last5ImportantNotes[i].ShortenedDetail </span>
                                        </td>
                                    </tr>
                                }
                                else if (note.Type == 1)
                                {
                                    <tr>
                                        <td title="@Model.Last5ImportantNotes[i].Text">
                                            <span class="label label label-info"> @Model.Last5ImportantNotes[i].ShortenedDetail </span>
                                        </td>
                                    </tr>
                                }
                                else if (note.Type == 2)
                                {
                                    <tr @(i % 2 == 0 ? "class=warning" : "")>
                                        <td title="@Model.Last5ImportantNotes[i].Text">
                                            @Model.Last5ImportantNotes[i].ShortenedDetail
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Authentication.IsAllowedToSee("ObligorDetailImportantInfo"))
    {
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="portlet box red-soft">
                <div class="portlet-title">
                    <div class="caption">
                        Önemli Bilgiler
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-hover table-condensed">
                            <tbody>
                                <tr>
                                    <td class="col-lg-6 col-md-4 col-sm-6 col-xs-6 bg-red-soft bg-font-red-soft">Toplam Takip Bakiyesi</td>
                                    <td class="col-lg-6 col-md-8 col-sm-6 col-xs-6">@Model.ToplamTakipBakiyesi</td>
                                </tr>
                                <tr>
                                    <td class="bg-red-soft bg-font-red-soft">KBB Skor</td>
                                    <td>@Model.KbbSkor</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>

    <div class="row" style="display:none;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div class="tabbable tabbable-tabdrop">
                        <ul class="nav nav-tabs">
                            @if (Model.TabList.Any())
                            {
                                foreach (var tab in Model.TabList)
                                {
                                    if (Authentication.UserRules.Any(u => u == tab.RuleName.Replace(" ", "")) || Authentication.UserInfo.IsAdmin)
                                    {
                                        <li>
                                            <a href="@("#tab" + tab.Id)" data-id="@(tab.Id)" data-toggle="tab">
                                                @tab.Header
                                                <i class="fa fa-refresh" style="display: none;"></i>
                                            </a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                        <div class="tab-content">
                            @if (Model.TabList.Any())
                            {
                                foreach (var tab in Model.TabList)
                                {
                            <div class="tab-pane" id="@("tab" + tab.Id)">Yükleniyor...</div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmationProtocolCancelModal" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Protokolü silmek istediğinize emin misiniz?</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-md-3 control-label">İptal Etme Sebebi:</label>
                        <div class="col-md-9">
                            <select class="form-control" id="protocolCancelReason">
                                <option value="-1">Lütfen seçiniz</option>
                                @foreach (var reason in Model.ProtocolCancelReasonList)
                                {
                                    <option value="@reason">@reason</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">İptal</button>
                    <button type="button" id="protocolCancelModalOk" disabled="disabled" class="btn green" onclick=" ProtocolHistory.DeleteProtocol() ">Evet</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdlSpecialExecution" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Özel İnfaz</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <span data-id="content">
                            Dosyayı özel infaz ile kapatmak için onaya gönderiyorsunuz!
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="radio" name="SpecialExecution" value="" id="spe1"/>
                            <label for="spe1">Borçlu protokol tutarının tamamını ödedi</label>
                        </div>
                        <div class="col-md-12">
                            <input type="radio" name="SpecialExecution" value="" id="spe2"/>
                            <label for="spe2">Borçlu anlaşma sağlanılan indirimli tutarı ödedi</label>
                        </div>
                        <div class="col-md-12">
                            <input type="radio" name="SpecialExecution" value="" id="spe3"/>
                            <label for="spe3">Borçlunun kalan borcu bulunmamaktadır</label>
                        </div>
                        <div class="col-md-12">
                            <input type="radio" name="SpecialExecution" value="" id="spe4"/>
                            <label for="spe4">Diğer</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control"
                                   style="display: none"
                                   data-id="txtOtherReasonForExecution"
                                   type="text" minlength="15" maxlength="100"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">İptal</button>
                    <button type="button" id="protocolCancelModalOk" class="btn green" onclick="Debit.CheckSpecialExecution()">Devam</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cnfrmChangeAccountOwner" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Ödeme Sahibi Değiştirme Onayı</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <span data-id="content">

                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">İptal</button>
                    <button type="button" class="btn green" data-id="btnSubmit">Evet</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="debitExecutionModal" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Onay</h4>
                </div>
                <div class="modal-body">
                    Seçili borcu infaz etmek istediğinize emin misiniz?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">İptal</button>
                    <button type="button" id="debitExecutionModalOk" class="btn green" onclick="Debit.DoExecution()">Evet</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="paymentPromiseModal" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Ödeme Sözü</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label class="col-md-offset-3 col-md-3 control-label">Plan Tutarı</label>
                        <div class="col-md-3">
                            <input class="form-control"
                                   id="txtPaymentPromisePlanAmount"
                                   type="text"
                                   style="text-align:right;"
                                   value="0.00"
                                   data-value="0.00"
                                   data-inputmask="'alias': 'decimal'" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-offset-3 col-md-3 control-label">Peşinat</label>
                        <div class="col-md-3">
                            <input class="form-control"
                                   id="txtPaymentPromiseAdvancePayment"
                                   type="text"
                                   style="text-align:right;"
                                   data-value="0.00"
                                   data-inputmask="'alias': 'decimal'" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-offset-3 col-md-3 control-label">Taksit Sayısı</label>
                        <div class="col-md-3">
                            <input class="form-control"
                                   id="txtPaymentPromiseInstall"
                                   type="text"
                                   style="text-align:right;"
                                   data-value="0"
                                   data-inputmask="'alias': 'integer'" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-offset-3 col-md-3 control-label">Ödeme Tarihi</label>
                        <div class="input-group col-md-3 date date-picker"
                             data-date-format="dd-mm-yyyy"
                             data-date-start-date="+0d">
                            <input class="form-control"
                                   id="txtPaymentPromiseDate"
                                   readonly=""
                                   type="text" />
                            <span class="input-group-btn">
                                <button class="btn default" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">İptal</button>
                    <button type="button" id="debitExecutionModalOk" class="btn green" onclick="PaymentPromise.Submit()">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    Html.RenderPartial("/Views/Shared/_ObligorTabTemplates.cshtml");

    @section PageScripts{
        @Scripts.Render("~/assets/global/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js")
        @Scripts.Render("~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js")
        @Scripts.Render("~/Content/scripts/ObligorDetail.js")
        <script type="text/javascript">
            var smsTemplateVariables = JSON.parse('@Html.Raw(Json.Encode(Model.SmsTemplateDictionary))');
            var reminderTypes = JSON.parse('@Html.Raw(Json.Encode(Model.ReminderTypes))');
            var callResults = JSON.parse('@Html.Raw(Json.Encode(Model.CallResults))');
            var selectedTab = "@Html.Raw(String.IsNullOrWhiteSpace(new AppSettingUipc().SelectedTabId) ? "1" : new AppSettingUipc().SelectedTabId)";
            var isLawyer = "@Authentication.IsAllowedToSee("HukukDisBuro")" === "True";
            var savedProtocol = [];
            var CampaignId = 0;
            var folderOwner = '@(Model.DosyaSahibi)';

            //Skoru 1 den buyuk olanlar icin protocol valuesu update islemi - 07-05-17
            var userScore = parseFloat('@(@Model.Score)'.replace(",", "."));
            var dependentScore = 1;
            var scoreMultiplier = 1.15;
            var paymentPlanTypes = JSON.parse('@Html.Raw(Json.Encode(Model.PaymentPlanTypes))');
            // ********************************************************

            $(ObligorDetail.Init());

        </script>
    }
}
else
{
    <span>Sistemde bir sorun oluştu. Lütfen sorun hakkında sistem yöneticinize danışın !!</span>
}

