﻿@model  List<Efes.Entities.Obligor.Gkf>
@{
    ViewBag.Title = "GKF Listesi";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">GKF Listesi</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="form-group">
                    <label class="control-label col-md-1">Tarih</label>
                    @using (Html.BeginForm("GkfList", "Obligor", FormMethod.Get, new { id = "gkfForm" }))
                    {
                        <div class="col-md-3">

                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                <input type="text" class="form-control" readonly name="dateTime" onchange="GetData();" id="txtDate" value="@ViewBag.Date">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-8" id="divDates">
                            @*<input type="hidden" name="type" value="SULHIBRASOZLESMESI" id="hdnType" />*@
                            <div id="selector" class="btn-group">
                                <button type="button" class="btn btn-sm blue active" data-type="SULHIBRASOZLESMESI"> Sulh İbra Sözleşmesi</button>
                                <button type="button" class="btn btn-sm blue" data-type="TAKSITSOZLESME">Taksit Sözleşmesi</button>
                                <button type="button" class="btn btn-sm blue" data-type="GENELKABULKRITERLERIFORMU">Genel Kabul Kriterleri Formu</button>
                                <button type="button" class="btn btn-sm blue" data-type="IBRANAME">İbraname</button>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.Any())
                {
                    <table class="table table-striped table-bordered table-hover tablePager">
                        <thead>
                            <tr>
                                <th> Account Id </th>
                                <th> Portföy </th>
                                <th> İsim </th>
                                <th> Oluşturan </th>
                                <th> Oluşturulma Tarihi </th>
                                <th> Gönderi Tipi </th>
                                <th> İşlemler </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="">
                                    <td><a href="/Obligor/Detail?accountId=@item.AccountId">@item.AccountId</a></td>
                                    <td>@item.SourceSet</td>
                                    <td>@item.DisplayName</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.CreatedDateTime</td>
                                    <td>@item.SendType</td>
                                    <th>
                                        <a href="@item.ReportPage" target="_blank" class="btn btn-sm blue btn-block">Görüntüle</a>
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                }


                @if (!Model.Any())
                {
                    <div class="alert alert-info margin-top-40  ">
                        <strong>Bilgi!</strong> GKF bulunmamaktadır.
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section PageScripts{

    <script type="text/javascript">
        $(function () {
            $(".tablePager").dataTable($.extend(CommonDataTablesSettings, { "order": [[4, "desc"]], "pageLength": 20 }));
            var type = Utility.GetQueryString("type");
            if (type) {
                var button = $("#divDates [data-type='" + type + "']");
                $(button).addClass('active').siblings().removeClass('active');
            }
        });
        $('#selector button').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
            GetData();
            // TODO: insert whatever you want to do with $(this) here
        });
        var GetData = function () {

            var date = $("#txtDate").val();
            var type = $("#divDates button.active").data("type");
            location.href = "/Obligor/GkfList?dateTime=" + date + "&type=" + type;
        }
    </script>
}
