﻿@model List<Efes.Entities.Obligor.Obligor>

@{
    ViewBag.Title = "Arama Sonuçları";
}

<style type="text/css">
    td {
        text-indent: 3px;
    }

    table.dataTable thead .sorting:after {
        opacity: 0.2;
        content: "";
    }

    table.dataTable thead .sorting_asc:after {
        content: "";
    }

    table.dataTable thead .sorting_desc:after {
        content: "";
    }
</style>

<div class="row">
    <div class="col-md-12" id="fileUploadDiv">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Hesaplar</span>
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="searckListTable">
                    <thead>
                    <tr>
                        <th> Id </th>
                        <th> Tc Kimlik Numarası </th>
                        <th> Account Id </th>
                        <th> Ad </th>
                        <th> Soyad</th>
                        <th> GSM </th>
                        <th> Portfoy</th>
                        <th> Borç İle İlişkisi</th>
                        <th> İcra Dosyası</th>
                        <th> İcra Dairesi</th>
                        <th> Anapara</th>
                        <th> Toplam Risk</th>
                        <th> Dosya Sahibi</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var m in Model)
                    {
                        <tr class="@(m.IsBiggest ? "danger" : "")" data-contact-id="@m.ContactRecId">
                            <td> <a href="@Url.Action("Detail", new {accountId = m.AccountId, contactId = (m.RelationAboutDept == "Kefili" ? m.ContactRecId : "")})">@m.Id</a> </td>
                            <td> <a href="@Url.Action("Detail", new {accountId = m.AccountId, contactId = (m.RelationAboutDept == "Kefili" ? m.ContactRecId : "")})">@m.TcNo</a> </td>
                            <td> <a href="@Url.Action("Detail", new {accountId = m.AccountId, contactId = (m.RelationAboutDept == "Kefili" ? m.ContactRecId : "")})">@m.AccountId</a> </td>
                            <td> @m.Name</td>
                            <td> @m.Surname </td>
                            <td> @m.Gsm</td>
                            <td> @m.Portfoy</td>
                            <td> @m.RelationAboutDept</td>
                            <td> @m.ExecutionFile</td>
                            <td> @m.ExecutionDetail</td>
                            <td> @m.TotalPrincipal</td>
                            <td> @m.TotalRisk</td>
                            <td> @m.Owner</td>
                            @*<td> @m.Bank</td>*@
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script type="text/javascript">
        $($("#searckListTable").dataTable(CommonDataTablesSettings));
    </script>
}

