﻿@model  Efes.Models.CreateUserModel

@{
    ViewBag.Title = "Kullanıcı Yönetimi";
}

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div class="portlet light portlet-fit bordered" id="blockPlace">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp sbold">Kullanıcı Oluşturma</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            <label class="col-md-3 control-label">İsim</label>
                            <div class="col-md-3">
                                <input type="text" name="User.Name" class="form-control" value="@(Model.User.Name)" />
                                @Html.ValidationMessageFor(model => model.User.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Login İsmi</label>
                            <div class="col-md-3">
                                <input type="text" name="User.LoginName" class="form-control" value="@(Model.User.LoginName)" />
                                @Html.ValidationMessageFor(model => model.User.LoginName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Email</label>
                            <div class="col-md-3">
                                <input type="text" name="User.Email" class="form-control" value="@(Model.User.Email)" />
                                @Html.ValidationMessageFor(model => model.User.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Avatar Url</label>
                            <div class="col-md-3">
                                <input type="text" name="User.ImagePath" class="form-control" value="@(Model.User.ImagePath)" />
                                @Html.ValidationMessageFor(model => model.User.ImagePath)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Takım Lideri</label>
                            <div class="col-md-3">
                                <select class="form-control" id="protocolCancelReason" name="User.TeamLeaderId">
                                    @foreach (var teamLeader in Model.TeamLeaderList)
                                    {
                                        <option value="@teamLeader.Id" @(Model.User.TeamLeaderId == teamLeader.Id ? "selected='selected'": "")>@teamLeader.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Onaya Gönder" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Geri Dön", "Index")
</div>
