﻿@model Efes.Entities.User.User

@{
    ViewBag.Title = "Kullanıcı Yönetimi";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-sharp sbold">Detay Görüntüleme</span>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE TABLE PORTLET-->
                    <div class="portlet">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ImagePath)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ImagePath)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LoginName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LoginName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreatedBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreatedDate)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.IsActive)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UpdatedBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UpdatedBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.IsSecurePassword)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.IsSecurePassword)
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
