﻿@model Efes.Entities.User.User

@{
    ViewBag.Title = "Kullanıcı Yönetimi";
}

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <div class="portlet light portlet-fit bordered" id="blockPlace">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-blue-sharp sbold">Kullanıcı Düzenleme</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label class="col-md-3 control-label">İsim</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Login İsmi</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.LoginName)
                                @Html.ValidationMessageFor(model => model.LoginName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Avatar Url</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ImagePath)
                                @Html.ValidationMessageFor(model => model.ImagePath)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Aktif</label>
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.IsActive, new { @checked = "checked" })
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9 pull-right">
                                <button type="submit" class="btn green">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>

    @Html.ActionLink("Listeye Geri Dön", "Index")
   
</div>
