﻿@model IEnumerable<Efes.Entities.User.User>

@{
    ViewBag.Title = "Kullanıcı Yönetimi";
}


<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered" id="blockPlace">
            <div class="portlet-title">
                <div class="caption">
                    @*<i class="fa fa-tty font-blue-sharp"></i>*@
                    <span class="caption-subject font-blue-sharp sbold">Kullanıcı Listesi</span>
                </div>

                @Html.ActionLink("Yeni Kullanıcı", "Create", "CreateNew", new { @class = "btn btn-sm green-meadow pull-right" })
            </div>
            <div class="portlet-body">
                
                @if (Model.Any())
                {
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                            <div class="portlet">
                                <div class="portlet-body">
                                    <div class="table-scrollable">
                                        <table class="table table-striped table-bordered table-advance table-hover tablePager">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        İsim
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>
                                                    <th>
                                                        Oluşturulma Tarihi
                                                    </th>
                                                    <th>
                                                        Aktif
                                                    </th>
                                                    <th>İşlemler</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Email)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.IsActive)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-sm yellow-gold btn-outline sbold" })
                                                            @Html.ActionLink("Görüntüle", "Details", new { id = item.Id }, new { @class = "btn btn-sm blue-hoki btn-outline sbold" })
                                                            @Html.ActionLink("Rol Ekle/Çıkar", "UserRoles", "Authorization", new { id = item.Id }, new { @class = "btn btn-sm red-haze btn-outline sbold" })
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script type="text/javascript">
        $(function () {
            $(".tablePager").dataTable($.extend(CommonDataTablesSettings, { "pageLength": 20 }));
        })
    </script>
}
