﻿@model  Efes.Backoffice.Models.LoginViewModel
@{
    ViewBag.Title = "Efes Varlık Yönetim A.Ş | Kullanıcı Girişi";
    Layout = null;
}
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pages/css/login-4.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <style type="text/css">
        /*ValidationSummary hatalarinda ul ve li leri kaldirir.*/
        .validation-summary-errors ul { list-style: none; margin-left: -40px; }
    </style>
</head>

<body class=" login">
    <div class="logo">
        <a href="/">
            <img src="/Content/img/logo.png" alt="" />
        </a>
    </div>
    <div class="content">
        <form class="login-form" method="post" id="login">
            <h3 class="form-title">Hesabınıza giriş yapın</h3>
            @if (!ViewData.ModelState.IsValid)
            {
                <div style="display: block;" class="alert alert-danger display-hide">
                    @*<button class="close" data-close="alert"></button>*@
                    @Html.ValidationSummary(true)
                </div>
            }

            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Kullanıcı adı</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" type="text" id="username" placeholder="Kullanıcı Adı" name="username" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Şifre</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" id="password" placeholder="Şifre" name="password" />

                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox">
                    <input type="checkbox" name="remember" id="remember" value="1" /> Beni Hatırla
                </label>
                <button type="submit" class="btn green pull-right"> Giriş </button>
            </div>
            <div class="forget-password">
                <p>
                    Şifremi
                    <a href="javascript:;" id="forget-password"><b> unuttum.</b> </a>
                </p>
            </div>
            <div class="forget-password">
                <p>
                    Şifre
                    <a href="@Url.Action("ChangePassword", "Account")" id="change-password"><b> değiştir</b> </a> 
                </p>
            </div>
        </form>
        <form class="forget-form" action="ResetPassword" method="post">
            <h3>Şifremi unuttum</h3>
            <p> Şifrenizi yenilemek için email adresinizi giriniz </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn red btn-outline">Geri </button>
                <button type="submit" class="btn green pull-right"> Gönder </button>
            </div>
        </form>
    </div>
    <div class="copyright">  @DateTime.Now.Year &copy; <a href="http://www.silikonakademi.com" target="_blank"><b>Silikon Akademi </b></a> </div>
    <!--[if lt IE 9]>
    <script src="/assets/global/plugins/respond.min.js"></script>
    <script src="/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <script src="/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="/assets/pages/scripts/login-4.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var remember = $.cookie("remember");
            if (remember === "true") {
                var username = $.cookie("username");
                var password = $.cookie("password");
                $("#username").val(username);
                $("#password").val(password);

                $("#remember").prop('checked', true);
            }

            $.uniform.update();


            $("#login").submit(function () {
                if ($("#remember").is(":checked")) {
                    var email = $("#username").val();
                    var password = $("#password").val();

                    // set cookies to expire in 14 days
                    $.cookie("username", email, { expires: 14 });
                    $.cookie("password", password, { expires: 14 });
                    $.cookie("remember", true, { expires: 14 });
                }
                else {
                    // reset cookies
                    $.cookie("username", null);
                    $.cookie("password", null);
                    $.cookie("remember", null);
                }
            });
        });
    </script>
</body>

</html>